﻿@page
@model MarketPlace.Pages.SpecialDiscountList.IndexModel

@{ ViewData["Title"] = "Index"; }
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Ajouter des remises et des promotions sur les produits de votre catalogue en toute simplicit&eacute;
            </p>

        </div>
    </div>
</div>

<br />

<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Remises spéciales</h2>
    </div>
</div>



<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1 class=" ml-3">@Model.Article.Name</h1>
<h2 class=" ml-3">Prix de base: @Model.Article.Price € Lot de  @Model.Article.Lot</h2>


<div class="row">
    <div class="col-3">
        <a role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left"
           asp-page="Create" asp-route-articleId="@Model.Article.Id">
            Ajouter une remise
        </a>
    </div>

    <div class="col-7"></div>
    <div class="col-2 py-4 text-center text-white">
    </div>
</div>

<div class="col-12 border p-3">
    <table id="myTable" class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Discounts[0].Id)*@
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Discounts[0].DiscountRate)*@
                    Chiffre d'affaire
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Discounts[0].DiscountPrice)*@
                    Remise accordée
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Discounts[0].Quantity)*@
                    Score (1€/ X points)
                </th>
                <th>
                    Date de début
                    @*@Html.DisplayNameFor(model => model.Discounts[0].DiscountStartDate)*@
                </th>
                <th>
                    Date de fin
                    @*@Html.DisplayNameFor(model => model.Discounts[0].DiscountEndDate)*@
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-7"></div>
        <div class="col-2 py-4 text-center text-white">
            <a asp-page="/ArticleList/IndexDiscounts" asp-route-articleId="@Model.Article.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage des remises _START_ à _END_ sur _TOTAL_ remises",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ remises au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucune remise correspondante trouvée",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    },
                    "emptyTable": "Vous n'avez pas encore défini les remises et promotions sur ce produit"
                },
                "ajax": {
                    url: "/SpecialDiscountList/Index?articleId="+@Model.Article.Id,
                    type: 'POST',
                             headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/SpecialDiscountList/edit?id=' + row.id + '&articleId=' + row.articleId + '"><i class="fas fa-pencil-alt" style="font-size:18px; color:#76B72A"></i></a> &nbsp; <a href="/SpecialDiscountList/delete?id=' + row.id + '&articleId=' + row.articleId + '"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size:24px;color:red"></i></a>';
                        },
                        "sortable": false
                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false },
                    {
                        "name": "TurnOver", "data": "turnOver",
                        "render": function (data, type, row) {
                            return row['turnOver']
                        }, "targets": 1 },
                    { "name": "DiscountAmount", "data": "discountAmount", "targets": 2 },
                    { "name": "Score", "data": "score", "targets": 3 },
                    {
                        "name": "DiscountStartDate", "data": "discountStartDate",
                        "render": function (data, type, row) {
                            return row['discountStartDate'].split('T')[0]
                        },

                        "targets": 4
                    },
                    {
                        "name": "DiscountEndDate", "data": "discountEndDate",
                        "render": function (data, type, row) {
                            return row['discountEndDate'].split('T')[0]
                        }, "targets": 5 },
                   { "name": "ArticleId", "data": "articleId", "targets": 6, "visible": false },
                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}
