﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<nav id="cookieConsent" class="navbar sm navbar-expand-sm bg-light fixed-bottom lighten-5" role="alert">
    <div class="container-fluid">

      
    
            <div class="col-10">
                <h6><strong>Politique relative aux cookies</strong></h6>
                <span style="font-size:smaller">En poursuivant votre navigation, vous acceptez l’utilisation de cookies qui permettront notamment de vous offrir des contenus et des publicités liés à vos centres d'intérêt.</span>

            </div>

            <div class="col-1">

                <a type="button" asp-page="/Index" class="btn  btn-rounded btn-sm btn-block text-white boutonvert" data-cookie-string="@cookieString">Accepter</a>
            </div>
                    <div class="col-1">

                        <a asp-page="/DataProtection" class="btn btn-sm boutonvertbleu btn-rounded text-white btn-block ">En savoir plus</a>
                  
                    </div>
     
    </div>
   
</nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent a[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
                
            }, false);
        })();
    </script>
}

@section Scripts{

}
