﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer;

@inject MarketPlace.Resources.SharedLocalizationService SharedLocalizer;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MarketPlace Pharma Shop Center </title>

    <environment include="development">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS -->



        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/mdb.min.css" />
        <link rel="stylesheet" href="~/css/wysiwyg.css">

        <link rel="stylesheet" href="~/css/addons/mdb-carousel-3d.min.css">
        <link rel="stylesheet" href="~/css/addons/mdb-file-upload.css">
        <link rel="stylesheet" href="~/css/addons/mdb-filter.min.css">
        <link rel="stylesheet" href="~/css/addons/mdb-vector-map.css">

        <link rel="stylesheet" href="~/css/addons/pickr.min.css">
        <link rel="stylesheet" href="~/css/addons/datatables.min.css">
        <link rel="stylesheet" href="~/css/addons/table-editor.min.css">
        <link rel="stylesheet" href="~/css/addons/fsscroller.min.css" />
        <link rel="stylesheet" href="~/css/addons/fullcalendar.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link href="~/css/zut.css" rel="stylesheet" />
        <link href="~/css/addons-pro/timeline.min.css" rel="stylesheet">
        <link href="~/css/dist/sweetalert2.min.css" rel="stylesheet" />
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/css/site.css">
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

        <style>
            .socialmedia:hover ul {
                color: #76B72A;
            }

            .select_box {
                overflow: hidden;
                border: 0px solid #000;
                position: relative;
                padding: 10px 0;
            }

                .select_box:after {
                    width: 0;
                    height: 0;
                    background-color: #1f61ab;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid #fff;
                    position: absolute;
                    top: 40%;
                    right: 5px;
                    content: "";
                    z-index: 98;
                }

                .select_box select {
                    border: 0;
                    position: relative;
                    z-index: 99;
                    background: none;
                }
        </style>

        <style>

            select {
                /* styling */
                background-color: white;
                border: thin solid blue;
                border-radius: 4px;
                display: inline-block;
                font: inherit;
                line-height: 1.5em;
                padding: 0.5em 3.5em 0.5em 1em;
                /* reset */
                margin: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;
            }


                /* arrows */

                select.classic {
                    background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
                    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
                    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                    background-repeat: no-repeat;
                }

                    select.classic:focus {
                        background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
                        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
                        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                        background-repeat: no-repeat;
                        border-color: grey;
                        outline: 0;
                    }




                select.round {
                    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
                    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
                    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
                    background-repeat: no-repeat;
                }

                    select.round:focus {
                        background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
                        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
                        background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
                        background-repeat: no-repeat;
                        border-color: green;
                        outline: 0;
                    }





                select.minimal {
                    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
                    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
                    background-size: 5px 5px, 5px 5px, 1px 1.5em;
                    background-repeat: no-repeat;
                }

                    select.minimal:focus {
                        background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
                        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
                        background-size: 5px 5px, 5px 5px, 1px 1.5em;
                        background-repeat: no-repeat;
                        border-color: green;
                        outline: 0;
                    }


                select:-moz-focusring {
                    color: transparent;
                    text-shadow: 0 0 0 #000;
                }
        </style>

    </environment>

</head>
<body class="homepage-v3 hidden-sn grey lighten-4 animated">


    <header>
        <div class="row fixed-top mb-0 ">
            <div class=" col-3 progress-bar  boutonbleu   progress-bar progress-bar-animated progress-bar-striped" style="width: 100%;font-size:smaller; font-size:10px ;height:2px"></div>
            <div class=" col-2  progress-bar  boutonbleu   progress-bar progress-bar-animated progress-bar-striped" style="width: 100%;font-size:smaller; font-size:10px ;height:2px"></div>
            <div class=" col-3 progress-bar  boutonbleu   progress-bar progress-bar-animated progress-bar-striped" style="width: 100%;font-size:smaller; font-size:10px ;height:2px"></div>
            <div class=" col-4 progress-bar  boutonbleu   progress-bar progress-bar-animated progress-bar-striped" style="width: 100%;font-size:smaller; font-size:10px ;height:2px"></div>
        </div>

        @*<div class="col-3 boutonvertbleu" style="font-size:smaller; font-size:10px ;height:4px"></div>
            <div class="col-2 boutonbleu" style="font-size:smaller; font-size:10px ;height:4px"></div>
            <div class="col-3 boutonbleuinfo" style="font-size:smaller; font-size:10px ;height:4px"></div>
            <div class="col-4 boutonvert" style="font-size:smaller; font-size:10px; height:4px"></div>*@

        <nav class="navbar  fixed-top  navbar-expand-lg navbar-light scrolling-navbar text-white copyright" style="margin-top:2px;padding-top:0px;padding-bottom:0px">
            <ul class="navbar-nav container-fluid    ">
                <li class="nav-item   ">

                    <a class="navbar-brand textevertbleu float-left" asp-area="" asp-page="/Index">
                        <img src="~/images/logo_pharmashopcenter_BLANC_transparent_S.png" height="49" width="150" />


                    </a>

                </li>


                <li class="nav-item   ">


                    <button class="navbar-toggler bg-white float-left mb-1 " type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    </button>





                    @*<a class="navbar-brand font-weight-bold  " asp-area="" asp-page="/Market"><strong class="text-white">SHOP&nbsp;PRO</strong></a>*@

                    @{
                        if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                        {

                            <a asp-area="" asp-page="/Index" data-activates="slide-out" class="button-collapse   float-left  text-white"> <i class=" text-white fa fa-bars  " aria-hidden="false"></i>   </a>



                            @*<p>Username: @HttpContextAccessor.HttpContext.User.Identity.Name</p>*@
                        }
                        else
                        { }
                    }


                </li>


                <li class="nav-item   ">

                    <a class="nav-link waves-effect float-left waves-light text-white font-weight-bold " asp-area="" asp-page="/Index">

                        @SharedLocalizer.GetLocalizedHtmlString("HOME") <span class="sr-only">(current)</span>
                    </a>


                </li>

                <li class="nav-item dropdown mega-dropdown ml-1 float-left  ">
                    <a class="nav-link waves-effect waves-light text-white font-weight-bold copyright dropdown-toggle" id="navbarDropdownMenuLink5" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer.GetLocalizedHtmlString("OUR_SOLUTIONS")
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu mega-menu v-3 z-depth-1 bg-white   px-3"
                         aria-labelledby="navbarDropdownMenuLink5">
                        <div class="row">
                            <div class="col-1">
                                @{
                                    if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                                    {


                                        if (HttpContextAccessor.HttpContext.Request.Cookies["Firstname"] != null)
                                        {

                                        }

                                        <img src="@HttpContextAccessor.HttpContext.Request.Cookies["UserCompanyLogo"] " class="img-fluid rounded-circle hoverable"
                                             alt="hoverable">
                                        <span>@HttpContextAccessor.HttpContext.Request.Cookies["Slogan"]</span>

                                        @*<p>Username: @HttpContextAccessor.HttpContext.User.Identity.Name</p>*@
                                    }
                                    else
                                    {

                                        <span>
                                            Citation Olivier Atinbop
                                        </span>
                                    }
                                }



                            </div>
                            <div class="col-md-6 col-xl-2 sub-menu mb-xl-0 mb-5">
                                <ul class="list-unstyled">
                                    <li class="sub-title text-uppercase ml-5 pl-5">
                                        <div class="row justify-content-center align-items-center">

                                            <div class="col-1 justify-content-center align-items-center d-flex">

                                            </div>

                                            <div class="col-11  ">

                                                <a class="menu-item pl-1 mt-1" asp-area="" asp-page="/Market/Index" style="color:#095260 ; font-size:small">
                                                    <strong>Commandes en Sharing Buying</strong>
                                                </a>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="sub-title text-uppercase ml-5 pl-5">
                                        <div class="row justify-content-center align-items-center">

                                            <div class="col-1 justify-content-center align-items-center d-flex">


                                            </div>

                                            <div class="col-11">
                                                <a class="menu-item pl-1  " href="../About/#MarketPlacePharma" style="        color: #095260;       font-size: small
">
                                                    <strong>Market Place online pour Pharmacies </strong>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sub-title text-uppercase ml-5 pl-5">
                                        <div class="row justify-content-center align-items-center">

                                            <div class="col-1 justify-content-center align-items-center d-flex">


                                            </div>

                                            <div class="col-11">
                                                <a class="menu-item pl-1  " href="../About/#Ventedegros" style="color:#095260; font-size:small">
                                                    <strong>Appel d'offre médical</strong>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sub-title text-uppercase ml-5 pl-5">
                                        <div class="row justify-content-center align-items-center">

                                            <div class="col-1 justify-content-center align-items-center d-flex">


                                            </div>

                                            <div class="col-11">
                                                <a class="menu-item pl-1  " href="../About/#Gesco" style="color:#095260; font-size:small">
                                                    <strong>Solution Globale de Gestion commerciale</strong>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sub-title text-uppercase ml-5 pl-5">
                                        <div class="row justify-content-center align-items-center">

                                            <div class="col-1 justify-content-center align-items-center d-flex">


                                            </div>

                                            <div class="col-11">
                                                <a class="menu-item pl-1  " href="../About/#PIM" style="color:#095260; font-size:small">
                                                    <strong>Solution de gestion du catalogue produit </strong>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 col-xl-3 sub-menu mb-md-0 mb-xl-0 mb-4" style="color:#095260">

                                <a href="#!" class="view overlay z-depth-1 p-0 mb-3">
                                    <img src="~/images/SharingBuyingMenu.jpg"
                                         class="img-fluid    hoverable"
                                         alt="hoverable">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                                @*<h4 class="mb-2">
                                        <a class="news-title font-weight-bold pl-0" href="#!" style="color:#095260">Commandes&nbsp;directes&nbsp;et&nbsp;collaboratives&nbsp;en&nbsp;temps&nbsp;réel </a>
                                    </h4>*@
                                <p class="font-small text-uppercase ">

                                    <div class="mr-auto row">
                                        <div class="col-3  "></div>
                                        <div class="col-6 align-content-center align-items-center d-flex "> <a asp-area="" asp-page="/Market/Index" class="btn btn-lg boutonbleu btn-rounded ml-0"><span style="width: 150px; color:white ;display: inline-block; font-size: medium;  "><strong>Sharing Buying</strong></span></a></div>
                                        <div class="col-3 "></div>
                                    </div>
                                </p>
                            </div>
                            <div class="col-md-6 col-xl-3 sub-menu mb-0">

                                <a href="#!" class="view overlay z-depth-1 p-0 mb-3">
                                    <img src="~/images/CommercialMenu.jpg"
                                         class="img-fluid   hoverable"
                                         alt="hoverable">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                                @*<h4 class="mb-2">
                                        <a class="news-title font-weight-bold pl-0" href="#!" style="color:#095260">Outil de gestion commerciale et analytique</a>
                                    </h4>*@
                                <p class="font-small text-uppercase ">


                                    <div class="mr-auto row ">
                                        <div class="col-3 "></div>
                                        <div class="col-6  align-content-center align-items-center d-flex "><a asp-area="" asp-page="/Dashboard/Index" class="btn btn-lg boutonbleu btn-rounded ml-0"><span style="width: 150px;  color:white; display: inline-block;font-size: medium;  font-size: large"><strong>Dashboard</strong></span></a></div>
                                        <div class="col-3  "></div>
                                    </div>
                                </p>
                            </div>
                            <div class="col-md-6 col-xl-3 sub-menu mb-xl-0 mb-4" style="color:#095260">

                                <a href="#!" class="view overlay z-depth-1 p-0 mb-3">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg"
                                         class="img-fluid   hoverable"
                                         alt="hoverable">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                                @*<h4 class="mb-2">
                                        <a href="https://localhost:44390/Login/Register" class="news-title font-weight-bold pl-0" style="color:#095260">Outil de Gestion du catalogue produit</a>
                                    </h4>*@
                                <p class="font-small text-uppercase ">

                                    <div class="mr-auto row">
                                        <div class="col-3  "></div>
                                        <div class="col-6   align-content-center align-items-center d-flex"> <a a asp-area="" asp-page="/ArticleList/Index" class="btn btn-lg boutonbleu btn-rounded  ml-0"><span style="width: 150px; color:white; display: inline-block; font-size: large"><strong>P.I.M</strong></span></a></div>
                                        <div class="col-3  "></div>
                                    </div>

                                </p>
                            </div>


                        </div>

                    </div>
                </li>




                <li class="nav-item   float-right mb-2 ">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

                        <ul class="navbar-nav ml-auto">

                            <partial name="_LoginPartial" />

                            <li class="nav-item ml-3 pt-2  ">
                                <div class="input-group">
                                    @using System.Threading.Tasks
                                    @using Microsoft.AspNetCore.Builder
                                    @using Microsoft.AspNetCore.Localization
                                    @using Microsoft.AspNetCore.Mvc.Localization
                                    @using Microsoft.Extensions.Options

                                    @inject IViewLocalizer Localizer
                                    @inject IOptions<RequestLocalizationOptions> LocOptions

                                    @{
                                        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                                        var cultureItems = LocOptions.Value.SupportedUICultures
                                            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                                            .ToList();
                                    }

                                    <div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
                                        <form id="selectLanguage" asp-controller="SetLanguage" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" method="post" class="form-horizontal" role="form">
                                            @*<label class="form-label">@SharedLocalizer.GetLocalizedHtmlString("LANGUAGE")</label>*@


                                            <select onchange="this.form.submit()" style="  font-size:x-small" id="Selectedlanguage" class="custom-select minimal" name="culture"
                                                    asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                                            @*<div class="input-group-append">

                                                    <button type="submit" class="btn-sm "> <i class="far fa-save"></i></button>
                                                </div>*@

                                        </form>



                                    </div>


                                </div>
                            </li>
                        </ul>

                    </div>



                </li>
            </ul>
        </nav>


        <nav class="navbar   navbar-expand-lg navbar-light scrolling-navbar text-white bg-gray lighten-3 " style="margin-top:0px;  font-size: small">

            <div class="container-fluid row  mt-2 ">

                <div class="col-3 container-fluid  ">
                    <div class="container-fluid row"><strong>Top vente</strong></div>
                    <div class="container-fluid row">Lansinoh</div>
                    <div class="container-fluid row">Pranarom</div>
                    <div class="container-fluid row">Ella</div>


                </div>
                <div class="col-3 container-fluid ">
                    <div class="container-fluid row"><strong>Sharing Buying</strong></div>
                    <div class="container-fluid row">France</div>
                    <div class="container-fluid row">Belgique</div>
                    <div class="container-fluid row">Espagne</div>

                </div>
                <div class="col-3 container-fluid ">
                    <div class="container-fluid row"><strong>Prochaines clotures</strong></div>
                    <div class="container-fluid row">13/10/2020 <span class="bg-danger">-10%</span></div>
                    <div class="container-fluid row">13/10/2020 -10%</div>

                    <div class="container-fluid row">13/10/2020  <span class="success">-10%</span></div>
                </div>
                <div class="col-3 container-fluid ">
                    <div class="container-fluid row"><strong>Prochaines ouverture</strong></div>

                    <div class="container-fluid row">13/10/2020 <span class="bg-success">-10%</span></div>
                    <div class="container-fluid row">13/10/2020 -10%</div>
                    <div class="container-fluid row">13/10/2020 -10%</div>
                </div>

            </div>
        </nav>


        @{if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
            {
                <ul id="slide-out" class="side-nav custom-scrollbar copyright">

                    <li class=" bg-white " style="margin-top:0px;padding-top:0px;padding-bottom:4px;margin-bottom:4px">

                        <div class=" align-content-center align-items-center    " style="margin-top:0px;padding-top:0px;padding-bottom:1px;margin-bottom:1px">

                            <a class="=mb-5" asp-page="Index"><img src="~/images/logo_pharmashopcenter_couleurs_transparent_s.png" height="49" width="150" /></a>

                        </div>

                    </li>

                    <li>

                        <ul class="social  mb-5">

                            <li clss="mb-5">
                                <span class="text-white  ">

                                    @{string val = "";



                                        if (HttpContextAccessor.HttpContext.Request.Cookies["Firstname"] != null)
                                        {
                                            val = HttpContextAccessor.HttpContext.Request.Cookies["Firstname"];
                                            <a class="navbar-brand font-weight-bold  mb-3" asp-area="" asp-page="/Market/Fidelite"><strong class="text-white">Hello @val </strong></a>
                                        }

                                    }



                                </span>
                            </li>

                        </ul>

                    </li>

                    <li>

                        <ul class="collapsible collapsible-accordion">

                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-cart-plus">    </i>@SharedLocalizer.GetLocalizedHtmlString("Market Place PRO") <i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a asp-area="" asp-page="/Market/Index" class="waves-effect bg-danger">@SharedLocalizer.GetLocalizedHtmlString("Espace Sharing Buying")</a>

                                        </li>

                                        <li>
                                            <a href="../cart/cart-v2.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Ventes directes et devis") </a>

                                        </li>

                                        <li>
                                            <a href="../cart/cart-v2.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Appels d'offres")  </a>

                                        </li>


                                    </ul>

                                </div>

                            </li>

                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-book-medical"></i> @SharedLocalizer.GetLocalizedHtmlString("Gestion du catalogue produit") <i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a asp-page="ArticleList/Vendre" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer vos produits")  </a>

                                        </li>

                                        <li>
                                            <a asp-page="ArticleList/Create" class="waves-effect  bg-danger">@SharedLocalizer.GetLocalizedHtmlString("Créer des fiches produits")</a>

                                        </li>


                                        <li>
                                            <a asp-page="ArticleList/Edit" class="waves-effect bg-danger">@SharedLocalizer.GetLocalizedHtmlString("Editer les fiches produits")</a>

                                        </li>



                                        <li>
                                            <a asp-page="ArticleList/Create" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer vos stocks") </a>

                                        </li>
                                        <li>
                                            <a asp-page="ArticleList/Create" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Ventes en réassort") </a>

                                        </li>
                                        <li>
                                            <a asp-page="BrandList/Index" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer vos marques") </a>

                                        </li>


                                    </ul>

                                </div>

                            </li>

                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-chart-bar"></i>@SharedLocalizer.GetLocalizedHtmlString("Gestion Commerciale")<i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer vos ventes") </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer vos achats") </a>

                                        </li>



                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Suivi des devis et appels d'offres") </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v3.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Suivi des reversements")</a>

                                        </li>



                                    </ul>

                                </div>

                            </li>


                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-search-dollar"></i>@SharedLocalizer.GetLocalizedHtmlString("Gestion Marketing")<i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a asp-page="/DiscountListV2/Index" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Config offres Sharing Buying") </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Gerer le programme de fidélité") </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Offres promotionnelles") </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v3.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Campagnes marketing et mailing")</a>

                                        </li>



                                    </ul>

                                </div>

                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tools"></i> @SharedLocalizer.GetLocalizedHtmlString("Dashboard et reporting")<i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect"> @SharedLocalizer.GetLocalizedHtmlString("Dashboard") </a>

                                        </li>



                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Export de fichiers")  </a>

                                        </li>

                                    </ul>

                                </div>

                            </li>






                            <li>
                                <a href="../contact/contact.html" class="collapsible-header waves-effect">
                                    <i class="fas fa-building"></i>
                                    @SharedLocalizer.GetLocalizedHtmlString("Informations société")

                                </a>
                            </li>

                            <li>
                                <a href="../contact/contact.html" class="collapsible-header waves-effect">
                                    <i class="fas fa-calendar-alt"></i>
                                    @SharedLocalizer.GetLocalizedHtmlString("Calendrier des évenements")

                                </a>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tools"></i> @SharedLocalizer.GetLocalizedHtmlString("Paramétrage")<i class="fas fa-angle-down rotate-icon"></i>
                                </a>

                                <div class="collapsible-body">

                                    <ul>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect"> @SharedLocalizer.GetLocalizedHtmlString("Valider les accès client") </a>

                                        </li>
                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Envoyer une notification")  </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Suivi des encours")  </a>

                                        </li>

                                        <li>
                                            <a href="../category/category-v1.html" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Effectuer les reversements")  </a>

                                        </li>


                                        <li>
                                            <a asp-page="EmployeesallowedAccessList/Index" class="waves-effect">@SharedLocalizer.GetLocalizedHtmlString("Comptes Utilisateurs")  </a>

                                        </li>


                                    </ul>

                                </div>

                            </li>










                            <li>
                                <form class=collapsible-header waves-effect" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">

                                    <a class="nav-link waves-effect waves-light text-white " href="javascript:;" onclick="parentNode.submit();">
                                        <i class="fas fa-sign-out-alt text-white"></i>@SharedLocalizer.GetLocalizedHtmlString("Déconnexion")

                                    </a>
                                </form>
                            </li>


                    </li>

                    <li>
                        <ul class="social fixed-bottom mb-4 mt-4">

                            <li><span class="text-white"> @SharedLocalizer.GetLocalizedHtmlString("Suivez-nous")</span></li>

                        </ul>

                        <ul class="social  fixed-bottom mb-4">

                            <li><a href="https://www.facebook.com/pharmashopcenter-106403577881229" class="fb-ic  "><i class="fab fa-facebook-f"> </i></a></li>

                            <li><a href="https://www.instagram.com/pharmashopcenter/" class="pin-ic  "><i class="fab fa-instagram"></i></a></li>

                            <li class=" mb-3"><a href="https://twitter.com/PharmaShopCent1" class="tw-ic  "><i class="fab fa-twitter"> </i></a></li>

                        </ul>

                    </li>


                </ul>

            }
        }


        <!-- Sidebar navigation -->
        <!-- Sidebar navigation -->
        <!-- Navbar -->

    </header>


    <partial name="_CookieConsentPartial" />

    @RenderBody()


       
    <!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->







    <footer class="page-footer font-small   pt-4 dark-grey-text" style="background-color: #D6ECF0">


        <div class="container text-center  text-md-left">

            <div class="row">


                <div class="col-md-2 mt-md-0 mt-3">

                    <h3 class="mb-3">
                        <a class="brand " href="https://www.pharmashopcenter.com">

                            <img src="~/images/logo_pharmashopcenter_COULEURS_transparent_S.png" height="32" width="100" />

                        </a>
                    </h3>

                    <p class="mb-1">
                        <strong>
                            57 Grande rue, 78955
                            Carrières Sous Poissy<br />
                            &phone;: +33 1 39 74 77 91
                        </strong>
                    </p>

                </div>

                <div class="col-md-2  mb-md-0 mb-3">

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.pharmashopcenter.com">Acceuil</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>

                            <a class="dark-grey-text" href="https://localhost:44390/About">@IdentityLocalizer.GetLocalizedHtmlString("A propos de nous")</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Contact">Mentions légales</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2  mb-md-0 mb-3">


                    <ul class="list-unstyled">

                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Pharmacies">Devenir vendeur</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Laboratoires">Devenir acheteur</a>
                        </li>

                    </ul>
                    <ul class="list-unstyled">

                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Pharmacies">Partenaires&nbsp;Pharmacies</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Laboratoires">Partenaires&nbsp;Laboratoires</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-2 mb-md-0 mb-3">


                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/CG">Conditions&nbsp;générales</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/DataProtection">Protection&nbsp;des&nbsp;données</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/MentionsLegales">Sharing Buying</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/MentionsLegales">Market Place B2B/B2C</a>
                        </li>
                    </ul>


                </div>


                <div class="col-md-2 col-lg-1 mb-md-0 mb-3">


                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.facebook.com/pharmashopcenter-106403577881229">Facebook</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.instagram.com/pharmashopcenter/">Instagram</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://twitter.com/PharmaShopCent1">Twitter</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.youtube.com/channel/UCSxB3SOCvy--MBiKUCuEkqg">Youtube</a>
                        </li>
                    </ul>


                </div>


                <div class="col-md-2 col-lg-3 mb-md-0 mb-3">
                    <h6 class="mb-4 dark-grey-text list-unstyled">
                        <strong>

                            @IdentityLocalizer.GetLocalizedHtmlString("EN_SAVOIR_PLUS_BAS_DE_PAGE")

                        </strong>
                    </h6>

                    <form id="formVisitor" action="api/visitor">
                        <div class="input-group mb-3">
                            <input id="emailAddressVisitor" type="email" class="form-control" placeholder=" @IdentityLocalizer.GetLocalizedHtmlString("Votre adresse email")" aria-label="Recipient's username"
                                   aria-describedby="basic-addon2" style=" font-size:small" required>
                            <div class="input-group-append">
                                <button typeof="submit" class="input-group-text" id="basic-addon2" style=" font-size:small">@IdentityLocalizer.GetLocalizedHtmlString("Envoyer")</button>
                            </div>
                        </div>
                    </form>
                </div>



            </div>



        </div>



        <div class="copyright text-center py-3 text-white">
            © 2020 Copyright:
            <a class="text-white" href="https://www.pharmashopcenter.com"> Pharmashopcenter.com</a>
        </div>


    </footer>
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/addons/jquery-ui-touch-punch.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/js/mdb.js"></script>
    <script type="text/javascript" src="~/js/wysiwyg.js"></script>
    <script type="text/javascript" src="~/js/addons/moment.min.js"></script>

    <script type="text/javascript" src="~/js/addons/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-carousel-3d.min.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-file-upload.min.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-filter.min.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-fsscroller.min.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-editor-es6.js"></script>
    <script type="text/javascript" src="~/js/addons/mdb-vector-map.min.js"></script>


    <script type="text/javascript" src="~/js/addons/maps/world/world_mill.js"></script>
    <script type="text/javascript" src="~/js/addons/pickr.min.js"></script>
    <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/addons/moment.min.js"></script>
    <script type="text/javascript" src="~/js/addons/fullcalendar.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script>
    <script src="~/js/dist/gauge.js"></script>
    <script src="~/js/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>


     

    <script>
// this is the id of the form
        $("#formVisitor").submit(function(e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
    //  var form = $(this);
     // var url = form.attr('action');

            data0 = {

                emailAddress: document.getElementById('emailAddressVisitor').value

            };
            //var json = JSON.stringify(data0);

            $.ajax({
                type: "GET",
                url: "api/visitor",
                data: data0,
            headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                    success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        document.getElementById("formVisitor").reset();
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
            });
        });

    </script>



    <script type="text/javascript">
        /* WOW.js init */
        new WOW().init();

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });

        // SideNav Initialization
        $(".button-collapse").sideNav();

    </script>





    @RenderSection("Scripts", required: false)
</body>
</html>
