﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<MarketPlace.Model.MarketplaceUser> SignInManager
@inject UserManager<MarketPlace.Model.MarketplaceUser> UserManager
@inject  MarketPlace.Resources.SharedLocalizationService SharedLocalizer
 

@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager


    <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>*@


@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item ml-3">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>*@



    <li class="nav-item  ml-3 float-right">

        <a class="nav-link dark-grey-text font-weight-bold" asp-area="" asp-page="/Market/Chart">


            <span id="NbProductInChart" class="badge danger-color "></span>
            <i class="fas fa-shopping-cart lg white-text " aria-hidden="true"></i>



        </a>

    </li>





    <!-- Dropdown -->
    <li class="nav-item  dropdown  minimal notifications-nav text-white  ml-3 float-right">
        <a class="nav-link dropdown-toggle waves-effect text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


            <span class="badge red">3</span>


            <i class="fas fa-bell text-white"></i>


        </a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>New order received</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
            </a>
            <a class="dropdown-item" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>New order received</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                <span>Your campaign is about to end</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
            </a>
        </div>
    </li>

    <li class="nav-item  float-right ml-3">
        <a class="nav-link waves-effect"><i class="far fa-comments text-white"></i> <span class="clearfix d-none d-sm-inline-block text-white">@*Support*@</span></a>
    </li>

    <li class="nav-item   float-right ml-3">
        <form class="nav-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">

            <a class="nav-link waves-effect waves-light text-white " href="javascript:;" onclick="parentNode.submit();">
                <i class="fas fa-sign-out-alt text-white"></i>
                @*Déconnexion*@
            </a>
        </form>
    </li>

}
else
{
    <li class="nav-item ml-3  float-right">
        <a class="nav-link waves-effect waves-light text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Register">
            @SharedLocalizer.GetLocalizedHtmlString("REGISTER")

        </a>
    </li>

    <li class="nav-item ml-3   float-right">
        <a class="nav-link waves-effect waves-light text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Login">
            @SharedLocalizer.GetLocalizedHtmlString("LOGIN")

        </a>
    </li>




}
