﻿@page
@model MarketPlace.Pages.Contact.EditModel

@{ ViewData["Title"] = "Contact";

    /* var imageVide = "http://pharmacieatinbop-7.wesclient.com/upload/image/-image-211240-moyenne.png";

     var photoPath1 = @Url.Content(Model.Contact.CompanyLogoFile);
     if (@photoPath1 == null) @photoPath1 = imageVide;*/

}


<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Mettre à jour les informations de votre entreprise
            </p>

        </div>
    </div>
</div>
<br />

<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Editez la fiche société @Model.Contact.Company</h2>
    </div>
</div>





<div class="container-fluid  row p-0 m-0  ">

    <div class="col-2 py-4 text-center text-white">
        <a role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right"
           asp-page="/EmployeeList/Index" asp-route-contactId="@Model._UserCompanyId">
            Commerciaux
        </a>
    </div>



    <div class="col-8"></div>
    <div class="col-2 py-4 text-center text-white">
        <a role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right"
           asp-page="/BrandList/Index" asp-route-contactId="@Model._UserCompanyId">
            Marques
        </a>
    </div>

</div>



<div class="border container" style="padding:30px;">
    <form enctype="multipart/form-data" method="post" id="mainForm">
        <input type="hidden" asp-for="Contact.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

                @*<img id="myImg" src="@photoPath1" width="400" height="400" class="rounded">*@

                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>

            </div>
        </div>


        <div class="row input-group mb-3   input-group-prepend input-group-text">
            <div class="col-4">
                Societe
                <span asp-validation-for="Contact.Company" class="text-danger"></span>
                <input asp-for="Contact.Company" type="text" class="form-control" />
            </div>

            <div class="col-4">
                Secteur Activité
                <input asp-for="Contact.ActivitySector" type="text" class="form-control" />
                <span asp-validation-for="Contact.ActivitySector" class="text-danger"></span>
            </div>

            <div class="col-4">
                Type de contact

                <select class="mdb-select colorful-select dropdown-primary md-form" asp-for="Contact.ContactType" asp-items="Model.StaticDataContactType">
                    <option value="" selected>@Model.Contact.ContactType</option>
                </select>

            </div>

        </div>


        <div class="row input-group mb-3   input-group-prepend input-group-text">
            <div class="col-4">
                SIRET
                <input asp-for="Contact.SIRET" type="text" class="form-control" />
                <span asp-validation-for="Contact.SIRET" class="text-danger"></span>
            </div>

            <div class="col-4">
                APE
                <input asp-for="Contact.APE" type="text" class="form-control" />
                <span asp-validation-for="Contact.APE" class="text-danger"></span>

            </div>

            <div class="col-4">
                N° SIREN
                <input asp-for="Contact.Siren" type="text" class="form-control" />
                <span asp-validation-for="Contact.Siren" class="text-danger"></span>

            </div>

        </div>

        <div class="row input-group mb-3   input-group-prepend input-group-text">
            <div class="col-4">
                Telephone
                <input asp-for="Contact.Phone" type="text" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>

            </div>

            <div class="col-4">
                Mobile
                <input asp-for="Contact.Mobile" type="text" class="form-control" />
                <span asp-validation-for="Contact.Mobile" class="text-danger"></span>

            </div>

            <div class="col-4">
                Fax
                <input asp-for="Contact.Fax" type="text" class="form-control" />
                <span asp-validation-for="Contact.Fax" class="text-danger"></span>

            </div>

        </div>

        <div class="row input-group mb-3   input-group-prepend input-group-text">

            <div class="col-4">
                Email
                <input asp-for="Contact.Email" type="text" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>

            </div>

            <div class="col-4">
                Catégorie
                <input asp-for="Contact.Category" type="text" class="form-control" />
                <span asp-validation-for="Contact.Category" class="text-danger"></span>
            </div>

            <div class="col-4">
                Site web
                <input asp-for="Contact.Website" type="text" class="form-control" />
                <span asp-validation-for="Contact.Website" class="text-danger"></span>



            </div>

        </div>
        <div class="row input-group mb-3   input-group-prepend input-group-text">

            <div class="col-4">
                Commercial
                <input asp-for="Contact.Commercial" type="text" class="form-control" />
                <span asp-validation-for="Contact.Commercial" class="text-danger"></span>

            </div>

            <div class="col-4"></div>
            <div class="col-4">
                Abonné newsletter
                <select asp-for="Contact.NewsletterSubscriber" asp-items="Model.StaticDataOuiNon" class="mdb-select colorful-select dropdown-primary md-form">
                    <option value="" selected>@Model.Contact.NewsletterSubscriber</option>
                </select>


            </div>

        </div>

        <div class="row input-group-prepend input-group d-flex justify-content-center ">

            <div class="col-4">
                TVA intracommunautaire
                <input asp-for="Contact.IntraCommunityVAT" type="text" class="form-control" />
                <span asp-validation-for="Contact.IntraCommunityVAT" class="text-danger"></span>

            </div>
            <div class="col-4"></div>
            <div class="col-4">
                Date de création
                <input asp-for="Contact.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Contact.DateOfBirth" class="text-danger"></span>

            </div>
            <div hidden class="col-4">
                Franchise TVA
                <input asp-for="Contact.VATExemption" type="text" class="form-control" />
                <span asp-validation-for="Contact.VATExemption" class="text-danger"></span>

            </div>

        </div>

        <div hidden class="row input-group mb-3   input-group-prepend input-group-text">
            <div class="col-9">
                <div class="col-4">
                    Origine
                    <input asp-for="Contact.Origin" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Origin" class="text-danger"></span>

                </div>

                <div></div>
                <div class="col-4">
                    Langue
                    <input asp-for="Contact.Origin" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Origin" class="text-danger"></span>

                </div>



            </div>
            <div hidden class="col-3">
                Code barres
                <input asp-for="Contact.EAN" type="text" class="form-control" />
                <span asp-validation-for="Contact.EAN" class="text-danger"></span>

            </div>

        </div>

        <!--  Debut Bloc Dirigeant -->
        <div class="row">
            <button type="button" class="btn textebleulight btn-lg btn-block" data-toggle="collapse" data-target="#demo">
                DIRIGEANT <span class="material-icons">keyboard_arrow_down</span>
            </button>
        </div>


        <div class="collapse row input-group mb-3   input-group-prepend input-group-text" id="demo">



            <div class="col-4">
                Civilité
                <select asp-for="Contact.Gender" asp-items="Model.StaticDataGenders" class="mdb-select colorful-select dropdown-primary md-form">
                    <option value="" selected>@Model.Contact.Gender</option>
                </select>
            </div>

            <div class="col-4">
                Nom
                <input asp-for="Contact.Name" type="text" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>

            </div>

            <div class="col-4">
                Prénom
                <input asp-for="Contact.FirstName" type="text" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>

            </div>


        </div>

        <!--  Fin Bloc Dirigeant -->
        <hr />

        <!--  Debut Bloc Adresse -->
        <div class="row">
            <button type="button" class="btn textebleulight btn-lg btn-block" data-toggle="collapse" data-target="#demo2">
                ADRESSE <span class="material-icons">keyboard_arrow_down</span>
            </button>
        </div>

        <div class="collapse row input-group mb-3   input-group-prepend input-group-text" id="demo2">

            <div class="divider-new">

                <h3 class="h3-responsive font-weight-bold blue-text mx-3">Adresse de Livraison 1</h3>

            </div>


            <div class="col-12">
                Adresse 1
                <input asp-for="Contact.address1Livraison1" type="text" class="form-control" />
                <span asp-validation-for="Contact.address1Livraison1" class="text-danger"></span>

            </div>



            <div class="col-12">
                Adesse 2

                <input asp-for="Contact.Address2Livraison1" type="text" class="form-control" />
                <span asp-validation-for="Contact.Address2Livraison1" class="text-danger"></span>
            </div>

            <div class="row input-group-prepend input-group d-flex justify-content-center">
                <div class="col-4">
                    Code postal
                    <input asp-for="Contact.PostalCodeLivraison1" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PostalCodeLivraison1" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Ville
                    <input asp-for="Contact.CityLivraison1" type="text" class="form-control" />
                    <span asp-validation-for="Contact.CityLivraison1" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Pays
                    <select class="mdb-select colorful-select dropdown-primary md-form" asp-for="Contact.CountryLivraison1" asp-items="Model.StaticDataCountry">
                        <option value="" selected>@Model.Contact.CountryLivraison1</option>
                    </select>

                </div>

            </div>

            <div class="divider-new">

                <h3 class="h3-responsive font-weight-bold blue-text mx-3">Adresse de Livraison 2</h3>

            </div>


            <div class="col-12">
                Adresse 1
                <input asp-for="Contact.address1Livraison3" type="text" class="form-control" />
                <span asp-validation-for="Contact.address1Livraison3" class="text-danger"></span>

            </div>



            <div class="col-12">
                Adesse 2

                <input asp-for="Contact.Address2Livraison3" type="text" class="form-control" />
                <span asp-validation-for="Contact.Address2Livraison3" class="text-danger"></span>
            </div>

            <div class="row input-group-prepend input-group d-flex justify-content-center">
                <div class="col-4">
                    Code postal
                    <input asp-for="Contact.PostalCodeLivraison3" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PostalCodeLivraison3" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Ville
                    <input asp-for="Contact.CityLivraison3" type="text" class="form-control" />
                    <span asp-validation-for="Contact.CityLivraison3" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Pays
                    <select class="mdb-select colorful-select dropdown-primary md-form" asp-for="Contact.CountryLivraison3" asp-items="Model.StaticDataCountry">
                        <option value="" selected>@Model.Contact.CountryLivraison3</option>
                    </select>

                </div>

            </div>
            <div class="divider-new">

                <h3 class="h3-responsive font-weight-bold blue-text mx-3">Adresse de Facturation</h3>

            </div>


            <div class="col-12">
                Adresse 1
                <input asp-for="Contact.address1Facturation" type="text" class="form-control" />
                <span asp-validation-for="Contact.address1Facturation" class="text-danger"></span>

            </div>



            <div class="col-12">
                Adesse 2

                <input asp-for="Contact.Address2Facturation" type="text" class="form-control" />
                <span asp-validation-for="Contact.Address2Facturation" class="text-danger"></span>
            </div>

            <div class="row input-group-prepend input-group d-flex justify-content-center">
                <div class="col-4">
                    Code postal
                    <input asp-for="Contact.PostalCodeFacturation" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PostalCodeFacturation" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Ville
                    <input asp-for="Contact.CityFacturation" type="text" class="form-control" />
                    <span asp-validation-for="Contact.CityFacturation" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Pays
                    <select class="mdb-select colorful-select dropdown-primary md-form" asp-for="Contact.CountryFacturation" asp-items="Model.StaticDataCountry">
                        <option value="" selected>@Model.Contact.CountryFacturation</option>
                    </select>

                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Compte bloqué
                    <input asp-for="Contact.BlockedAccount" type="text" class="form-control" />
                    <span asp-validation-for="Contact.BlockedAccount" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4">
                    Achat bloqué
                    <input asp-for="Contact.BlockedPurchase" type="text" class="form-control" />
                    <span asp-validation-for="Contact.BlockedPurchase" class="text-danger"></span>


                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Alerte
                    <input asp-for="Contact.Alert" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Alert" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4">
                    Exclure fidélité
                    <input asp-for="Contact.ExcludeLoyalty" type="text" class="form-control" />
                    <span asp-validation-for="Contact.ExcludeLoyalty" class="text-danger"></span>



                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">
                <div class="col-4">
                    Espace privé
                    <input asp-for="Contact.PrivateSpace" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PrivateSpace" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Mot de passe
                    <input asp-for="Contact.Password" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Password" class="text-danger"></span>

                </div>
                <div class="col-4">
                    Accès autorisé
                    <input asp-for="Contact.AuthorizedAccess" type="text" class="form-control" />
                    <span asp-validation-for="Contact.AuthorizedAccess" class="text-danger"></span>

                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">
                <div class="col-6">
                    <div class="col-4">
                        Commentaire contact
                        <input asp-for="Contact.FeedbackContact" type="text" class="form-control" />
                        <span asp-validation-for="Contact.FeedbackContact" class="text-danger"></span>

                    </div>

                    <div class="col-4"></div>
                    <div class="col-4"></div>
                </div>
                <div class="col-6">
                </div>
            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Commentaire interne
                    <input asp-for="Contact.InternalCommentary" type="text" class="form-control" />
                    <span asp-validation-for="Contact.InternalCommentary" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>



            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Traitement
                    <input asp-for="Contact.Treatment" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Treatment" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4">
                    Archivage

                    <input asp-for="Contact.archiving" type="text" class="form-control" />
                    <span asp-validation-for="Contact.archiving" class="text-danger"></span>

                </div>

            </div>




            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Facture mensuelle
                    <input asp-for="Contact.MonthlyBill" type="text" class="form-control" />
                    <span asp-validation-for="Contact.MonthlyBill" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Debut mensualisation
                    <input asp-for="Contact.StartOfMonthlyPayment" type="text" class="form-control" />
                    <span asp-validation-for="Contact.StartOfMonthlyPayment" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Archivage
                    <input asp-for="Contact.archiving" type="text" class="form-control" />
                    <span asp-validation-for="Contact.archiving" class="text-danger"></span>

                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">
                <div class="col-4">
                    Mode de reglement
                    <input asp-for="Contact.PaymentChoice" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PaymentChoice" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Crédit
                    <input asp-for="Contact.Credit" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Credit" class="text-danger"></span>

                </div>

                <div class="col-4">
                    Risque
                    <input asp-for="Contact.Risk" type="text" class="form-control" />
                    <span asp-validation-for="Contact.Risk" class="text-danger"></span>

                </div>

            </div>


            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">

                <div class="col-4">
                    Categorie tarifs
                    <input asp-for="Contact.PriceCategory" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PriceCategory" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4">
                    Affichage du prix
                    <input asp-for="Contact.PriceDisplay" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PriceDisplay" class="text-danger"></span>

                </div>

            </div>




            <div hidden class="row input-group mb-3   input-group-prepend input-group-text">
                <div class="col-4">
                    Commandes payées non facturées
                    <input asp-for="Contact.PaidOrdersNotInvoiced" type="text" class="form-control" />
                    <span asp-validation-for="Contact.PaidOrdersNotInvoiced" class="text-danger"></span>

                </div>

                <div class="col-4"></div>
                <div class="col-4">
                    Créances client
                    <input asp-for="Contact.ReceivablesClient" type="text" class="form-control" />
                    <span asp-validation-for="Contact.ReceivablesClient" class="text-danger"></span>

                </div>

            </div>
        </div>

        <!--  Fin Bloc Adresse-->
        <hr />
        <!--  Debut Bloc Informations Bancaires-->

        <div class="row">
            <button type="button" class="btn textebleulight btn-lg btn-block" data-toggle="collapse" data-target="#demo1">
                INFORMATIONS BANCAIRES <span class="material-icons">keyboard_arrow_down</span>
            </button>
        </div>
        <p><small style="font-size: 10px">Cette donnée confidentielle est consultée uniquement par Pharmashopcenter et permet de réaliser les reversements de chiffre d'affaire aux fournisseurs dans le cadre du fonctionnement de la Market Place.</small></p>
        <div class="collapse row input-group mb-3   input-group-prepend input-group-text" id="demo1">
            <div class="col-4">
                Numéro de compte bancaire IBANK
                <input asp-for="Contact.BankAccountNumberIBAN" type="text" class="form-control" />
                <span asp-validation-for="Contact.BankAccountNumberIBAN" class="text-danger"></span>

            </div>

            <div class="col-4"></div>
            <div class="col-4">
                Numéro de compte bancaire RIB
                <input asp-for="Contact.BankAccountNumberRIB" type="text" class="form-control" />
                <span asp-validation-for="Contact.BankAccountNumberRIB" class="text-danger"></span>

            </div>

        </div>



        <div class="row">
            <div class="col-2 py-4 text-center text-white">
                <a role="button"
                   class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left"
                   href="#"
                   onclick="document.getElementById('mainForm').submit();">
                    Sauvegarder
                </a>

            </div>

            <div class="col-8">
            </div>

            <div class="col-2 py-4 text-center text-white">
                <a role="button"
                   class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right"
                   asp-page="/ArticleList/Index" asp-route-id="@Model._UserCompanyId">
                    Retour
                </a>

            </div>
        </div>


    </form>

</div>

<div class="col-md-12">
    <h1 class="animated fadeIn text-center map-title">Répartition de votre force de vente</h1>
    <div style="height: 100vh" id="world-map" class="animated fadeIn"></div>
</div>

<br />
<hr />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />


    <script>
        $(document).ready(function () {
            $('#ImageInput1').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel1').html(fileName);
            });
        });

        $(document).ready(function () {
            $('#ImageInput2').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel2').html(fileName);
            });
        });


        $(document).ready(function () {
            $('#ImageInput3').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel3').html(fileName);
            });
        });


        $(document).ready(function () {
            $('#ImageInput4').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel4').html(fileName);
            });
        });




    </script>


    <script>
        $(function () {
            colors = {};
            colors['ca'] = '#A4D886';
            colors['ru'] = '#FCECA2';
            colors['cn'] = '#F9573B';
            colors['us'] = '#87CEEB';
            colors['jp'] = '#34BD0E';
            colors['au'] = '#BCC7FC';
            colors['kz'] = '#D4624E';
            colors['de'] = '#34BD0E';

            $('#world-map').vectorMap({
                "colors": colors,
                "hoverOpacity": 0.7, // opacity for :hover
                "hoverColor": false,
                "color": '#aaaaaa',
                "regionStyle": {
                    "initial": {
                        "fill": '#cbced4'
                    }
                },

                "series": {
                    "regions": [{
                        "values": {
                             @Html.Raw(@Model.tt)

                        }
                    }]
                }
            });
        });

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



