﻿@page
@model MarketPlace.Pages.Market.FicheModel
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

  


    var imageVide = "../images/imagevide.png";

    var photoPath1 = "~/" + @Model.Contacts.CompanyLogoFile;
    if (@photoPath1 == null) @photoPath1 = imageVide;

      


    var photoPathDocument = "~/" + @Model.ArticleVendors.ArticleFile;

    decimal currentPrice = 0;
    decimal DcurrentPrice = 0;
    string DeliveryDate = "";

    var bgdark1 = "";
    var bgdark2 = "";
    var bgdark3 = "";



    <style>
        .preview-textfield {
            color: #1F61AB;
        }

        .preview-textfield1 {
            color: #1F61AB;
        }

        .preview-textfield2 {
            color: #1F61AB;
        }

        .carteproduit:hover {
            background-color: red;
        }
    </style>

    <style>

        .number-input input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        .number-input input[type=number]::-webkit-inner-spin-button,
        .number-input input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .number-input {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .number-input button {
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0;
                position: relative;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    height: 2px;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                text-align: center;
            }

            .number-input.number-input {
                border: 1px solid #ced4da;
                width: 10rem;
                border-radius: .25rem;
            }

                .number-input.number-input button {
                    width: 2.6rem;
                    height: .7rem;
                }

                    .number-input.number-input button.minus {
                        padding-left: 10px;
                    }

                    .number-input.number-input button:before,
                    .number-input.number-input button:after {
                        width: .7rem;
                        background-color: #495057;
                    }

                .number-input.number-input input[type=number] {
                    max-width: 4rem;
                    padding: .5rem;
                    border: 1px solid #ced4da;
                    border-width: 0 1px;
                    font-size: 1rem;
                    height: 2rem;
                    color: #495057;
                }

        @@media not all and (min-resolution:.001dpcm) {
            @@supports (-webkit-appearance: none) and (stroke-color:transparent) {

                .number-input.def-number-input.safari_only button:before,
                .number-input.def-number-input.safari_only button:after {
                    margin-top: -.3rem;
                }
            }
        }
    </style>



   
    <br />

    <!-- Main Container -->
    <div class="container ">

        <!-- Section: Product detail -->
        <section id="productDetails" class="pb-5">

            <!-- News card -->
            <div class="card   hoverable">

                <div class="row mt-5">

                    <div class="col-lg-6">

                        <!-- Carousel Wrapper -->
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                            <div class="row">
                                <!-- Slides -->
                                <div class="carousel-inner text-center text-md-left ml-5" role="listbox">

                                    <div class="carousel-item active">

                                        <img src="~/@Model.Contacts.CompanyLogoFile" alt="First slide"
                                             class="img-fluid">

                                    </div>

                                     

                                </div>
                            </div>
                            <div class="row ml-5">
                                <div class="text-black-50 row">
                                    <div class="row">
                                        <h4 class="h4-responsive ml-3 font-weight-bold mt-sm-5 mt-lg-0 mb-4">
                                            Vendu par @Model.Contacts.Company
                                            <!-- Rating -->
                                        </h4><br />
                                        <ul class="rating">
                                            @for (int j = 0; j < @Model.sellerNote; j++)
                                            {
                                                <li>
                                                    <i class="fas fa-star blue-text"></i>
                                                </li>
                                            }
                                        </ul>
                                        <a class="btn  btn-rounded btn-sm   btn-primary text-white " onclick="setNotationVendeur('/api/contact?id=@Model.Contacts.Id')">
                                            Noter le vendeur
                                        </a>
                                        <br />
                                    </div>
                                    <hr class="hr-light">
                                    <h6 class="">
                                        @Html.Raw(@Model.Contacts.presentation)
                                    </h6>


                                    <div class="row primary mb-5 mt-1 " id="videoYoutube" style="  height:200px; display: inline-block;">
                                        <div class="col-12">

                                            <div class="row mt-1 mb-1  ml-5" style="  height:50px; display: inline-block;">

                                                @if (@Model.Contacts.FacebookPage != null)
                                                {<a href="@Model.Contacts.FacebookPage"><img title="Facebook" alt="@Model.Contacts.Company" src="~/upload/image/-image-203549-moyenne.png"></a>}

                                                @if (@Model.Contacts.InstagramPage != null)
                                                {<a href="@Model.Contacts.InstagramPage"><img title="Facebook" alt="@Model.Contacts.Company" src="~/upload/image/-image-203552-moyenne.png"></a>}

                                                @if (@Model.Contacts.youtubePage != null)
                                                {<a href="@Model.ArticleVendors.youtubePage"><img title="Youtube" alt="@Model.Contacts.Company" src="~/upload/image/-image-203550-moyenne.png"></a>}

                                                @if (@Model.Contacts.OfficialWebsite != null)
                                                {<a href="@Model.Contacts.OfficialWebsite"><img title="Web" alt="@Model.Contacts.Company" src="~/upload/image/-image-203553-moyenne.png"></a>}

                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <a href="@Model.Contacts.youtubePage" target="_blank">

                                                <iframe width="250" height="250" src="@Model.Contacts.youtubePage" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture">
                                                </iframe>

                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- Slides -->
                            <!-- Thumbnails -->
                            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">

                                <span class="carousel-control-prev-icon  btn-rounded " aria-hidden="true" style="  background-color:  #095260"></span>

                                <span class="sr-only">Previous</span>

                            </a>

                            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">

                                <span class="carousel-control-next-icon  btn-rounded " aria-hidden="true" style="  background-color:  #095260"></span>

                                <span class="sr-only">Next</span>

                            </a>
                            <!-- Thumbnails -->

                        </div>
                        <!-- Carousel Wrapper -->

                    </div>

                    <div class="col-lg-5 mr-3 text-center text-md-left dark-grey-text">
                        <div class="row">

                            @Model.Contacts.Category
                        </div>
                        <div class="row">

                            <img src="~/@{if (@Model.Brand.BrandLogo != null)  @Model.Brand.BrandLogo  else @imageVide} " alt="Second slide" height="100" width="100"
                                 class="img-fluid">
                        </div>

                        <div class="row">
                            <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                                <strong>@Model.Contacts.Company</strong>

                            </h2>


                        </div>

                        <div class="row">

                            <div class="col-1 ml-1"><i class="fas fa-share-alt text-primary "></i></div>


                            @*window.open(
                                'https://www.facebook.com/sharer/sharer.php?u='your url',
                                'facebook-share-dialog',
                                'width=600,height=400');
                                return false;*@

                            <div class="col-1">

                                <a asp-page="/FavoritesVendor/Index" asp-route-articleId="@Model.Contacts.Id">
                                    @if (@Model.FlagFavorites > 0)
                                    {

                                        <i class="fas fa-heart text-danger "></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-heart text-primary "></i>
                                    }

                                </a>


                            </div>
                            <div class="col-10"></div>


                        </div>

                        <div class="row">
                            <div class="col-6">
                                <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">@Model.Contacts.categoryMarketing</span>

                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-4 pull-left">
                                <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

                                    <span class="red-text font-weight-bold">

                                        <strong style="font-size: xx-large" class="total textevertbleu " id="P">@currentPrice</strong><strong style="font-size: xx-large" class="total textevertbleu ">@Model.UserCurrencyObj.symbol</strong><strong class="textevertbleu" style="font-size: small"> HT </strong>

                                    </span>

                                    <span class="grey-text">

                                        <small>

                                            <s>@if (@DcurrentPrice != 0)@DcurrentPrice</s>

                                        </small>

                                    </span>

                                </h3>
                            </div>
                            <div class="col-4 "></div>

                            <div class="col-4 pull-right">
                                <span class="grey-text">

                                    Par lot de @Model.Contacts.Country
                                </span>
                                <img src="~/images/flag/bf.png"/>
                            </div>
                        </div>


                        <!-- Accordion wrapper -->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                @*<div class="card-header" role="tab" id="headingOne1">

                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                           aria-controls="collapseOne1">

                                            <h5 class="mb-0">

                                                Présentation

                                                <i class="fas fa-angle-down rotate-icon"></i>

                                            </h5>

                                        </a>

                                    </div>*@

                                <!-- Card body -->
                                @*<div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                         data-parent="#accordionEx">

                                        <div class="card-body">

                                            @Html.Raw(@Model.ArticleVendors.ShortDescription)

                                        </div>

                                    </div>*@

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingTwo2">

                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">

                                        <h5 class="mb-0">

                                            Présentation

                                            <i class="fas fa-angle-down rotate-icon"></i>

                                        </h5>

                                    </a>

                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                     data-parent="#accordionEx">

                                    <div class="card-body">

                                        @Html.Raw(@Model.Contacts.LongDescription)

                                    </div>

                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingThree3">

                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                       aria-expanded="false" aria-controls="collapseThree3">

                                        <h5 class="mb-0">

                                            Spécialités

                                            <i class="fas fa-angle-down rotate-icon"></i>

                                        </h5>

                                    </a>

                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                     data-parent="#accordionEx">

                                    <div class="card-body">
                                        @Html.Raw(@Model.Contacts.Specialities)

                                    </div>

                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                             

                            <div>

                               



                            </div>
                            <!-- Accordion card -->
                        </div>
                        <!-- Accordion wrapper -->
                        <!-- Add to Cart -->
                        @*<section class="color">*@

                        @*<div class="mt-5">*@

                        <!-- Card footer -->
                        @*<div class=" mt-1 d-flex h-100 justify-content-center align-items-center pb-0">*@
                        @*<div class="row mb-0">*@

                        @*<form method="post">*@
                        <input type="number" id="articleId" hidden asp-for="Chart.articleId" value="@Model.ArticleVendors.Id" />
                        <input type="number" id="ArticleVendorsId" hidden asp-for="Chart.ArticleVendorsId" value="@Model.ArticleVendors.contactId" />
                        <input type="text" id="currency" hidden asp-for="Chart.currency" value="@Model.UserCurrencyObj.AlphabeticCode" />
                        <input type="number" id="price" hidden value="@currentPrice" />
                        <input type="text" id="pricetype" hidden asp-for="Chart.pricetype" value="@Model.ArticleVendors.PriceType" />
                        <input type="text" id="vat" hidden asp-for="Chart.vat" value="@Model.ArticleVendors.VAT" />
                        <input type="number" id="supplierContactId" hidden asp-for="Chart.supplierContactId" value="@Model.ArticleVendors.contactId" />

                        <input type="text" id="Image1" hidden asp-for="Chart.Image1" value="@Model.ArticleVendors.Image1" />
                        <input type="text" id="ProductName" hidden asp-for="Chart.ProductName" value="@Model.ArticleVendors.Name" />
                        <input type="number" id="BrandId" hidden asp-for="Chart.BrandId" value="@Model.ArticleVendors.BrandId" />
                        <input type="text" id="supplierName" hidden asp-for="Chart.supplierName" value="@Model.Contacts.Company" />
                        <input type="text" id="ProductBrand" hidden asp-for="Chart.ProductBrand" value="@Model.ArticleVendors.Brand" />
                        <input type="number" id="Lot" hidden asp-for="Chart.Lot" value="@Model.ArticleVendors.Lot" />



                        @*</div>*@

                        @*</section>*@
                        <!-- Add to Cart -->

                    </div>

                </div>

            </div>

        </section>



        <!-- Product Reviews -->
        <div class="divider-new">

            <h3 class="h3-responsive font-weight-bold blue-text mx-3">Les articles du vendeur</h3>

        </div>

        <!-- Section: Products v.5 -->
        <section id="products" class="pb-5">

            <p class="text-center w-responsive mx-auto mb-5 dark-grey-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,

                veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
            </p>

            <!-- Carousel Wrapper -->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!-- Controls -->
                <div class="controls-top">

                    <a class="btn-floating primary-color" href="#multi-item-example" data-slide="prev">

                        <i class="fas fa-chevron-left"></i>

                    </a>

                    <a class="btn-floating primary-color" href="#multi-item-example" data-slide="next">

                        <i class="fas fa-chevron-right"></i>

                    </a>

                </div>
                <!-- Controls -->
                <!-- Indicators -->
                <ol class="carousel-indicators">

                    <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>

                    <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>

                    <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>

                </ol>
                <!-- Indicators -->
                <!-- Slides -->
                <div class="carousel-inner" role="listbox">

                    <!-- First slide -->
                    <div class="carousel-item active">

                        <div class="col-md-4 mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Sony TV-675i</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-danger mb-2">bestseller</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star grey-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Samsung 786i</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-info mb-2">new</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star grey-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Canon 675-D</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-danger mb-2">bestseller</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                    </div>
                    <!-- First slide -->
                    <!-- Second slide -->
                    <div class="carousel-item">

                        <div class="col-md-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Samsung V54</a>

                                        </strong>

                                    </h5>

                                    <span class="badge grey mb-2">best rated</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/5.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Dell V-964i</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-info mb-2">new</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">iPad PRO</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-danger mb-2">bestseller</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star grey-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                    </div>
                    <!-- Second slide -->
                    <!-- Third slide -->
                    <div class="carousel-item">

                        <div class="col-md-4 mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>

                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Asus CT-567</a>

                                        </strong>

                                    </h5>

                                    <span class="badge grey mb-2">best rated</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/7.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Dell 786i</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-info mb-2">new</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star grey-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block mb-4">

                            <!-- Card -->
                            <div class="card card-ecommerce">

                                <!-- Card image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg" class="img-fluid"
                                         alt="">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>
                                <!-- Card image -->
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Category & Title -->
                                    <h5 class="card-title mb-1">

                                        <strong>

                                            <a href="" class="dark-grey-text">Headphones</a>

                                        </strong>

                                    </h5>

                                    <span class="badge badge-info mb-2">new</span>

                                    <!-- Rating -->
                                    <ul class="rating">

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                        <li>

                                            <i class="fas fa-star blue-text"></i>

                                        </li>

                                    </ul>

                                    <!-- Card footer -->
                                    <div class="card-footer pb-0">

                                        <div class="row mb-0">

                                            <span class="float-left">

                                                <strong>1439$</strong>

                                            </span>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                    <i class="fas fa-shopping-cart ml-3"></i>

                                                </a>

                                            </span>

                                        </div>

                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>

                    </div>
                    <!-- Third slide -->

                </div>
                <!-- Slides -->

            </div>
            <!-- Carousel Wrapper -->

        </section>
        <!-- Section: Products v.5 -->
        <!-- Product Reviews -->
     

      
    </div>
    <!-- Main Container -->
}
else
{

    Response.Redirect("/Identity/Account/Login");
}


@section Scripts
    {


    <script>
        @*Create a new gauge instance.*@

        if (parseInt(document.getElementById("CQ").value) > parseInt(document.getElementById("Q3").value)) {

            maxValue = parseInt(document.getElementById("CQ").value);
        }
        else {
            maxValue = parseInt(document.getElementById("Q1").value);
        }

var opts1 = {
angle: -0.25,
lineWidth: 0.2,
radiusScale: 0.9,
pointer:
                    {
length: 0.6,
strokeWidth: 0.05,
    color: '#095260'
},
staticLabels:
                    {
font: "11px Saira",
color: "#095260",
    labels: [0, maxValue / 2, maxValue / 3, maxValue],
fractionDigits: 0
},
staticZones:
                    [
        { strokeStyle: "#F03E3E", min: 0, max: maxValue/2 },
        { strokeStyle: "#FFDD00", min: maxValue / 3, max: maxValue/2 },
        { strokeStyle: "#76B72A", min: maxValue / 2, max: maxValue }
],
limitMax: false,
limitMin: false,
highDpiSupport: true
};
var target = document.getElementById('demo'); // your canvas element
var gauge = new Gauge(target).setOptions(opts1); // create sexy gauge!
document.getElementById("preview-textfield").className = "preview-textfield";
gauge.setTextField(document.getElementById("preview-textfield"));
        gauge.maxValue = maxValue ; // set max gauge value
gauge.setMinValue(0);  // set min value
        gauge.set(parseInt(document.getElementById("CQ").value)); // set actual value

    </script>


    <script>
        @*Create a new gauge instance.*@

        if (parseInt(document.getElementById("CQ").value) > parseInt(document.getElementById("Q3").value)) {

            maxValue = parseInt(document.getElementById("CQ").value);
        }
        else {
            maxValue = parseInt(document.getElementById("Q2").value);
        }
var opts2 = {
angle: -0.25,
lineWidth: 0.2,
radiusScale: 0.9,
pointer: {
length: 0.6,
strokeWidth: 0.05,
color: '#095260'
},
staticLabels: {
font: "11px Saira",
color: "#095260",
    labels: [0, maxValue / 2, maxValue/ 3, maxValue],
        fractionDigits: 0
    },
    staticZones:
        [
            { strokeStyle: "#F03E3E", min: 0, max: maxValue / 2 },
            { strokeStyle: "#FFDD00", min: maxValue / 3, max: maxValue / 2 },
            { strokeStyle: "#76B72A", min: maxValue / 2, max: maxValue }
],
limitMax: false,
limitMin: false,
highDpiSupport: true
};
var target = document.getElementById('demo1'); // your canvas element
var gauge = new Gauge(target).setOptions(opts2); // create sexy gauge!
document.getElementById("preview-textfield1").className = "preview-textfield1";
gauge.setTextField(document.getElementById("preview-textfield1"));
        gauge.maxValue = maxValue;// set max gauge value
gauge.setMinValue(0);  // set min value
        gauge.set(parseInt(document.getElementById("CQ").value)); // set actual value

    </script>

    <script>
        @*Create a new gauge instance.*@
        if (parseInt(document.getElementById("CQ").value) > parseInt(document.getElementById("Q3").value)) {

            maxValue = parseInt(document.getElementById("CQ").value);
        }
        else {
            maxValue = parseInt(document.getElementById("Q3").value);
        }
var opts3 = {
angle: -0.25,
lineWidth: 0.2,
radiusScale: 0.9,
pointer:
        {
length: 0.6,
strokeWidth: 0.05,
    color: '#095260'
},
staticLabels:
        {
font: "11px Saira",
color: "#095260",
    labels: [0, maxValue / 2, maxValue / 3, maxValue],
        fractionDigits: 0
    },
    staticZones:
        [
            { strokeStyle: "#F03E3E", min: 0, max: maxValue / 2 },
            { strokeStyle: "#FFDD00", min: maxValue / 3, max: maxValue / 2 },
            { strokeStyle: "#76B72A", min: maxValue / 2, max: maxValue }
],
limitMax: false,
limitMin: false,
highDpiSupport: true
};
var target = document.getElementById('demo2'); // your canvas element
var gauge = new Gauge(target).setOptions(opts3); // create sexy gauge!
document.getElementById("preview-textfield2").className = "preview-textfield2";
gauge.setTextField(document.getElementById("preview-textfield2"));
        gauge.maxValue = maxValue; // set max gauge value
gauge.setMinValue(0);  // set min value
        gauge.set(parseInt(document.getElementById("CQ").value)); // set actual value

    </script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>


 

    <script>

            // traitement

                 (function () {

        var chat = {
            messageToSend: '',
            messageResponses: [
                'Why did the web developer leave the restaurant? Because of the table layout.',
                'How do you comfort a JavaScript bug? You console it.',
                'An SQL query enters a bar, approaches two tables and asks: "May I join you?"',
                'What is the most used language in programming? Profanity.',
                'What is the object-oriented way to become wealthy? Inheritance.',
                'An SEO expert walks into a bar, bars, pub, tavern, public house, Irish pub, drinks, beer, alcohol'
            ],
            init: function () {
                this.cacheDOM();
                this.bindEvents();
                this.render();
            },
            cacheDOM: function () {
                this.$chatHistory = $('.chat-history');
                this.$button = $('button');
                this.$textarea = $('#message-to-send');
                this.$input = $('#articleId');
                this.$chatHistoryList = this.$chatHistory.find('ul');
            },
            bindEvents: function () {
                this.$button.on('click', this.addMessage.bind(this));
                this.$textarea.on('keyup', this.addMessageEnter.bind(this));
            },
            render: function () {
                this.scrollToBottom();
                if (this.messageToSend.trim() !== '') {
                    var template = Handlebars.compile($("#message-template").html());
                    var context = {
                        messageOutput: this.messageToSend,
                        time: this.getCurrentTime()
                    };

                    this.$chatHistoryList.append(template(context));
                    this.scrollToBottom();
                    this.$textarea.val('');

                    // responses
                    var templateResponse = Handlebars.compile($("#message-response-template").html());
                    var contextResponse = {
                        response: this.getRandomItem(this.messageResponses),
                        time: this.getCurrentTime()
                    };

                    setTimeout(function () {
                        this.$chatHistoryList.append(templateResponse(contextResponse));
                        this.scrollToBottom();
                    }.bind(this), 1500);

                }

            },

            addMessage: function () {
                var data = {
                    'articleId': this.$input.val(),
                    'postContent': this.$textarea.val()
                };

                var self = this; // << this is binded to self varialble
                $.ajax({
                    url: '/api/chat',
                    type: 'GET',
                    data: data,
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var list_html = " <ul>";

                        for (var i = 0, len = data.length; i < len; i++) {

                            var obj = data[i];
                            //alert(JSON.stringify(obj))
                            if ($("#ConnectedUserId").val() == obj['updateByUserId']) {
                                list_html += '<li class="clearfix-chat"> <div class="message-data align-right"><span class="message-data-time">' + obj['slotLastUpdate']+ '</span> &nbsp; &nbsp;</li><span class="message-data-name">' +
                                    obj['updateByPseudo'] + '</span><i class="fa fa-circle me"></i></div><div class="message other-message float-right">' + obj['postContent'] + ' </div> </li>';
                            }
                            else {
                                list_html += ' <li><div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i>' + obj['updateByPseudo'] + '</span><span class="message-data-time">' +
                                    obj['slotLastUpdate'] + '</span> </div><div class="message my-message">' + obj['postContent'] + ' </div></li>';

                            }

                        }

                   list_html += "</ul>";
                    $("#AllPosts").html(list_html);


                        self.messageToSend = self.$textarea.val()
                    self.render();
                    //window.location.reload();

                    },
                    error: function (xhr) {

                        //  alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                        self.render();
                    }

                });
            },

            /* ret: function (result) {
                 this.result_data = result;
             },*/


            addMessageEnter: function (event) {
                // enter was pressed
                if (event.keyCode === 13) {
                    this.addMessage();
                }
            },
            scrollToBottom: function () {
                this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
            },
            getCurrentTime: function () {
                return new Date().toLocaleTimeString().
                    replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
            },
            getRandomItem: function (arr) {
                return arr[Math.floor(Math.random() * arr.length)];
            }

        };

        chat.init();

        var searchFilter = {
            options: { valueNames: ['name'] },
            init: function () {
                var userList = new List('people-list', this.options);
                var noItems = $('<li id="no-items-found">No items found</li>');

                userList.on('updated', function (list) {
                    if (list.matchingItems.length === 0) {
                        $(list.list).append(noItems);
                    } else {
                        noItems.detach();
                    }
                });
            }
        };

        searchFilter.init();

            })();

    </script>

    <script>

        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat)
            return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/')
        }
    </script>





    <script>

        function setNotationVendeur(url) {

            /* inputOptions can be an object or Promise */
            const inputOptions = new Promise((resolve) => {
                setTimeout(() => {
                    resolve({
                        '1': '1 étoile ',
                        '2': '2 étoiles',
                        '3': '3 étoiles',
                        '4': '4 étoiles',
                        '5': '5 étoiles'
                    })
                }, 1000)
            })

            const { value: color } = Swal.fire({
                title: 'Notez ce vendeur',
                input: 'radio',
                inputOptions: inputOptions,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Faites un choix!'
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: url + '&note=' + value,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    dataTable.ajax.reload();
                                    window.location.reload();
                                }
                                else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                }
            })

            if (color) {
                alert(1);
                //Swal.fire({ html: `Vous avez sélectionné: ${color}` })
            }
        }
    </script>


    <script>

        function openVideoYoutube() {

            document.getElementById('videoYoutube').innerHTML =

                '<a href="' + document.getElementById('VideoYoutubeValue').value + '" target="_blank">' +
                '<iframe width="250" height="250" src="' + document.getElementById('VideoYoutubeValue').value + '" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture">' +
                '</iframe>' +
                '</a>';

        }
    </script>

 


    <script>

    $.ajax({
        url: '/api/chart',
        type: 'POST',
    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {
        document.getElementById('NbProductInChart').innerHTML = data.nbItem;
    }
    else {
        toastr.error(data.message);
    }
    }
    });

    </script>

}










