﻿@page
@model MarketPlace.Pages.Login.LoginModel
<section class="" style="background-color:#fafafa">

    <div class="container  d-flex justify-content-center align-items-center">

        <!-- Grid row -->
        <div class="row  pt-5 mt-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body  " style=" background-color: #D6ECF0">

                        <h5 class="text-center mb-5 mt-4 font-weight-bold">
                            <strong class="textevertbleu">CONNEXION PHARMA SHOP CENTER</strong>
                        </h5>
                        <hr>

                        <!-- Grid row -->
                        <!-- Grid column -->
                        <!-- Grid column -->

                        <form method ="post">
                            <div class="col-md-12">


                                <div class="md-form mb-0">
                                    <i class="fas fa-envelope prefix dark-grey-text"></i>
                                    <input asp-for="Employee.Emaillogin" type="text" id="orangeForm-email" class="form-control">
                                    <label for="orangeForm-email">Votre email</label>
                                </div>


                                <div class="md-form mb-0">
                                    <i class="fas fa-lock prefix dark-grey-text"></i>
                                    <input asp-for="Employee.pwd" type="password" id="orangeForm-pass" class="form-control">
                                    <label for="orangeForm-pass">Votre mot de passe</label>
                                </div>




                            </div>
                            <!-- Grid column -->
                            <div class="row">

                                <div class="text-center col-6">
                            
                                    <input type="submit" value="Se connecter&nbsp;&nbsp;" class="btn copyright text-white btn-rounded mt-3  " />
                                    <p>
                                        <a href="https://localhost:44390/Login/ForgetPassword">Mot de passe oublié</a>

                                    </p>
                                </div>


                                <div class="text-center col-6">
                                    <a class="btn copyright text-white btn-rounded mt-3" href="https://localhost:44390/Login/Register">Nouveau&nbsp;compte</a>
                                    <p>&nbsp;</p>
                                </div>

                            </div>
                        </form>

                    </div>
                        <!-- Grid row -->

                    </div>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <br />
    <br />
    <br />
</section>



@section Scripts{
    <script>
    

            $(document).ready(function () {
                $('.mdb-select').materialSelect();
            });

      

    </script>
    }
