﻿@page
@model MarketPlace.Pages.Login.RegisterModel
<section class="" style="background-color:#fafafa">

    <div class="container  d-flex justify-content-center align-items-center">

        <!-- Grid row -->
        <div class="row  pt-5 mt-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body  " style=" background-color: #D6ECF0">

                        <h2 class="text-center mb-5 mt-4 font-weight-bold">
                            <strong class="textevertbleu">DEVENIR PARTENAIRE PHARMA SHOP CENTER</strong>
                        </h2>
                        <hr>

                        <!-- Grid row -->
                        <div class="row mt-5">

                            <!-- Grid column -->
                            <div class="col-md-6 ml-lg-5 ml-md-3">

                                <!-- Grid row -->
                                <div class="row pb-3">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-store textevertbleu"></i>

                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">
                                            <strong>MARKET PLACE</strong>
                                        </h4>
                                        <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                    </div>
                                </div>
                                <!-- Grid row -->
                                <!-- Grid row -->
                                <div class="row pb-3">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-users textevertbleu"></i>
                                      
                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">
                                            <strong>SHARING BUYING</strong>
                                        </h4>
                                        <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                    </div>
                                </div>
                                <!-- Grid row -->
                                <!-- Grid row -->
                                <div class="row pb-4">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-database textevertbleu"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">
                                          
                                            <strong>P.I.M </strong>
                                        </h4>
                                        <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam ipsam voluptatem quia voluptas minima assumenda deleniti hic.</p>
                                    </div>

                                </div>
                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5">

                                <!-- Grid row -->
                                <div class="row pb-2 d-flex justify-content-center mb-4">



                                </div>
                                <!-- Grid row -->
                                <!-- Body -->
                                <div class="md-form mb-0">
                                    <i class="fas fa-user prefix dark-grey-text"></i>
                                    <input type="text" id="orangeForm-name" class="form-control">
                                    <label for="orangeForm-name">Votre name</label>
                                </div>
                                <div class="md-form mb-0">
                                    <i class="fas fa-envelope prefix dark-grey-text"></i>
                                    <input type="text" id="orangeForm-email" class="form-control">
                                    <label for="orangeForm-email">Votre email</label>
                                </div>
                                <div class="md-form mb-0">
                                    <i class="fas fa-lock prefix dark-grey-text"></i>
                                    <input type="text" id="CompanyName" class="form-control">
                                    <label for="orangeForm-pass ">Nom de la société</label>
                                </div>
                                <div class=" mb-0 ">
                                    <select class="mdb-select md-form colorful-select dropdown-primary ">
                                        <option   value="" disabled selected >Votre activité</option>
                                        <option   value="1">Laboratoire</option>
                                        <option value="2">Pharmacie</option>
                                        <option value="2">Grossiste</option>
                                        <option value="3">Maison de santé</option>
                                        <option value="3">Hopital</option>
                                        <option value="3">Maison de retraite</option>
                                        <option value="3">Autres</option>
                                    </select>
                                </div>

                                <div class="md-form mb-0">
                                    <i class="fas fa-lock prefix dark-grey-text"></i>
                                    <input type="password" id="orangeForm-pass" class="form-control">
                                    <label for="orangeForm-pass">Votre mot de passe</label>
                                </div>

                                <div class="md-form mb-0">
                                    <i class="fas fa-lock prefix dark-grey-text"></i>
                                    <input type="password" id="orangeForm-pass" class="form-control">
                                    <label for="orangeForm-pass">Confirmer votre mot de passe</label>
                                </div>

                                <div class="text-center">
                                    <button class="btn copyright text-white btn-rounded mt-3">S'inscrire</button>
                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </div>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <br />
    <br />
    <br />
</section>



@section Scripts{
    <script>
    

            $(document).ready(function () {
                $('.mdb-select').materialSelect();
            });

      

    </script>
    }
