﻿@page
@model MarketPlace.Pages.PayoutList.CreateModel

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />

<h2 class="text-info">Ajoutez un reversement</h2>
<br />


<div class="border container" style="padding:30px;">
    <form enctype="multipart/form-data" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Date de Paiement </span>
            </div>
            <input asp-for="Payout.PaymentDate" type="date" class="form-control" />
            <span asp-validation-for="Payout.PaymentDate" class="text-danger"></span>
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">  Numéro de transaction </span>
            </div>
            <input asp-for="Payout.TransactionNumber" type="text" class="form-control">
            <span asp-validation-for="Payout.TransactionNumber" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">  Montant </span>
            </div>
            <input asp-for="Payout.Amount" type="text" class="form-control">
            <span asp-validation-for="Payout.Amount" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Numero de commande </span>
            </div>
            <input asp-for="Payout.OrderCode" type="text" class="form-control">
            <span asp-validation-for="Payout.OrderCode" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Statut Paiement </span>
            </div>
            <input asp-for="Payout.PaymentStatus" type="text" class="form-control">
            <span asp-validation-for="Payout.PaymentStatus" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Commentaire </span>
            </div>
            <input asp-for="Payout.PaymentComment" type="text" class="form-control">
            <span asp-validation-for="Payout.PaymentComment" class="text-danger"></span>
        </div>

        <div class="form-group row">


            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="Payout.PaymentDocument" type="file" class="custom-file-input form-control" id="ImageInput1">
                    <label class="custom-file-label" id="ImageLabel1">Ajoutez une preuve de paiement</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Retour</a>
            </div>
        </div>

    </form>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />


    <script>
        $(document).ready(function () {
            $('#ImageInput1').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel1').html(fileName);
            });
        });

        $(document).ready(function () {
            $('#ImageInput2').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel2').html(fileName);
            });
        });


        $(document).ready(function () {
            $('#ImageInput3').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel3').html(fileName);
            });
        });


        $(document).ready(function () {
            $('#ImageInput4').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#ImageLabel4').html(fileName);
            });
        });</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CustomValidation.js"></script>

    <script>new FroalaEditor('textarea');</script>


}



