﻿@page
@model MarketPlace.Pages.PayoutList.IndexModel
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />


<div class="container  row p-0 m-0  ">
    <div class=" col-9 ">
        <h2 class="text-info">Liste des reversements</h2>
    </div>
    <div class="col-3  ">
        <a asp-page="Create" class="btn btn-info form-control text-white">Ajouter un reversement</a>
    </div>
</div>
<br />

<div>




    <div class="col-12 border p-3">

        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Numéro de Transaction</th>
                    <th>Date de Paiment</th>
                    <th>Montant</th>
                    <th>Preuve de Versement</th>
                    <th>Statut Paiement</th>
                    <th>Numéro de commande</th>
                    <th>Commentaires</th>
                    <th>Code fournisseur</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/payoutList.js"></script>
}


