﻿@page
@model MarketPlace.Pages.Tarif.IndexModel
@{
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid justify-content-center">

    <!-- Top news -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-xl-8 col-lg-12 mb-4">



            <!-- Image -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <!-- Grid column -->

    </div>
    <!-- Top news -->
    <!-- Magazine -->
    <div class="row mt-5">

        <!-- Main newsfeed -->
        <div class="col-xl-8 col-lg-8 col-md-12">

            <!-- Section: News -->
            <section>

                <h5 class="dark-grey-text font-weight-bold">

                    <strong>TARIFICATION PHARMASHOPCENTER</strong>

                </h5>

                <hr>

                <!-- Grid row -->
                <div class="row">


                    <!-- Grid column -->
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-12 mb-4  d-flex justify-content-center">

                        <!-- News card -->
                        <div class="card  mb-3 text-center hoverable">

                            <div class="card-body">

                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-md-5 mx-3 my-3">

                                        <!-- Featured image -->
                                        <div class="view overlay rgba-white-slight">

                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                 class="img-fluid rounded-bottom" alt="Sample image for first version of blog listing">

                                            <a>

                                                <div class="mask"></div>

                                            </a>

                                        </div>

                                    </div>
                                    <!-- Grid column -->
                                    <!-- Grid column -->
                                    <div class="col-md-6 text-left ml-xl-3 ml-lg-0 ml-md-3 mt-3">

                                        <h4 class="mb-4">

                                            <strong>Pharmacies</strong>

                                        </h4>

                                        <p class="dark-grey-text">
                                            Choissez une offre et bénéficier de blabla
                                        </p>

                                        <p>
                                            by

                                            <a>

                                                <strong>Pharmashopcenter</strong>

                                            </a>, 10/09/2020
                                        </p>
                                        @if (Model._UserCompanyType == "")
                                        {
                                            <a asp-page="/Tarif/TarifB2C" class="btn btn-indigo btn-sm">Voir nos tarifs</a>
                                        }
                                        else if (Model._UserCompanyType == "B2C")
                                        {
                                            <a asp-page="/Tarif/SubcriptionB2C" class="btn btn-indigo btn-sm">Voir nos tarifs</a>
                                        }
                                        else if (Model._UserCompanyType == "B2B")
                                        {
                                            <a asp-page="/Tarif/SubcriptionB2B" class="btn btn-indigo btn-sm">Voir nos tarifs</a>
                                        }

                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>

                        </div>
                        <!-- News card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    @if (Model._UserCompanyType == "")
                    {
                        <div class="col-md-12 mb-4  d-flex justify-content-center">

                            <!-- News card -->
                            <div class="card  mb-3 text-center hoverable">

                                <div class="card-body">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-5 mx-3 my-3">

                                            <!-- Featured image -->
                                            <div class="view overlay rgba-white-slight">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg"
                                                     class="img-fluid rounded-bottom" alt="Sample image for first version of blog listing">

                                                <a>

                                                    <div class="mask"></div>

                                                </a>

                                            </div>

                                        </div>
                                        <!-- Grid column -->
                                        <!-- Grid column -->
                                        <div class="col-md-6 text-left ml-xl-3 ml-lg-0 ml-md-3 mt-3">

                                            <h4 class="mb-4">

                                                <strong>Laboratoires</strong>

                                            </h4>

                                            <p class="dark-grey-text">
                                                PIM
                                                catalogue
                                            </p>

                                            <p>
                                                by

                                                <a>

                                                    <strong>Pharmashopcenter</strong>

                                                </a>, 10/09/2020
                                            </p>

                                            <a asp-page="/Tarif/TarifB2B" class="btn btn-indigo btn-sm">Voir nos tarifs</a>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>

                            </div>
                            <!-- News card -->

                        </div>
                        <!-- Grid column -->
                    }
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <!-- Pagination dark -->
                <!-- Pagination dark -->

            </section>
            <!-- Section: News -->

        </div>
        <!-- Main newsfeed -->
        <!-- Sidebar -->
        <!-- Sidebar -->

    </div>
    <!-- Magazine -->

</div>

<div class="row">
    <div class=" text-center text-white col-3">

    </div>

    <div class="text-center text-white col-3">


    </div>
    <div class=" text-center text-white col-3">


    </div>


    <div class=" text-center text-white col-3">

        <a asp-page="../Index"
           role="button"
           class="btn btn-info btn-lg m-2 text-white">
            Retour
        </a>
    </div>
</div>



@section Scripts{

}
