﻿@page
@model MarketPlace.Pages.Tarif.SubscriptionB2BModel
@{
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />
<!-- Navbar -->
<!-- Navbar -->
<!-- Background image -->
<!--Main layout-->

<div class="container">
    <!--Section: Content-->
    <section class="text-center">
        <h4 class="mb-4"><strong>Tarification des services Pharmashopcenter</strong></h4>
        <h3 class="mb-4"><strong>Tarification Pharmacies</strong></h3>
        <div class="btn-group mb-4" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary active">Facturation mensuelle</button>
            <button type="button" class="btn btn-primary">
                Facturation annuelle <small>(2 mois gratuits)</small>
            </button>
        </div>

        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Découverte</strong></p>
                        <h4 class="mb-0">0€</h4>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <form method="post" id="SubmitForm">
                            <input id="O0id" type="hidden" asp-for="Offer.id" value="0" />
                            <input type="hidden" id="O0SupplierType" asp-for="Offer.SupplierType" value=@{@Model._UserCompanyType} />
                            <input type="hidden" id="O0offerName" asp-for="Offer.offerName" value="Débutant" />

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                            <div>
                                <input asp-for="Offer.Period" hidden type="radio" id="O0YearRadio" value="Year">
                                <label for="Year"><strong></strong></label>

                            </div>

                            <div>
                                <input asp-for="Offer.Period" hidden type="radio" id="O0MonthRadio" checked value="Month">
                                <label for="Month"><strong></strong></label>
                            </div>

                            <!-- Default checked -->



                            <hr />

                            <button id="btnSubmit" type="button" value="Save" class="btn btn-success btn-sm" onclick="Subscribe(document.getElementById('O0id').value,  document.getElementById('O0SupplierType').value, document.getElementById('O0offerName').value,document.getElementById('O0MonthRadio'),document.getElementById('O0YearRadio'))">C'est parti</button>



                        </form>


                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card border border-primary">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Essentielle</strong></p>
                        <h4 class="mb-0">49€/month</h4>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur <strong>10</strong> produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-white py-3">
                        <form method="post" id="SubmitForm">
                            <input id="O2id" type="hidden" asp-for="Offer.id" value="0" />
                            <input type="hidden" id="O2SupplierType" asp-for="Offer.SupplierType" value=@{@Model._UserCompanyType} />
                            <input type="hidden" id="O2offerName" asp-for="Offer.offerName" value="Essentiel" />

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>



                            <div>
                                <input asp-for="Offer.Period" type="radio" id="O2MonthRadio" value="Month">
                                <label for="Month"><strong>Abonnement mensuelle 49€</strong></label>
                            </div>

                            <!-- Default checked -->
                            <div>
                                <input asp-for="Offer.Period" type="radio" id="O2YearRadio" checked value="Year">
                                <label for="Year"><strong>Abonnement Annuelle 490€&nbsp;</strong></label>

                            </div>


                            <hr />

                            <button id="btnSubmit" type="button" value="Save" class="btn btn-primary btn-sm" onclick="Subscribe(document.getElementById('O2id').value,  document.getElementById('O2SupplierType').value, document.getElementById('O2offerName').value,document.getElementById('O2MonthRadio'),document.getElementById('O2YearRadio'))">Souscrire</button>



                        </form>
                    </div>


                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Avancé</strong></p>
                        <h4 class="mb-0">99/€mois</h4>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur 25 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 25 produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <form method="post" id="SubmitForm">
                            <input id="O3id" type="hidden" asp-for="Offer.id" value="0" />
                            <input type="hidden" id="O3SupplierType" asp-for="Offer.SupplierType" value=@{@Model._UserCompanyType} />
                            <input type="hidden" id="O3offerName" asp-for="Offer.offerName" value="Avancé" />

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>



                            <div>
                                <input asp-for="Offer.Period" type="radio" id="O3MonthRadio" value="Month">
                                <label for="Month"><strong>Abonnement mensuelle 99€</strong></label>
                            </div>

                            <!-- Default checked -->
                            <div>
                                <input asp-for="Offer.Period" type="radio" id="O3YearRadio" checked value="Year">
                                <label for="Year"><strong>Abonnement Annuelle 990€&nbsp;</strong></label>

                            </div>


                            <hr />

                            <button id="btnSubmit" type="button" value="Save" class="btn btn-info btn-sm" onclick="Subscribe( document.getElementById('O3id').value, document.getElementById('O3SupplierType').value, document.getElementById('O3offerName').value,document.getElementById('O3MonthRadio'),document.getElementById('O3YearRadio'))">Souscrire</button>

                        </form>

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Expert</strong></p>
                        <h4 class="mb-0">189€/mois</h4>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <form method="post" id="SubmitForm">
                            <input id="O4id" type="hidden" asp-for="Offer.id" value="0" />
                            <input type="hidden" id="O4SupplierType" asp-for="Offer.SupplierType" value=@{@Model._UserCompanyType} />
                            <input type="hidden" id="O4offerName" asp-for="Offer.offerName" value="Expert" />

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>



                            <div class="">
                                <input asp-for="Offer.Period" type="radio" id="O4MonthRadio" value="Month">
                                <label for="Month"><strong>Abonnement mensuelle 180€</strong></label>
                            </div>

                            <!-- Default checked -->
                            <div class="">
                                <input asp-for="Offer.Period" type="radio" id="O4YearRadio" checked value="Year">
                                <label for="Year"><strong>Abonnement Annuelle 1890€&nbsp;</strong></label>

                            </div>

                            <hr />

                            <button id="btnSubmit" type="button" value="Save" class="btn btn-secondary btn-sm" onclick="Subscribe( document.getElementById('O4id').value,  document.getElementById('O4SupplierType').value, document.getElementById('O4offerName').value,document.getElementById('O4MonthRadio'),document.getElementById('O4YearRadio'))">Souscrire</button>

                        </form>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
    </section>
    <!--Section: Content-->
</div>
<h6 class="mb-4 font-italic small">Commission sur chiffre d'affaire : 7% </h6>
<h6 class="mb-4 font-italic small">Libre engagement : 7% </h6>

<!-- Background image -->
<hr />






@section Scripts{
    <script src="~/js/AddSubcription.js"></script>
}

