﻿@page
@model MarketPlace.Pages.Tarif.TarifB2CModel

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />

<!-- Navbar -->
<!-- Navbar -->
<!-- Background image -->
<!--Main layout-->

<div class="container">
    <!--Section: Content-->
    <section class="text-center">
        <h4 class="mb-4"><strong>Tarification des services Pharmashopcenter</strong></h4>
        <h3 class="mb-4"><strong>Tarification Pharmacies</strong></h3>
        <div class="btn-group mb-4" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary active">Facturation mensuelle</button>
            <button type="button" class="btn btn-primary">
                Facturation annuelle <small>(2 mois gratuits)</small>
            </button>
        </div>

        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Découverte</strong></p>
                        <h5 class="mb-0">0€</h5>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Accès à 50 produits sur la place de marché </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <button type="button" class="btn btn-success btn-sm">C'est parti</button>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card border border-primary">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Essentielle</strong></p>
                        <h5 class="mb-0">49€/mois</h5>
                        <h6 class="mb-0">490€/an</h6>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Référencement de votre pharmacie sur la place de marché</li>
                            <li class="list-group-item">Accès à un catalogue de plus de 30.000 produits de parapharmacie</li>
                            <li class="list-group-item">Accès au catalogue de plus de 30.000 produits de parapharmacie</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <button type="button" class="btn btn-primary btn-sm">Souscrire</button>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Avancé</strong></p>
                        <h5 class="mb-0">99/€mois</h5>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur 25 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 25 produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <button type="button" class="btn  btn-info btn-sm">Souscrire</button>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card">

                    <div class="card-header bg-white py-3">
                        <p class="text-uppercase small mb-2"><strong>Expert</strong></p>
                        <h5 class="mb-0">189€/mois</h5>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Exclusité de vente en ligne sur 10 produits disponibles de votre choix</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                            <li class="list-group-item">Gestion des documents commerciaux</li>
                            <li class="list-group-item">Accès aux commandes direct laboratoires</li>
                        </ul>
                    </div>

                    <div class="card-footer bg-white py-3">
                        <button type="button" class="btn btn-secondary btn-sm">Souscrire</button>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
    </section>
    <!--Section: Content-->
</div>
<h6 class="mb-4">Commission sur chiffre d'affaire : 7% </h6>

<!-- Background image -->
<hr />




    </header>
<!--Main Navigation-->
<!--Footer-->

<div class="row">
    <div class=" text-center text-white col-3">

    </div>

    <div class="text-center text-white col-3">


    </div>
    <div class=" text-center text-white col-3">


    </div>


    <div class=" text-center text-white col-3">

        <a asp-page="Index"
           role="button"
           class="btn btn-info btn-lg m-2 text-white">
            Retour
        </a>
    </div>
</div>
 

@section Scripts{

}
