﻿@page
@model MarketPlace.Pages.DiscountList.CreateModel

@{ ViewData["Title"] = "Create"; }

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Ajouter des remises et des promotions sur les produits de votre catalogue en toute simplicit&eacute;
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Ajouter une remise sur ce produit</h2>
    </div>
</div>



<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1 class="ml-3">@Model.Article.Name</h1>
<h2 class="ml-3">Prix de base: @Model.Article.Price € Lot de  @Model.Article.Lot</h2>

<div class="col-12 border p-3  ">
    <form method="post" id="formDiscount">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">

                <input type="hidden" asp-for="Article.Id" />
                <input id="price" type="hidden" asp-for="Article.Price" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="  divider-new">
                    <h3 class=" font-weight-bold danger mx-3"> @Model.ErrorMessage</h3>
                </div>


                <div class="  divider-new">
                    <h3 class="h3-responsive font-weight-bold blue-text mx-3">Définir les palliers de remises sur ce produit</h3>
                </div>

                <div class="row align-items-center">


                    <div class="col-2"></div>
                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker col-4">
                        <input asp-for="Discounts.DiscountStartDate" placeholder="Choisir une date" type="text" required id="#DiscountStartDate" class="form-control" value="@Model.startDate">
                        <label for="example">Date de début</label>
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                    <span asp-validation-for="Discounts.DiscountStartDate" class="text-danger"></span>
                    <div class="col-2"></div>






                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker col-4">
                        <input asp-for="Discounts.DiscountEndDate" placeholder="Choisir une date" required type="text" id="#DiscountEndDate" class="form-control" value="@Model.endDate">
                        <label for="example">Date de fin</label>
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                    <span asp-validation-for="Discounts.DiscountEndDate" class="text-danger"></span>



                </div>





                <div class=" row">


                    <div class="form-group  col-3">
                        <h3 class="h3-responsive font-weight-bold blue-text mx-3">Premier Pallier</h3>

                    </div>

                    <div class="form-group  col-3">
                        <label asp-for="Discounts.DiscountRate1" class="control-label ">Taux de remise (%)</label>
                        <input asp-for="Discounts.DiscountRate1" id="discountRate1" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.DiscountPrice1" class="control-label">Prix remisé (€)</label>
                        <input asp-for="Discounts.DiscountPrice1" id="discountPrice1" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.Quantity1" class="control-label">Quantité palier</label>
                        <input asp-for="Discounts.Quantity1" required class="form-control" type="number" min="1" step="1" />
                        <span asp-validation-for="Discounts.Quantity1" class="text-danger"></span>
                    </div>

                </div>


                <div class=" row">
                    <div class="form-group  col-3">
                        <h3 class="h3-responsive font-weight-bold blue-text mx-3">Deuxième Pallier</h3>

                    </div>
                    <div class="form-group  col-3">
                        <label asp-for="Discounts.DiscountRate2" class="control-label">Taux de remise (%)</label>
                        <input asp-for="Discounts.DiscountRate2" id="discountRate2" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.DiscountPrice2" class="control-label">Prix remisé (€)</label>
                        <input asp-for="Discounts.DiscountPrice2" id="discountPrice2" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.Quantity2" class="control-label">Quantité palier</label>
                        <input asp-for="Discounts.Quantity2" required class="form-control" type="number" min="1" step="1" />
                        <span asp-validation-for="Discounts.Quantity2" class="text-danger"></span>
                    </div>

                </div>



                <div class=" row">
                    <div class="form-group  col-3">
                        <h3 class="h3-responsive font-weight-bold blue-text mx-3">Troisième Pallier</h3>

                    </div>
                    <div class="form-group  col-3">
                        <label asp-for="Discounts.DiscountRate3" class="control-label">Taux de remise (%)</label>
                        <input asp-for="Discounts.DiscountRate3" id="discountRate3" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.DiscountPrice3" class="control-label">Prix remisé (€)</label>
                        <input asp-for="Discounts.DiscountPrice3" id="discountPrice3" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-3">
                        <label asp-for="Discounts.Quantity3" class="control-label">Quantité palier</label>
                        <input asp-for="Discounts.Quantity3" required class="form-control" type="number" min="1" step="1" />
                        <span asp-validation-for="Discounts.Quantity3" class="text-danger"></span>
                    </div>

                </div>



                <div class="row">
                    <div class="col-3">

                        <input id="btnSave" type="submit" value="Ajouter" class="btn btn-lg boutonbleu text-white btn-rounded ml-0 pull-left" />

                    </div>

                    <div class="col-7"></div>
                    <div class="col-2 text-center text-white">
                        <a asp-page="index" asp-route-articleId="@Model.Article.Id" class="btn btn-lg boutonbleu text-white btn-rounded ml-0 pull-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script>
    addEvent(document.getElementById('discountRate1'), 'keyup', function () {


        var result = (document.getElementById('price').value).replace(",", ".") * (1 - document.getElementById('discountRate1').value / 100)

        if (isNaN(document.getElementById('discountRate1').value) || result <= 0 || document.getElementById('discountRate1').value <= 0 || document.getElementById('discountRate1').value > 100) {
            document.getElementById('discountPrice1').value = "";
            document.getElementById('discountRate1').value = "";
        }
        else {
            document.getElementById('discountPrice1').value = Math.round((result + Number.EPSILON) * 100) / 100;

        }

    });

    addEvent(document.getElementById('discountPrice1'), 'keyup', function () {
        var result = (1 - (document.getElementById('discountPrice1').value / ((document.getElementById('price').value).replace(",", ".")))) * 100;


        if (isNaN(document.getElementById('discountPrice1').value) || result <= 0 || document.getElementById('discountPrice1').value <= 0) {
            document.getElementById('discountRate1').value = ""
            document.getElementById('discountPrice1').value = ""
        }
        else {
            document.getElementById('discountRate1').value = Math.round((result + Number.EPSILON) * 100) / 100;
        }

    });

    function addEvent(ele, evnt, funct) {
        if (ele.addEventListener) // W3C
            return ele.addEventListener(evnt, funct, false);
        else if (ele.attachEvent)  // IE
            return ele.attachEvent("on" + evnt, funct);
    }

</script>

<script>
    addEvent(document.getElementById('discountRate2'), 'keyup', function () {


        var result = (document.getElementById('price').value).replace(",", ".") * (1 - document.getElementById('discountRate2').value / 100)

        if (isNaN(document.getElementById('discountRate2').value) || result <= 0 || document.getElementById('discountRate2').value <= 0 || document.getElementById('discountRate2').value > 100) {
            document.getElementById('discountPrice2').value = "";
            document.getElementById('discountRate2').value = "";
        }
        else {
            document.getElementById('discountPrice2').value = Math.round((result + Number.EPSILON) * 100) / 100;

        }

    });

    addEvent(document.getElementById('discountPrice2'), 'keyup', function () {
        var result = (1 - (document.getElementById('discountPrice2').value / ((document.getElementById('price').value).replace(",", ".")))) * 100;


        if (isNaN(document.getElementById('discountPrice2').value) || result <= 0 || document.getElementById('discountPrice2').value <= 0) {
            document.getElementById('discountRate2').value = ""
            document.getElementById('discountPrice2').value = ""
        }
        else {
            document.getElementById('discountRate2').value = Math.round((result + Number.EPSILON) * 100) / 100;
        }

    });

    function addEvent(ele, evnt, funct) {
        if (ele.addEventListener) // W3C
            return ele.addEventListener(evnt, funct, false);
        else if (ele.attachEvent)  // IE
            return ele.attachEvent("on" + evnt, funct);
    }

</script>

<script>
    addEvent(document.getElementById('discountRate3'), 'keyup', function () {


        var result = (document.getElementById('price').value).replace(",", ".") * (1 - document.getElementById('discountRate3').value / 100)

        if (isNaN(document.getElementById('discountRate3').value) || result <= 0 || document.getElementById('discountRate3').value <= 0 || document.getElementById('discountRate3').value > 100) {
            document.getElementById('discountPrice3').value = "";
            document.getElementById('discountRate3').value = "";
        }
        else {
            document.getElementById('discountPrice3').value = Math.round((result + Number.EPSILON) * 100) / 100;

        }

    });

    addEvent(document.getElementById('discountPrice3'), 'keyup', function () {
        var result = (1 - (document.getElementById('discountPrice3').value / ((document.getElementById('price').value).replace(",", ".")))) * 100;


        if (isNaN(document.getElementById('discountPrice3').value) || result <= 0 || document.getElementById('discountPrice3').value <= 0) {
            document.getElementById('discountRate3').value = ""
            document.getElementById('discountPrice3').value = ""
        }
        else {
            document.getElementById('discountRate3').value = Math.round((result + Number.EPSILON) * 100) / 100;
        }

    });

    function addEvent(ele, evnt, funct) {
        if (ele.addEventListener) // W3C
            return ele.addEventListener(evnt, funct, false);
        else if (ele.attachEvent)  // IE
            return ele.attachEvent("on" + evnt, funct);
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {           
            $('.datepicker').datepicker({
                min: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDay())
            });          
        });
    </script>
}


<script src="~/js/CustomValidation.js"></script>

@*<script>
        $(function () {
            $("#btnSave").submit(function (event) {
                event.preventDefault();
                e.alert("what's up");
                //Code for ajax verify the password then call below myJsFunction after validation
                //myJsFunction();
            });
        });
    </script>*@