﻿@page
@model MarketPlace.Pages.DiscountList.DeleteModel

@{ ViewData["Title"] = "Delete"; }
<br />
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Ajouter des remises et des promotions sur les produits de votre catalogue en toute simplicit&eacute;
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Supprimer cette remise</h2>
    </div>
</div>




<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Article.Name</h1>
<h2>Prix de base: @Model.Article.Price €</h2>

<h5>Etes vous certain de vouloir mettre fin à cette remise sur ce produit?</h5>

<div class="col-12 border p-3">

    <div class="col-12 ">
        <dl class="row  input-group mb-3  d-flex justify-content-center input-group-prepend input-group-text">
            <dt class="col-sm-2 ">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountRate)*@
                Taux de remise - Pallier 1
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountRate1) %
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountPrice)*@
                Prix remisé - Pallier 1
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountPrice1) €
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.Quantity)*@
                Quantité (Pallier) - Pallier 1
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.Quantity1)
            </dd>


            <dt class="col-sm-2 ">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountRate)*@
                Taux de remise - Pallier 2
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountRate2) %
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountPrice)*@
                Prix remisé - Pallier 2
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountPrice2) €
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.Quantity)*@
                Quantité (Pallier) - Pallier 2
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.Quantity2)
            </dd>

            <dt class="col-sm-2 ">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountRate)*@
                Taux de remise - Pallier 3
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountRate3) %
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountPrice)*@
                Prix remisé - Pallier 3
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountPrice3) €
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.Quantity)*@
                Quantité (Pallier) - Pallier 3
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.Quantity3)
            </dd>


            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.BasePrice)*@
                Prix de base
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.BasePrice) €
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountStartDate)*@
                Date de début
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountStartDate)
            </dd>

            <dt class="col-sm-2">
                Date de fin
                @*@Html.DisplayNameFor(model => model.Discount.DiscountEndDate)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount.DiscountEndDate)
            </dd>

        </dl>


    </div>
    <form method="post">
        <input type="hidden" asp-for="Discount.Id" />
        <input type="hidden" asp-for="Discount.ArticleId" />

        <div class="row">
            <div class="col-3">
                <input type="submit" value="Supprimer" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />
            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-articleId="@Model.Article.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>
        @*<a asp-page="./Index" asp-route-articleId=" @Model.Article.Id">Back to List</a>*@
    </form>
</div>

@section Scripts{

}
