@page
@model MarketPlace.Pages.Views.ArticleProperties.CreateModel
@{
    ViewData["Title"] = "Create a new articleProperty";
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicit&eacute;
            </p>

        </div>
    </div>
</div>

<br />

<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Ajouter une propri&eacute;t&eacute; au produit</h2>
    </div>
</div>

 

<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="400" height="400" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Article.Name</h1>

<div class="container  row p-0 m-0  ">

</div>
<br />

<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    @*<img id="myImg" src="@Url.Content(Model.Article.Image1)" width="400" height="400" class="rounded">*@

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>

<div class="border container" style="padding:30px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Article.Id" />
        <div class="form-horizontal">
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyId,
                        new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyName,
                      new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @required = true } })
                    @Html.ValidationMessageFor(model => model.ArticlePropertyEditViewModel.ArticlePropertyId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.ArticlePropertyEditViewModel.SelectedPropertyId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.ArticlePropertyEditViewModel.SelectedPropertyId,
                      new SelectList(Model.ArticlePropertyEditViewModel.Properties, "Value", "Text"),
                      htmlAttributes: new { @class = "form-control", id = "Property", @required = true })
                    @Html.ValidationMessageFor(x => x.ArticlePropertyEditViewModel.SelectedPropertyId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(x => Model.ArticlePropertyEditViewModel.SelectedPropertyValueId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.ArticlePropertyEditViewModel.SelectedPropertyValueId,
                      new SelectList(Model.ArticlePropertyEditViewModel.PropertyValues, "Value", "Text"),
                      htmlAttributes: new { @class = "form-control", @id = "PropertyValue" })
                    @Html.ValidationMessageFor(x => x.ArticlePropertyEditViewModel.SelectedPropertyValueId, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>


                <div class="row">
                    <div class="col-3">
                        <input type="submit" value="Ajouter" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />
                    </div>

                    <div class="col-7"></div>
                    <div class="col-2 ">
                        <a asp-page="index" asp-route-articleId="@Model.Article.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
                    </div>
                </div>


                <div class="col-2  ">

                </div>

                <div class="col-2  ">

                </div>
                <div class="col-2  ">

                </div>
                <div class="col-2  ">

                </div>


                <div class="py-4 text-center text-white">


                </div>



            </div>
        </div>

    }
</div>
@section Scripts {
    <script type="text/javascript">
        $('#Property').change(function () {
            var selectedProperty = $("#Property").val();
            var propertyValuesSelect = $('#PropertyValue');
            propertyValuesSelect.empty();
            if (selectedProperty != null && selectedProperty != '') {
                $.ajax({
                    type: "POST",
                    url: "/ArticleProperties/Create?handler=PropertyValues",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: selectedProperty,
                    contentType: "json; charset=utf-8",
                    success: function (propertyValues) {
                        if (propertyValues != null && !jQuery.isEmptyObject(propertyValues)) {
                            propertyValuesSelect.append($('<option/>', {
                                value: null,
                                text: ""
                            }));
                            $.each(propertyValues, function (index, propertyValue) {
                                propertyValuesSelect.append("<option value='" + propertyValue.value + "'>" + propertyValue.text + "</option>");
                            });
                        };
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        });
    </script>
}
