@page
@model MarketPlace.Pages.Views.ArticleProperties.IndexModel
@{
    ViewData["Title"] = "ArticleProperties";
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicit&eacute;
            </p>

        </div>
    </div>
</div>

<br />

<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">D&eacute;tail des  propri&eacute;t&eacute;s du produit</h2>
    </div>
</div>



<br />

<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="400" height="400" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>

<div class="container-fluid   p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">@Model.Article.Name</h2>
    </div>
</div>



<div class="container p-3 mt-3">
    @*<form   class="swa-confirm" data-flag="0" id="myForm">*@

    @if (Model.DistinctListOfProperties.Count() > 0)

    {

        @foreach (var item0 in Model.DistinctListOfProperties)
        {


            <table class="table table-striped border">


                <thead>
                    <tr>
                        <th class="table-success boutonvertLight" colspan="2">@item0</th>
                    </tr>
                </thead>


                @foreach (var item in Model.ArticleProperties)
                {

                    if (item.ArticlePropertyLabel == item0)
                    {
                        <tr>

                            <td width="80%">
                                @Html.DisplayFor(m => item.ArticlePropertyValueLabel)
                            </td>

                            <td width="20%">
                                @*<button type="submit" id="btn-submit" asp-page-handler="Delete" asp-route-id="@item.Id" asp-route-articleId="@item.ArticleId"><i class="fa fa-minus-circle" aria-hidden="true" style='font-size:24px;color:red'></i> </button>*@
                                <a class="mb-1" Alt='Retirer de mon Catalogue' onclick="Delete('/api/articleProperty?id=@{@item.Id;}')" aria-label="Remove" style='cursor:pointer; width:70px;color:green'>
                                    <i class="fa fa-minus-circle" aria-hidden="true" style='font-size:24px;color:red'></i>
                                </a>




                            </td>
                        </tr>
                }
                }
            </table><br />} }
    else
    {
        <p>Pas de Propri&eacute;t&eacute; trouv&eacute;e</p>}

    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-7"></div>
        <div class="col-2 ">

            <a asp-page="/ArticleList/Index" asp-route-id="@Model.Article.Id"
               role="button"
               class="btn boutonbleu btn-rounded ml-0 pull-right">
                Retour
            </a>
        </div>
    </div>


</div>





@section Scripts{
    <script src="~/js/ArticleProperty.js"></script>
}

