﻿@inject SignInManager<IdentityUser> SignInManager
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">@IdentityLocalizer.GetLocalizedHtmlString("PROFILE")</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">>@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">@IdentityLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGINS")</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">@IdentityLocalizer.GetLocalizedHtmlString("2FA")</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">P@IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA")</a></li>
</ul>
