﻿@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer
<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_TEXT")</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">@IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_AND_CLOSE")</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}