﻿@page
@model Disable2faModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_HEADER")</strong>
    </p>
    <p>
        @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_DETAILS")
        <a asp-page="./ResetAuthenticator">@IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_DETAILS_LINK")</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_BUTTON")</button>
    </form>
</div>
