﻿@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("DOWNLOAD_YOUR_DATA");
    ViewData["ActivePage"] = MarketPlace.Areas.Identity.Pages.Account.Manage.ManageNavPages.DownloadPersonalData;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}