﻿@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div>
    <p>@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_STEPS")</p>
    <ol class="list">
        <li>
            <p>
                @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_DOWNLOAD_TEXT")
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> @IdentityLocalizer.GetLocalizedHtmlString("AND")
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> @IdentityLocalizer.GetLocalizedHtmlString("OR")
                @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_GOOGLE_TEXT")
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> @IdentityLocalizer.GetLocalizedHtmlString("AND")
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1")<kbd>@Model.SharedKey</kbd> @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1")</p>
            <div class="alert alert-info">@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT")<a href="https://go.microsoft.com/fwlink/?Linkid=852423">@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT_LINK")</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT_DETAILS")
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">@IdentityLocalizer.GetLocalizedHtmlString("VERIFICATION_CODE")</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@IdentityLocalizer.GetLocalizedHtmlString("VERIFY")</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
