﻿@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_SAFE_PLACE")</strong>
    </p>
    <p>
        @IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_INFO_LOSE")
    </p>
    <p>
        @IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT")
        <a asp-page="./ResetAuthenticator">@IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT_LINK")</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@IdentityLocalizer.GetLocalizedHtmlString("GENERATE_RECOVERY_CODES")</button>
    </form>
</div>