﻿@page
@model IndexModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("PROFILE");
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="md-form mb-0">

                <select asp-for="Input.Civility" class="mdb-select md-form colorful-select dropdown-primary ">
                    <option value="" disabled selected>@IdentityLocalizer.GetLocalizedHtmlString("Civilité") </option>
                    <option value="Mr">@IdentityLocalizer.GetLocalizedHtmlString("Mr")</option>
                    <option value="Mme">@IdentityLocalizer.GetLocalizedHtmlString("Mme")</option>

                </select>
                <span asp-validation-for="Input.Civility" class="text-danger"></span>


            </div>

            <div class="form-group">
                <label asp-for="Username">>@IdentityLocalizer.GetLocalizedHtmlString("USERNAME")</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Name">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Input.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@IdentityLocalizer.GetLocalizedHtmlString("SEND_VERIFICATION_EMAIL")</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">@IdentityLocalizer.GetLocalizedHtmlString("PHONE_NUMBER")</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ActivitySector"></label>
                <input asp-for="Input.ActivitySector" class="form-control" />
                <span asp-validation-for="Input.ActivitySector" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Position"></label>
                <input asp-for="Input.Position" class="form-control" />
                <span asp-validation-for="Input.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.usercountry"></label>
                <input asp-for="Input.usercountry" class="form-control" />
                <span asp-validation-for="Input.usercountry" class="text-danger"></span>
            </div>

            <div class="md-form mb-0">

                <label asp-for="Input.Siren">Identifiant de la société (SIREN)</label>
                <input asp-for="Input.Siren" type="text" id="CompanyName" class="form-control">
                <span asp-validation-for="Input.Siren" class="text-danger"></span>
            </div>

            <div class="md-form mb-0">

                <label asp-for="Input.TVAIntracommunautaire">N° TVA Intracom (Sociétés européennes uniquement)</label>
                <input asp-for="Input.TVAIntracommunautaire" type="text" id="CompanyName" class="form-control">
                <span asp-validation-for="Input.TVAIntracommunautaire" class="text-danger"></span>
            </div>


            <button id="update-profile-button" type="submit" class="btn btn-primary">>@IdentityLocalizer.GetLocalizedHtmlString("SAVE")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}