﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA_INFO")</p>
        <p>
            <strong>@IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA_DELETEINFO")</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@IdentityLocalizer.GetLocalizedHtmlString("DOWNLOAD")</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-primary">@IdentityLocalizer.GetLocalizedHtmlString("DELETE")</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}