﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("RESET_AUTHENTICATOR_KEY");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@IdentityLocalizer.GetLocalizedHtmlString("RESET_AUTHENTICATOR_INFO")</strong>
    </p>
    <p>
        @IdentityLocalizer.GetLocalizedHtmlString("RESET_AUTHENTICATOR_TEXT")
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit"> @IdentityLocalizer.GetLocalizedHtmlString("RESET_AUTHENTICATOR_KEY")</button>
    </form>
</div>