﻿@page
@model SetPasswordModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("SET_PASSWORD");
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h4>@IdentityLocalizer.GetLocalizedHtmlString("SET_YOUR_PASSWORD")</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    @IdentityLocalizer.GetLocalizedHtmlString("SET_PASSWORD_TEXT")
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@IdentityLocalizer.GetLocalizedHtmlString("SET_PASSWORD")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
