﻿@page
@model MarketPlace.Pages.BrandList.DeleteModel

@{ ViewData["Title"] = "Delete"; }
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos marques
            </p>

        </div>
    </div>
</div>

<br />


<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Supprimer cette marque</h2>
    </div>
</div>




<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="@Url.Content(Model.Contact.CompanyLogoFile)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Contact.Name</h1>


<h5>Etes vous certain de vouloir supprimer cette marque?</h5>

<div class="col-12 border p-3">

    <div class="col-12 ">
        <dl class="row  input-group mb-3  d-flex justify-content-center input-group-prepend input-group-text">
            <dt class="col-sm-2 ">
                @*@Html.DisplayNameFor(model => model.Brand.BrandRate)*@
                Nom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandLogo)
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Brand.BrandPrice)*@
                Prénom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.Title)
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Brand.BrandShortDescription)*@
                Fonctions
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandShortDescription)
            </dd>




            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Brand.BrandLinkPage)*@
                TélébrandLinkPage
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandLinkPage)
            </dd>

            <dt class="col-sm-2">
                ImageBanderole1
                @*@Html.DisplayNameFor(model => model.Brand.ImageBanderole1)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.ImageBanderole1)
            </dd>

        </dl>


    </div>
    <form method="post">
        <input type="hidden" asp-for="Brand.Id" />
        <input type="hidden" asp-for="Brand.ContactId" />

        <div class="row">
            <div class="col-3">
                <input type="submit" value="Supprimer" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />
            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>
        @*<a asp-page="./Index" asp-route-contactId=" @Model.Contact.Id">Back to List</a>*@
    </form>
</div>

@section Scripts{

}
