﻿@page
@model MarketPlace.Pages.BrandList.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos marques
            </p>

        </div>
    </div>
</div>

<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Informations de détail sur la marque</h2>
    </div>
</div>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.BrandLogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.BrandShortDescription)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.BrandLinkPage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.ImageBanderole1)
        </dd>


    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brand.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{

}
