﻿@page
@model MarketPlace.Pages.BrandList.EditModel

@{ ViewData["Title"] = "Edit";
    var imageVide = "http://pharmacieatinbop-7.wesclient.com/upload/image/-image-211240-moyenne.png";




    var photoPath1 = @Url.Content(Model.Brand.BrandLogo);
    if (@photoPath1 == null) @photoPath1 = imageVide;

}

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos marques
            </p>

        </div>
    </div>
</div>

<br />


<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Modifier les informations de la marque @Model.Brand.BrandName</h2>
    </div>
</div>

<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="@Url.Content(Model.Brand.BrandLogo)" width="50" height="50" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
 


@*<div class="container border p-3 ">*@

<div class="border container " style="padding:30px;">
    <form method="post">



        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Brand.Id" />
        <input type="hidden" asp-for="Brand.ContactId" />



        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <span class="input-group-text">Nom de la marque </span>
            </div>
            <input asp-for="Brand.BrandName" type="text" class="form-control" />
            <span asp-validation-for="Brand.BrandName" class="text-danger"></span>
        </div>


        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <span class="input-group-text">Titre de la marque </span>
            </div>
            <input asp-for="Brand.Title" type="text" class="form-control" />
            <span asp-validation-for="Brand.Title" class="text-danger"></span>
        </div>

        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <span class="input-group-text">Mots clefs </span>
            </div>
            <input asp-for="Brand.Keywords" type="text" class="form-control" />
            <span asp-validation-for="Brand.Keywords" class="text-danger"></span>
        </div>

        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <span class="input-group-text">Slogan </span>
            </div>
            <input asp-for="Brand.Slogan" type="text" class="form-control" />
            <span asp-validation-for="Brand.Slogan" class="text-danger"></span>
        </div>

        <div class="container-fluid input-group-text d-flex justify-content-center"> Description  courte</div>

        <div class="col-md-12 mb-3 mx-md-auto">
            <div>

                <textarea id="sdescription" asp-for="Brand.BrandShortDescription" class="form-control  mdb-wysiwyg-textarea position-fixed" rows="5"></textarea>
                <span asp-validation-for="Brand.BrandShortDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="container-fluid input-group-text d-flex justify-content-center"> Description  courte</div>

        <div class="col-md-12 mb-3 mx-md-auto">
            <div>

                <textarea id="ldescription" asp-for="Brand.BrandLongDescription" class="form-control  mdb-wysiwyg-textarea position-fixed" rows="5"></textarea>
                <span asp-validation-for="Brand.BrandLongDescription" class="text-danger"></span>
            </div>
        </div>

        <label asp-for="Brand.BrandLogo" class="control-label">Logo</label>
        <div class="col-md-12 mb-3 mx-md-auto row">
            <a href="@photoPath1" download>
                <img src="@photoPath1" width="50" height="50" class="rounded imageThumbail" asp-append-version="true">
            </a>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="BrandLogo" class="custom-file-input form-control" id="ImageInput3" />
                    <label class="custom-file-label" id="ImageLabel3">Cliquez ici pour charger le logo</label>

                </div>
            </div>
        </div>

        <label asp-for="Brand.ImageBanderole1" class="control-label">Image Banderole</label>
        <div class="col-md-12 mb-3 mx-md-auto row">
            <a href="@photoPath1" download>
                <img src="@photoPath1" width="50" height="50" class="rounded imageThumbail" asp-append-version="true">
            </a>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="ImageBanderole1" class="custom-file-input form-control" id="ImageInput3" />
                    <label class="custom-file-label" id="ImageLabel3">Cliquez ici pour charger le logo</label>

                </div>
            </div>
        </div>

        


        <div class="row">
            <div class="col-3">
                <input type="submit" value="Sauvegarder" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />
            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>

    </form>

    </div>

    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/addons/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/wysiwyg.min.js"></script>
    
    <script>
        $('#sdescription').mdbWYSIWYG();
    </script>

    <script>
        $('#ldescription').mdbWYSIWYG();
    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
