﻿@page
@model MarketPlace.Pages.BrandList.IndexModel

@{ ViewData["Title"] = "Index"; }
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">

        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>

    </div>

</div>

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos marques
            </p>

        </div>
    </div>
</div>


<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Liste de vos marques</h2>
    </div>
</div>

<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="@Url.Content(Model.Contact.CompanyLogoFile)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Contact.Name</h1>



<div class="row">
    <div class="col-3">
        <a role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left"
           asp-page="Create" asp-route-contactId="@Model.Contact.Id">
            Ajouter une marque
        </a>
    </div>

    <div class="col-7"></div>
    <div class="col-2 py-4 text-center text-white">
    </div>
</div>

<div class="col-12 border p-3">
    <table id="myTable" class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Brands[0].Id)*@
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Brands[0].BrandRate)*@
                    Logo
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Brands[0].BrandPrice)*@
                    Nom
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Brands[0].BrandShortDescription)*@
                    Slogan
                </th>
    
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="row">


        <div class="col-7"></div>
        <div class="col-5 py-4 text-center text-white">
            <a asp-page="/Contact/Edit" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage des marques _START_ à _END_ sur _TOTAL_ marques",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ marques au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ marques",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun marque correspondant trouvée",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    },
                    "emptyTable": "Vous n'avez pas encore enregistré les marques"
                },
                "ajax": {
                    url: "/BrandList/Index?contactId="+@Model.Contact.Id,
                    type: 'POST',
                             headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/BrandList/Edit?id=' + row.id + '&contactId=' + row.contactId + '"><i class="fas fa-pencil-alt" style="font-size:18px; color:#76B72A"></i></a> &nbsp;';
                        },
                        "sortable": false

                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false },
                    {
                        "name": "BrandLogo", "data": "brandLogo",
                        "render": function (data, type, row) {
                            return '<a href="'+row['brandLinkPage'] +'"><img id="myImg" src="'+row['brandLogo'] +'" width="50" height="50" class="rounded"></a>'
                        }, "targets": 1 },
                       { "name": "BrandName", "data": "brandName", "targets": 2 },
                    {
                        "name": "Slogan", "data": "slogan",
                        "render": function (data, type, row) {
                            return row['slogan']
                        },

                        "targets": 3
                    }                     
                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}

 
