﻿@page
@model MarketPlace.Pages.EmployeeList.CreateModel

@{ ViewData["Title"] = "Create";


    var imageVide = "http://pharmacieatinbop-7.wesclient.com/upload/image/-image-211240-moyenne.png";



    var photoPath1 = imageVide; }
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos commerciaux
            </p>

        </div>
    </div>
</div>

<br />

<div class="container   p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Ajouter un commercial</h2>
    </div>
</div>



<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="@Url.Content(Model.Contact.CompanyLogoFile)" width="50" height="50" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Contact.Name</h1>


<div class="border container " style="padding:30px;">

    <form method="post">
        <div class="row d-flex justify-content-center">


            <input type="hidden" asp-for="Contact.Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">

                <div class="form-group  col-4">
                    <label asp-for="Employees.Lastname" class="control-label">Nom</label>
                    <input id="lastname" asp-for="Employees.Lastname" class="form-control" type="text" />
                    <span asp-validation-for="Employees.Lastname" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Employees.Firstname" class="control-label">Prénom</label>
                    <input id="firstname" asp-for="Employees.Firstname" class="form-control" type="text" />
                    <span asp-validation-for="Employees.Firstname" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Employees.Functions" class="control-label">Fonctions</label>
                    <input asp-for="Employees.Functions" class="form-control" type="text" />
                    <span asp-validation-for="Employees.Functions" class="text-danger"></span>
                </div>

            </div>

            <div class="row d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">
                <div class="form-group col-4">
                    <label asp-for="Employees.Phone" class="control-label">Téléphone</label>
                    <input asp-for="Employees.Phone" type="tel" class="form-control" />
                    <span asp-validation-for="Employees.Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Employees.Fax" class="control-label">Fax</label>
                    <input asp-for="Employees.Fax" type="tel" class="form-control" />
                    <span asp-validation-for="Employees.Fax" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Employees.Emaillogin" class="control-label">Email</label>
                    <input asp-for="Employees.Emaillogin" type="email" class="form-control" />
                    <span asp-validation-for="Employees.Emaillogin" class="text-danger"></span>
                </div>
            </div>

            <div class="row d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">
                <div class="form-group col-4">
                    <div class="row"><span class="mr-3 ml-3"> Zone commerciale </span></div>
                    @Html.DropDownList("salearea", Model.itemsproperties, new { @class = "selectProperty show-tick mdb-select md-form", multiple = "multiple", size = "5" })

                </div>
            </div>

            <div class="row d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">
                <div class="form-group col-4">
                    <div class="row"><span class="mr-3 ml-3"> Photo du commercial </span></div>

                    <div class="form-group input-group mb-3 row">
                        <a href="@photoPath1" download>
                            <img id="myImg" src="@photoPath1" width="50" height="50" class="rounded imageThumbail" asp-append-version="true">
                        </a>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>


                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input asp-for="Picture" class="custom-file-input form-control" id="ImageInput1" />
                                <label class="custom-file-label" id="ImageLabel1">Cliquez ici pour changer l'image</label>
                                <div class="message-success">@ViewBag.ResultMessage</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


 

            <div class="row">
                <div class="col-3">

                    <input type="submit" value="Ajouter" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right" />

                </div>

                <div class="col-7"></div>
                <div class="col-2  text-center text-white ">
                    <a asp-page="index" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

