﻿@page
@model MarketPlace.Pages.EmployeeList.IndexModel

@{ ViewData["Title"] = "Index"; }
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez les informations de vos commerciaux
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Liste des commerciaux</h2>
    </div>
</div>


<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="@Url.Content(Model.Contact.CompanyLogoFile)" width="50" height="50" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1>@Model.Contact.Name</h1>



<div class="row">
    <div class="col-3">
        <a role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left"
           asp-page="Create" asp-route-contactId="@Model.Contact.Id">
            Ajouter un commercial
        </a>
    </div>

    <div class="col-7"></div>
    <div class="col-2 py-4 text-center text-white">
    </div>
</div>

<div class="col-12 border p-3">
    <table id="myTable" class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Employees[0].Id)*@
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Employees[0].EmployeeRate)*@
                    Nom
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Employees[0].EmployeePrice)*@
                    Prénom
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Employees[0].Functions)*@
                    Fonction
                </th>
                <th>
                    Téléphone
                    @*@Html.DisplayNameFor(model => model.Employees[0].Phone)*@
                </th>
                <th>
                    Fax
                    @*@Html.DisplayNameFor(model => model.Employees[0].Fax)*@
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-7"></div>
        <div class="col-2 py-4 text-center text-white">
            <a asp-page="/Contact/Edit" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage des commerciaux _START_ à _END_ sur _TOTAL_ commerciaux",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ commerciaux au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ commerciaux",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun commercial correspondant trouvée",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    },
                    "emptyTable": "Vous n'avez pas encore défini les commerciaux"
                },
                "ajax": {
                    url: "/EmployeeList/Index?contactId="+@Model.Contact.Id,
                    type: 'POST',
                             headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/employeeList/edit?id=' + row.id + '&contactId=' + row.contactId + '"><i class="fas fa-pencil-alt" style="font-size:18px; color:#76B72A"></i></a> &nbsp; <a href="/employeeList/delete?id=' + row.id + '&contactId=' + row.contactId + '"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size:24px;color:red"></i></a>';
                        },
                        "sortable": false
                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false },
                    {
                        "name": "EmployeeRate", "data": "lastname",
                        "render": function (data, type, row) {
                            return row['lastname']
                        }, "targets": 1 },
                   { "name": "EmployeePrice", "data": "firstname", "targets": 2 },
                    { "name": "Functions", "data": "functions", "targets": 3 },
                    {
                        "name": "Phone", "data": "phone",
                        "render": function (data, type, row) {
                            return row['phone']
                        },

                        "targets": 4
                    },
                    {
                        "name": "Fax", "data": "fax",
                        "render": function (data, type, row) {
                            return row['fax']
                        }, "targets": 5 },
                   { "name": "ContactId", "data": "contactId", "targets": 6, "visible": false },
                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}
