﻿@page

@model MarketPlace.Pages.ArticleList.ChatModel
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

    <link href="~/css/Chat.css" rel="stylesheet" />


    var imageVide = "../images/imagevide.png";

    var photoPath1 = "~/" + @Model.Article.Image1;
    if (@photoPath1 == null) @photoPath1 = imageVide;


    var photoPath2 = "~/" + @Model.Article.Image2;
    if (@photoPath2 == null) @photoPath2 = imageVide;


    var photoPath3 = "~/" + @Model.Article.Image3;
    if (@photoPath3 == null) @photoPath3 = imageVide;


    var photoPathDocument = "~/" + @Model.Article.ArticleFile;
 



<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Chat <strong style="color: #76B72A; font-family: Saira">Pro</strong> </h5>
            <p>
                On en parle
            </p>

        </div>
    </div>
</div>


<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">@Model.Article.Name</h2>
    </div>
</div>





<br />



<div class="container-chat   clearfix-chat">
    <div class="people-list  ui-menu" id="people-list">
        <div class="search  ">
            <input type="text" placeholder="search" />
            <i class="fa fa-search"></i>
        </div>
        <ul class="list">

            <li class="clearfix-chat">
                @*<i class="fas fa-users" style="font-size:40px"></i>*@
                <div class="about">
                    <div class="name">  </div>
                    <div class="status">
                        <span style="font-size:9px"> </span><br />

                    </div>
                </div>
            </li>




            @if (Model.ConnectedUsers.Count() > 0)

            {

                @foreach (var item0 in @Model.ConnectedUsers)
                {



                    <li class="clearfix-chat">
                        <img src=" @item0.Picture" alt="avatar" height="40" width="40" />
                        <div class="about">
                            <div class="name "> @item0.Pseudo</div>
                            <div class="status">
                                <span style="font-size:9px">Phamacie Atinbop</span><br />
                                <i class="fa fa-circle online"></i> online
                            </div>
                        </div>
                    </li>



                }
            }



            @*<li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Aiden Chavez</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 7 mins ago
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Mike Thomas</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_04.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Erica Hughes</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_05.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Ginger Johnston</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_06.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Tracy Carpenter</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 30 mins ago
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Christian Kelly</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 10 hours ago
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_08.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Monica Ward</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_09.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Dean Henry</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> offline since Oct 28
                        </div>
                    </div>
                </li>

                <li class="clearfix-chat">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">Peyton Mckinney</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>*@
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix-chat">

            <img src="~/images/logo_pharmashopcenter_COULEURS_transparent_S.png" />

            <div class="chat-about">
                <div class="chat-with">Chat avec la communauté des Sharing Buyers</div>
                <div class="chat-num-messages">Déjà @Model.Posts.Count() messages</div>
            </div>

            <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">
                <a href="@photoPath1" download>
                    <img id="myImg" src="@photoPath1" width="200" height="200" class="rounded " asp-append-version="true">
                </a>
                @*<div class="textevertbleu   d-flex justify-content-center" style="font-size:16px"> <strong>Prix de base: @Model.Article.Price € HT <br />Lot de  @Model.Article.Lot</strong></div>*@


                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>

            </div>
        </div> <!-- end chat-header -->

        <div class="chat-history ui-menu" id="AllPosts">



            @*@if (Model.Posts.Count() > 0)

                {

                    @foreach (var item0 in @Model.Posts)
                    {
                        if (@item0.UpdateByUserId == Model._ConnectedUserId)
                        {


                            <li class="clearfix-chat">
                                <div class="message-data align-right">
                                    <span class="message-data-time">@item0.LastUpdate.Value.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span> &nbsp; &nbsp;
                                    <span class="message-data-name">@item0.UpdateByPseudo</span> <i class="fa fa-circle me"></i>

                                </div>
                                <div class="message other-message float-right">
                                    @item0.PostContent
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="message-data">
                                    <span class="message-data-name"><i class="fa fa-circle online"></i>  @item0.UpdateByPseudo</span>
                                    <span class="message-data-time">@item0.LastUpdate.Value.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span>
                                </div>
                                <div class="message my-message">
                                    @item0.PostContent
                                </div>
                            </li>
                        }


                    }
                }*@






            @*<li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                        <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                        Are we meeting today? Project has been already finished and I have results to show you.
                    </div>
                </li>

                <li class="clearfix-chat">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:14 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    </div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                        <span class="message-data-time">10:20 AM, Today</span>
                    </div>
                    <div class="message my-message">
                        Actually everything was fine. I'm very excited to show this to our team.
                    </div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                        <span class="message-data-time">10:31 AM, Today</span>
                    </div>
                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #AED2A6"></i>
                    <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                </li>*@



        </div> <!-- end chat-history -->

        <div class="chat-message clearfix-chat">
            <textarea name="message-to-send" id="message-to-send" placeholder="Saisir votre message" rows="3"></textarea>
            <input name="articleId" id="articleId" hidden value="@Model.Article.Id">
            <input name="ConnectedUserId" id="ConnectedUserId" hidden value="@Model._ConnectedUserId">


            @*A implementer plus tard*@
            @*<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>*@

            <button>Envoyer </button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->



</div> <!-- end container-chat -->
<div class="row ">

    <div class="col-4 d-flex justify-content-center">

    </div>

    <div class="col-4 d-flex justify-content-center">


    </div>
    <div class="col-4 d-flex justify-content-center">
        <a asp-page="Index"
           role="button"
           class="btn btn-lg boutonbleu btn-rounded ml-0  ">
            Retour
        </a>
    </div>
</div>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix-chat">
        <div class="message-data align-right">
            <span class="message-data-time" style="font-size:9px">{{time}}, Audjourd'hui</span> &nbsp; &nbsp;
            <span class="message-data-name">@Model._ConnectedUserPseudo</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<hr />
            }
            else
            {

                Response.Redirect("/Identity/Account/Login");
            }

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>


    <script>
        function tafonction() {
             var data = {
                    'articleId': @Model.Article.Id,
                    'postContent':""
                };

                var self = this; // << this is binded to self varialble
                $.ajax({
                    url: '/api/chat',
                    type: 'GET',
                    data: data,
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var list_html = " <ul>";

                        for (var i = 0, len = data.length; i < len; i++) {

                            var obj = data[i];
                            //alert(JSON.stringify(obj))
                            if ($("#ConnectedUserId").val() == obj['updateByUserId']) {
                                list_html += '<li class="clearfix-chat"> <div class="message-data align-right"><span class="message-data-time">' + obj['slotLastUpdate'] + '</span> &nbsp; &nbsp;</li><span class="message-data-name">' +
                                    obj['updateByPseudo'] + '</span><i class="fa fa-circle me"></i></div><div class="message other-message float-right">' + obj['postContent'] + ' </div> </li>';
                            }
                            else {
                                list_html += ' <li><div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i>' + obj['updateByPseudo'] + '</span><span class="message-data-time">' +
                                    obj['slotLastUpdate'] + '</span> </div><div class="message my-message">' + obj['postContent'] + ' </div></li>';

                            }

                        }

                   list_html += "</ul>";
                    $("#AllPosts").html(list_html);


                        self.messageToSend = self.$textarea.val()
                    self.render();
                    //window.location.reload();

                    },
                    error: function (xhr) {

                        //  alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                        self.render();
                    }

                });
            setTimeout(tafonction, 2000); /* rappel après 2 secondes = 2000 millisecondes */
        }

        tafonction();
    </script>

    <script>

            // traitement

                 (function () {

        var chat = {
            messageToSend: '',
            messageResponses: [
                'Why did the web developer leave the restaurant? Because of the table layout.',
                'How do you comfort a JavaScript bug? You console it.',
                'An SQL query enters a bar, approaches two tables and asks: "May I join you?"',
                'What is the most used language in programming? Profanity.',
                'What is the object-oriented way to become wealthy? Inheritance.',
                'An SEO expert walks into a bar, bars, pub, tavern, public house, Irish pub, drinks, beer, alcohol'
            ],
            init: function () {
                this.cacheDOM();
                this.bindEvents();
                this.render();
            },
            cacheDOM: function () {
                this.$chatHistory = $('.chat-history');
                this.$button = $('button');
                this.$textarea = $('#message-to-send');
                this.$input = $('#articleId');
                this.$chatHistoryList = this.$chatHistory.find('ul');
            },
            bindEvents: function () {
                this.$button.on('click', this.addMessage.bind(this));
                this.$textarea.on('keyup', this.addMessageEnter.bind(this));
            },
            render: function () {
                this.scrollToBottom();
                if (this.messageToSend.trim() !== '') {
                    var template = Handlebars.compile($("#message-template").html());
                    var context = {
                        messageOutput: this.messageToSend,
                        time: this.getCurrentTime()
                    };

                    this.$chatHistoryList.append(template(context));
                    this.scrollToBottom();
                    this.$textarea.val('');

                    // responses
                    var templateResponse = Handlebars.compile($("#message-response-template").html());
                    var contextResponse = {
                        response: this.getRandomItem(this.messageResponses),
                        time: this.getCurrentTime()
                    };

                    setTimeout(function () {
                        this.$chatHistoryList.append(templateResponse(contextResponse));
                        this.scrollToBottom();
                    }.bind(this), 1500);

                }

            },

            addMessage: function () {
                var data = {
                    'articleId': this.$input.val(),
                    'postContent': this.$textarea.val()
                };

                var self = this; // << this is binded to self varialble
                $.ajax({
                    url: '/api/chat',
                    type: 'GET',
                    data: data,
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var list_html = " <ul>";

                        for (var i = 0, len = data.length; i < len; i++) {

                            var obj = data[i];
                            //alert(JSON.stringify(obj))
                            if ($("#ConnectedUserId").val() == obj['updateByUserId']) {
                                list_html += '<li class="clearfix-chat"> <div class="message-data align-right"><span class="message-data-time">' + obj['slotLastUpdate']+ '</span> &nbsp; &nbsp;</li><span class="message-data-name">' +
                                    obj['updateByPseudo'] + '</span><i class="fa fa-circle me"></i></div><div class="message other-message float-right">' + obj['postContent'] + ' </div> </li>';
                            }
                            else {
                                list_html += ' <li><div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i>' + obj['updateByPseudo'] + '</span><span class="message-data-time">' +
                                    obj['slotLastUpdate'] + '</span> </div><div class="message my-message">' + obj['postContent'] + ' </div></li>';

                            }

                        }

                   list_html += "</ul>";
                    $("#AllPosts").html(list_html);


                        self.messageToSend = self.$textarea.val()
                    self.render();
                    //window.location.reload();

                    },
                    error: function (xhr) {

                        //  alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                        self.render();
                    }

                });
            },

            /* ret: function (result) {
                 this.result_data = result;
             },*/


            addMessageEnter: function (event) {
                // enter was pressed
                if (event.keyCode === 13) {
                    this.addMessage();
                }
            },
            scrollToBottom: function () {
                this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
            },
            getCurrentTime: function () {
                return new Date().toLocaleTimeString().
                    replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
            },
            getRandomItem: function (arr) {
                return arr[Math.floor(Math.random() * arr.length)];
            }

        };

        chat.init();

        var searchFilter = {
            options: { valueNames: ['name'] },
            init: function () {
                var userList = new List('people-list', this.options);
                var noItems = $('<li id="no-items-found">No items found</li>');

                userList.on('updated', function (list) {
                    if (list.matchingItems.length === 0) {
                        $(list.list).append(noItems);
                    } else {
                        noItems.detach();
                    }
                });
            }
        };

        searchFilter.init();

            })();

    </script>

}


