﻿@page
@model MarketPlace.Pages.ArticleList.FicheModel
 
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

    var imageVide = "http://pharmacieatinbop-7.wesclient.com/upload/image/-image-211240-moyenne.png";



    var photoPath1 = imageVide;


    var photoPath2 = imageVide;


    var photoPath3 = imageVide;


    var photoPathDocument = imageVide;



    <div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
        <div class="slideshow-item">
            <img src="~/images/carousel1.jpg" alt="">
            <div class="slideshow-item-text" id="main_place">
                <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
                <p>
                    Editez et difusez votre catalogue produit en toute simplicité
                </p>

            </div>
        </div>
    </div>


    <div class="container-fluid  row p-0 m-0  ">
        <div class=" col-12 d-flex justify-content-center ">
            <h2 class="heading    font-weight-bold textebleuinfo mb-2">Synth&egrave;se de votre fiche produit</h2>

        </div>
    </div>
    <br />
    <h2 class="text-info">@Html.Raw(@Model.ArticleVendors.Name)</h2>
    <br />



    <div id="produit" class="container">
        <div class="row" id="row1">
            <div class="col=6" id="photo">
                <div id="photoPrinciaple" class="row">
                    <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

                        <img id="myImg" src="@Html.Raw(@Model.ArticleVendors.Image1)" width="300" height="300" class="rounded ">

                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>

                    </div>
                </div>
                <div class="=row">
                    <div id="autrePhoto1" class="col-6 ">

                        <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

                            <img id="myImg" src="@Model.ArticleVendors.Image2" width="70" height="70" class="rounded">

                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                        </div>
                    </div>
                    <div id="autrePhoto2" class="col-6">
                        <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

                            <img id="myImg" src="@Model.ArticleVendors.Image3" width="70" height="70" class="rounded">

                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col=6" id="marquePrix">

                <div class="row" id="logoMarque"> Logo Marque</div>
                <div class="row" id="Nommarque">@Model.ArticleVendors.Brand</div>
                <div class="row" id="Prix">@Model.ArticleVendors.Brand</div>
                <div class="row" id="Indication">@Model.ArticleVendors.Indication</div>
                <div class="row" id="QMC">@Model.ArticleVendors.MinimumOrderQuantity</div>
                <div class="row" id="Conditionnement">@Model.ArticleVendors.Lot</div>
            </div>
        </div>


        <div class="row" id="DescriptionCourte">@Html.Raw(@Model.ArticleVendors.ShortDescription)</div>>
        <div class="row" id="DescriptionLongue">@Html.Raw(@Model.ArticleVendors.LongDescription)</div>>
        <div class="row" id="ConseilsUtilsation">@Model.ArticleVendors.Notice</div>
        <div class="row" id="Propriete">Propretés</div>
        <div class="row" id="Video">>@Html.Raw(@Model.ArticleVendors.YoutubeVideo)</div>
        <div class="row" id="ReseauxSociaux">
            >@Html.Raw(@Model.ArticleVendors.FacebookPage)
            >@Html.Raw(@Model.ArticleVendors.TwitterPage)
            >@Html.Raw(@Model.ArticleVendors.InstagramPage)
        </div>>



    </div>

}
else
{

    Response.Redirect("/Identity/Account/Login");
}




@section Scripts{

}
