﻿@page
@using Microsoft.AspNetCore.Http
@model MarketPlace.Pages.ArticleList.IndexModelold
@{ }

<!-- Your custom styles (optional) -->
<style>
    .card.card-cascade .view.gradient-card-header {
        padding: 1.1rem 1rem;
    }

    .card.card-cascade .view {
        box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    }
</style>


@*<input hidden id="UserCompanyType" value="@HttpContext.Session.GetString(IndexModel.SessionKeyUserCompanyType)" />*@
 
<!-- Main Navigation -->
@* 

       <div id="carouselExampleControls" class="carousel slide slideshow " data-ride="carousel">
            <div class="slideshow-item">
                <img src="~/images/carousel1.jpg" alt="">
                <div class="slideshow-item-text" id="main_place">
                    <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
                    <p>
                        <ul>
                            <li>
                                Editez et difusez votre catalogue produit en toute simplicit&eacute;
                            </li>
                            @if (Model._UserCompanyType == "B2B")
                            {
                <li>
                    Ajouter des remises et des promotions sur les produits de votre catalogue en toute simplicit&eacute;
                </li>
    }
                            <li>
                                Editez et difusez les informations de vos marques
                            </li>
                            <li>
                                Editez et difusez les informations de vos commerciaux
                            </li>
                            <li>
                                Mettre à jour les informations de votre entreprise
                            </li>
                            @if (Model._UserCompanyType == "B2C")
                            {
                <li>
                    Gerer votre catalogue produit sur la market place Pharma Shop Center
                </li>}
                        </ul>
                    </p>

                </div>
            </div>

        </div>*@



<main>
    <div class="container-fluid">

        <!-- Section: Edit Account -->
        <section class="section">
            <!-- First row -->
            <div class="row">


                @*<div class="container    p-0 m-0  ">
                    <div class=" col-12 d-flex justify-content-center  ">
                        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Liste de vos produits en vente</h2>
                    </div>
                </div>*@

                @*<div class="container    p-0 m-0  ">



                    Seuls les vdndeurs B2B ont le droit de creer les articles
                    @if (Model._UserCompanyType == "PRO")
                    {

        <div class="col-3   ">
            <a asp-page="Create" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left">Créer un article</a>
        </div>}

                    @if (@Model._UserCompanyType == "B2C" || @Model._UserCompanyType == "B2B")
                    {Seuls les vendeur B2C ont le droit d'a les articles
                                    <div class="col-3  ">
                                        <a asp-page="Vendre" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left">Ventre des articles</a>
                                    </div> } Seuls les vendeur B2C ont le droit d'a les articles
                    <div class="col-6"></div>
                    <div class="col-3  ">
                        <a asp-page="Contact/Index" asp-route-id=2 class="btn   form-control text-white">Infos Société</a>
                        <a asp-page="/Contact/Edit" asp-route-contactId="@Model._UserCompanyId" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Infos Société</a>
                    </div>
                </div>*@
 

      
                    <div class=" border p-3">
                        <table id="DT_load" class="table table-striped table-bordered" style="width: 100%;font-size: 10px">
                            <thead>
                                <tr>
                                    <th><p style="font-size: 16px; color:blue">Désignation</p></th>
                                    <th><p style="font-size: 16px;color: blue">Marque</p></th>
                                    <th><p style="font-size:16px">EAN&nbsp;13</p></th>
                                    <th><p style="font-size:16px">Prix(€)</p></th>
                                    <th><p style="font-size:16px">Lot&nbsp;de</p></th>
                                    @*<th><p style="font-size:16px">TVA(%)</p></th>*@
                                    <th><p style="font-size:16px">Stock</p></th>
                                    <th><p style="font-size:16px">Photo</p></th>
                                    <th><p style="font-size:16px">Catégorie</p></th>
                                    <th style="background-color:red; color:white"><p style="font-size:18px"></p>Configuration</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="row">
                            <div class=" text-center text-white col-3">
                            </div>
                            <div class="text-center text-white col-3">
                            </div>
                            <div class=" text-center text-white col-3">
                            </div>
                            <div class=" text-center text-white col-3">
                                <a asp-page="../Index"
                                   role="button"
                                   class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">

                                    Retour
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

     
            <!-- First row -->

        </section>
        <!-- Section: Edit Account -->

    </div>

</main>
<!-- Main layout -->

@section Scripts{
    <script src="~/js/articleList.js"></script>

    <script>
    $.ajax({
        url: '/api/chart',
        type: 'POST',
    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {
        document.getElementById('NbProductInChart').innerHTML = data.nbItem;
    }
    else {
        toastr.error(data.message);
    }
    }
    });

    </script>




    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });

    </script>
}



