﻿@page
@model MarketPlace.Pages.ArticleList.IndexDiscountsModel
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

    <div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
        <div class="slideshow-item">
            <img src="~/images/carousel1.jpg" alt="">
            <div class="slideshow-item-text" id="main_place">
                <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
                <p>
                    Ajouter des remises et des promotions sur les produits de votre catalogue en toute simplicit&eacute;
                </p>

            </div>
        </div>
    </div>

    <br />

    <div class="container-fluid  row p-0 m-0  ">
        <div class=" col-12 d-flex justify-content-center ">
            <h2 class="heading    font-weight-bold textebleuinfo mb-2">Offrez des remises à vos clients sur ce produit</h2>

        </div>
    </div>

    <div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

        <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="200" height="200" class="rounded">

        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    </div>
    <!-- Grid row -->
    <div class="container">

        <!-- Section: About Us -->
        <section id="remise" class="mb-5">

            <!-- Grid row -->
            <div class="row mb-5">
                <div class="col-md-6">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="far fa-grin-beam textebleuinfo fa-2x"></i>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold  textebleu"><span>REMISES PAR PALLIER</span></h4>
                            <p class="grey-text">

                                <ul>
                                    <li>
                                        Définir un pallier d'achat en termes de quantités
                                    </li>
                                    <li>
                                        Associer à ce pallier un taux remisé ou un montant de remise
                                    </li>

                                </ul>
                            </p>
                            <a asp-page="/DiscountList/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg text-white boutonbleu btn-rounded ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-wifi textebleu fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold textevert">REMISES A LA RESERVATION</h4>
                            <p class="grey-text">
                                <ul>
                                    <li>
                                        Encouragez vos clients à commander à l'avance
                                    </li>
                                    <li>
                                        Proposer des dates d'écheances et des taux de remises associés
                                    </li>
                                </ul>
                            </p>
                            <a asp-page="/PreOrderDiscountList/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg boutonvert text-white  btn-rounded  ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
            </div>
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-coffee textevert fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold textebleuinfo">REMISES EXCEPTIONNELLES</h4>
                            <p class="grey-text">
                                <ul>
                                    <li>
                                        Ofrez des remises exceptionnelles annuelles
                                    </li>
                                    <li>
                                        Remises par Points accordées en fonction du volume d'achat annuel
                                    </li>

                                </ul>
                            </p>
                            <a asp-page="/SpecialDiscountList/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg boutonbleuinfo text-white  btn-rounded  ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-5">

                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-coffee textevert fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold textebleuinfo">PROGRAMME DE PARRAINAGE</h4>
                            <p class="grey-text">
                                <ul>
                                    <li>
                                        Offrez à vos clients des remises pour les encourager à parrainer d'autres clients
                                    </li>
                                    <li>
                                        Resise parrain/filleuil sur vente du produit
                                    </li>

                                </ul>
                            </p>
                            <a asp-page="/SponsorshipList/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg text-white  boutonbleuinfo btn-rounded  ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>

                </div>
                <div class="col-md-6 mb-md-0 mb-5">

                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-coffee textevert fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold textebleuinfo">PROGRAMME DE PARRAINAGE</h4>
                            <p class="grey-text">
                                <ul>
                                    <li>
                                        Offrez à vos clients des remises pour les encourager à parrainer d'autres clients
                                    </li>
                                    <li>
                                        Resise parrain/filleuil sur vente du produit
                                    </li>

                                </ul>
                            </p>
                            <a asp-page="/SponsorshipList/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg boutonbleuinfo text-white  btn-rounded  ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>

                </div>

                <div class="col-md-6 mb-md-0 mb-5">

                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-coffee textevert fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold textebleuinfo">COMMANDES ANNUELS PROGRAMMEES</h4>
                            <p class="grey-text">
                                <ul>
                                    <li>
                                        Permettez à vos clients de programmer leurs commandes sur l'année et de bénéfier des taux de remises privilégiés
                                    </li>


                                </ul>
                            </p>
                            <a asp-page="/ScheduledOrders/Index" asp-route-ArticleId="@Model.Article.Id" class="btn btn-lg boutonbleuinfo text-white btn-rounded  ml-0">C'est parti</a>
                        </div>
                        <!-- Grid column -->

                    </div>

                </div>
            </div>

        </section>
    </div>
    <!-- Grid row -->
    <div class="row">
        <div class=" text-center text-white col-3">
        </div>
        <div class="text-center text-white col-3">
        </div>
        <div class=" text-center text-white col-3">
        </div>
        <div class=" text-center text-white col-3">
            <a asp-page="Index"
               role="button"
               class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">

                Retour
            </a>
        </div>
    </div>
}
else
{

    Response.Redirect("/Identity/Account/Login");
}


@section Scripts{

}
