﻿@page
@model MarketPlace.Pages.ArticleList.VendreModel
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Gerer votre catalogue produit sur la market place Pharma Shop Center
            </p>

        </div>
    </div>
</div>


                <br />

                                <div class="container  row p-0 m-0  ">
                                    <div class=" col-12 ">
                                        <h2 class="text-info">Liste des articles disponibles à la vente sur Pharmashopcenter</h2>
                                    </div>
                                    @*Seuls les vdndeurs B2B ont le droit de creer les articles*@


                                    <div>
                                        Vous disposez actuellement de<strong>  @Model._NbProductAlreadyChoose  </strong> dans votre catalogue marchant. Votre formule d'abonnement Vendeur vous permet d'ajouter jusqu'à <strong> @Model._NbProductAutorized</strong> produits dans votre catalogue.
                                        (Cliquez sur le bouton <i class='fas fa-plus-circle text-success' aria-hidden="true" style='font-size:24px'></i> pour ajouter de nouveaux produits à votre catalogue.
                                    </div>
                                </div>
                                                <br />

                                                                <div>
                                                                    <div class="col-12 border p-3">

                                                                        <table id="DT_load" class="table table-striped table-bordered" style="width: 100%;font-size: 10px">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th><p style="font-size: 16px; color:blue">Désignation</p></th>
                                                                                    <th><p style="font-size: 16px;color: blue">Marque</p></th>
                                                                                    <th><p style="font-size:16px">EAN&nbsp;13</p></th>
                                                                                    <th><p style="font-size:16px">Prix(€ TTC)</p></th>
                                                                                    <th><p style="font-size:16px">Lot&nbsp;de</p></th>
                                                                                    @*<th><p style="font-size:16px">TVA(%)</p></th>*@
                                                                                    <th><p style="font-size:16px">Stock</p></th>
                                                                                    <th><p style="font-size:16px">Photo</p></th>
                                                                                    <th><p style="font-size:16px">Categorie</p></th>
                                                                                    <th style="background-color:red; color:white"><p style="font-size:18px"></p>Configuration</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-9">
                                                                                    </div>


                                                                                    <a asp-page="Index"
                                                                                       role="button"
                                                                                       class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">
                                                                                        Retour
                                                                                    </a>

                                                                                </div>}
                                                                                            else
                                                                                            {

                                                                                                Response.Redirect("/Identity/Account/Login");
                                                                                            }




@section Scripts{

    <script src="~/js/frDatatableTranslate.js"></script>

    <script src="~/js/vendreList.js"></script>
}