﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer


 
<div>
   
</div>

<section class=" mb-5 pb-5 mt-5 pt-5">

    <div class="container mb-5 pb-5  pt-5 mt-5 d-flex justify-content-center align-items-center">

        <!-- Grid row -->
        <div class="row  ">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="card hoverable">
                    <div class="card-body  " style=" background-color: white">

                        <div class="form-header text-white boutonvert  ">
                            <h3>
                                <i class="fas fa-user  mt-2 mb-2"></i> Confirmation de votre inscription

                            </h3>
                        </div>


                        Félicitations ! La création de votre compte Pharma Shop Center est confirmée.

                        Vous pouvez commencer à profiter de nos  solutions.

                        

                        <div class="mr-auto mt-3">
                            <a asp-page="Market/Index" type="button" class="btn btn-lg boutonbleu text-white btn-rounded ml-0">Parfait</a>
                        </div>
                        <!-- Grid row -->

                    </div>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        @*<img src="~/images/confirmation enregistrement.jpeg" height="500" width="1380" />*@
    </div>

</section>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@