﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("REGISTER");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<h4>  @IdentityLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGIN_ASSOCIATE_ACCOUNT", @Model.LoginProvider)</h4>
<hr />

<p class="text-info">
    @IdentityLocalizer.GetLocalizedHtmlString("EXTERNAL_LOGIN_TEXT", @Model.LoginProvider)
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@IdentityLocalizer.GetLocalizedHtmlString("REGISTER")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

