﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<p>
    @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT");
</p>

