﻿@page
@model LoginWith2faModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<hr />
<p>@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_TEXT")</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_AUTHENTICATOR_CODE")</label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_REMEMBER_MC")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
            </div>
        </form>
    </div>
</div>
<p>
    @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_NO_AUTHENTICATOR_DEVICE")
    <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_RECOVERY_CODE_TEXT")</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}