﻿@page
@model LoginModel

@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

@*<h1>@ViewData["Title"]</h1>*@

<form id="account" method="post">
    <div class=" mb-5 pb-5  pt-5 mt-5 h-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

                     @*Form with header*@ 
                    <div class="card hoverable">
                        <div class="card-body">

                            @*Header*@
                            <div class="form-header text-white copyright  ">
                                <h3>
                                    <i class="fas fa-user  mt-2 mb-2"></i> @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_USE_LOCAL_ACCOUNT_TO_LOG_IN")
                                </h3>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @*Body*@
                            <div class="md-form mb-0">
                                <i class="fas fa-user prefix text-black-50"></i>
                                <label asp-for="Input.Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="md-form mb-0">
                                <i class="fas fa-lock prefix  text-black-50"></i>
                                <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        
                            <div class="mr-auto  h-100 d-flex justify-content-center align-items-center mb-2">
                                <button type="submit" class="btn copyright text-white btn-rounded mt-3">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
                            </div>


                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">@IdentityLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD")</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@IdentityLocalizer.GetLocalizedHtmlString("REGISTER_AS_NEW_USER")</a>
                                </p>
                                <p>
                                    <a type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Renvoyer l'email de confirmation</a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
                 @*Form with header*@ 
            </div>
        </div>
    </div>
</form>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>new WOW().init();
    </script>
}
