﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {


        <section class=" mb-5 pb-5 mt-5 pt-5">

            <div class="container mb-5 pb-5  pt-5 mt-5 d-flex justify-content-center align-items-center">

                <!-- Grid row -->
                <div class="row  ">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="card hoverable">
                            <div class="card-body  " style=" background-color: white">

                                <div class="form-header text-white copyright  ">
                                    <h3>
                                        <i class="fas fa-user  mt-2 mb-2"></i> Confirmation de votre inscription

                                    </h3>
                                </div>


                                Félicitations ! La création de votre compte Pharma Shop Center a bien été enregistrée.

                                Plus qu'une étape avant de commencer à profiter de nos solutions.

                                Veuillez consulter votre mail afin de finaliser la création de votre compte Pharma Shop Center.

                                <div class="mr-auto mt-3">
                                    <a asp-page="/Index" type="button" class="btn btn-lg boutonbleu btn-rounded ml-0">Retour</a>
                                </div>
                                <!-- Grid row -->

                            </div>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                @*<img src="~/images/confirmation enregistrement.jpeg" height="500" width="1380" />*@
            </div>

        </section>
        <br />

       
        <hr />

    }
}



