﻿@page
@model RegisterModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("REGISTER");
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<section class="">

    <div class="container mb-5 pb-5  pt-5 mt-5 d-flex justify-content-center align-items-center">

        <!-- Grid row -->
        <div class="row  ">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="card hoverable">
                    <div class="card-body  " style=" background-color: white">

                        <div class="form-header text-white copyright  ">
                            <h3>
                                <i class="fas fa-user  mt-2 mb-2"></i> 
                                @IdentityLocalizer.GetLocalizedHtmlString("DEVENIR PARTENAIRE PHARMA SHOP CENTER")
                            </h3>
                        </div>



                        <!-- Grid row -->
                        <div class="row mt-5">

                            <!-- Grid column -->
                            <div class="col-md-6 ml-lg-5 ml-md-3">

                                <!-- Grid row -->
                                <div class="row pb-3">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-store textevertbleu"></i>

                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">
                                            <strong>MARKET PLACE</strong>
                                        </h4>
                                        <p class="dark-grey-text">
                                            Vous êtes une pharmacie, bénéficiez d'un espace priviligé seselectionnez et vendez vos produits de parapharmacie sur la market place en toute simplicité.
                                            Approvisionnez votre store avec des prix défiants toute concurrence par sharing buying
                                        </p>
                                    </div>
                                </div>
                                <!-- Grid row -->
                                <!-- Grid row -->
                                <div class="row pb-3">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-users textevertbleu"></i>

                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">
                                            <strong>SHARING BUYING</strong>
                                        </h4>
                                        <p class="dark-grey-text">Vous êtes un laboratoire pharmaceutique, gerez et diffusez votre catalogue produit en toute efficacité grace à notre solution PIM, optimisez votre chaine d'add'aprovissemen grace à nos solutions de sharing buying, explorez de nouvveaux marchés et restez en contact avec vos clients à travers notre plate forme</p>
                                    </div>
                                </div>
                                <!-- Grid row -->
                                <!-- Grid row -->
                                <div class="row pb-4">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-database textevertbleu"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">

                                            <strong>P.I.M </strong>
                                        </h4>
                                        <p class="dark-grey-text">La gestion et la maitrise de l'information produit est au coeur des enjeux du developpment decouvez nos solutions de PIM et d'e-produrement</p>
                                    </div>

                                </div>

                                <div class="row pb-4">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-database textevertbleu"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">

                                            <strong>Appels d'offres médical</strong>
                                        </h4>
                                        <p class="dark-grey-text">La gestion et la maitrise de l'information produit est au coeur des enjeux du developpment decouvez nos solutions de PIM et d'e-produrement</p>
                                    </div>

                                </div>

                                <div class="row pb-4">
                                    <div class="col-2 col-lg-1">
                                        <i class="fas fa-database textevertbleu"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="feature-title">

                                            <strong>Gestion commerciale </strong>
                                        </h4>
                                        <p class="dark-grey-text">La gestion et la maitrise de l'information produit est au coeur des enjeux du developpment decouvez nos solutions de PIM et d'e-produrement</p>
                                    </div>

                                </div>

                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5">

                                <!-- Grid row -->
                                <div class="row pb-2 d-flex justify-content-center mb-4">



                                </div>
                                <!-- Grid row -->
                                <!-- Body -->
                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="md-form mb-0">

                                        <select asp-for="Input.Civility" class="mdb-select md-form colorful-select dropdown-primary ">
                                            <option value="" disabled selected>@IdentityLocalizer.GetLocalizedHtmlString("Civilité") </option>
                                            <option value="Mr">@IdentityLocalizer.GetLocalizedHtmlString("Mr")</option>
                                            <option value="Mme">@IdentityLocalizer.GetLocalizedHtmlString("Mme")</option>

                                        </select>
                                        <span asp-validation-for="Input.Civility" class="text-danger"></span>


                                    </div>
                                    <div class="md-form mb-0">


                                        <i class="fas fa-user prefix dark-grey-text"></i>

                                        <label asp-for="Input.Name">Nom</label>
                                        <input asp-for="Input.Name" class="form-control" />
                                        <span asp-validation-for="Input.Name" class="text-danger"></span>

                                    </div>
                                    <div class="md-form mb-0">
                                        <i class="fas fa-user prefix dark-grey-text"></i>

                                        <label asp-for="Input.FirstName">Prénom</label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    </div>

                                    <div class="md-form mb-0">
                                        <i class="fas fa-envelope prefix dark-grey-text"></i>

                                        <label asp-for="Input.Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                                        <input asp-for="Input.Email" type="email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                                    </div>

                                    <div class="md-form mb-0">
                                        <i class="fas fa-phone prefix dark-grey-text"></i>

                                        <label asp-for="Input.PhoneNumber">Téléphone</label>
                                        <input asp-for="Input.PhoneNumber" type="tel" class="form-control" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                    </div>



                                    <div class="md-form mb-0">



                                        <select asp-for="Input.usercountry" id="country" class="mdb-select md-form colorful-select dropdown-primary" searchable="rechercher ici..">
                                            <optgroup label="Europe">
                                                <option value="" disabled selected>@IdentityLocalizer.GetLocalizedHtmlString("Sélectionnez votre pays") </option>

                                                <option value='France' data-icon='../../../images/flag/fr.png' class="rounded-circle">France</option>
                                                <option value='Belgique' data-icon='../../../images/flag/be.png' class="rounded-circle">Belgique</option>
                                                <option value='Allemagne' data-icon='../../../images/flag/de.png' class="rounded-circle">Allemagne</option>
                                                <option value='Espagne' data-icon='../../../images/flag/es.png' class="rounded-circle">Espagne</option>
                                                <option value='Albanie' data-icon='../../../images/flag/al.png' class="rounded-circle">Albanie</option>

                                                <option value='Andorre' data-icon='../../../images/flag/ad.png' class="rounded-circle">Andorre</option>
                                                <option value='Arménie' data-icon='../../../images/flag/am.png' class="rounded-circle">Arménie</option>
                                                <option value='Autriche' data-icon='../../../images/flag/at.png' class="rounded-circle">Autriche</option>
                                                <option value='Azerbaïdjan' data-icon='../../../images/flag/az.png' class="rounded-circle">Azerbaïdjan</option>
                                                <option value='Bélarus' data-icon='../../../images/flag/by.png' class="rounded-circle">Bélarus</option>

                                                <option value='Bosnie-Herzégovine' data-icon='../../../images/flag/ba.png' class="rounded-circle">Bosnie-Herzégovine</option>
                                                <option value='Bulgarie' data-icon='../../../images/flag/bg.png' class="rounded-circle">Bulgarie</option>
                                                <option value='Chypre' data-icon='../../../images/flag/cy.png' class="rounded-circle">Chypre</option>
                                                <option value='Croatie' data-icon='../../../images/flag/hr.png' class="rounded-circle">Croatie</option>
                                                <option value='Danemark' data-icon='../../../images/flag/dk.png' class="rounded-circle">Danemark</option>

                                                <option value='Estonie' data-icon='../../../images/flag/ee.png' class="rounded-circle">Estonie</option>
                                                <option value='Finlande' data-icon='../../../images/flag/fi.png' class="rounded-circle">Finlande</option>

                                                <option value='Géorgie' data-icon='../../../images/flag/ge.png' class="rounded-circle">Géorgie</option>
                                                <option value='Gibraltar' data-icon='../../../images/flag/gi.png' class="rounded-circle">Gibraltar</option>
                                                <option value='Grèce' data-icon='../../../images/flag/gr.png' class="rounded-circle">Grèce</option>
                                                <option value='Hongrie' data-icon='../../../images/flag/hu.png' class="rounded-circle">Hongrie</option>
                                                <option value='Île de Man' data-icon='../../../images/flag/im.png' class="rounded-circle">Île de Man</option>
                                                <option value='Îles Åland' data-icon='../../../images/flag/ax.png' class="rounded-circle">Îles Åland</option>
                                                <option value='Îles Féroé' data-icon='../../../images/flag/fo.png' class="rounded-circle">Îles Féroé</option>
                                                <option value='Irlande' data-icon='../../../images/flag/ie.png' class="rounded-circle">Irlande</option>
                                                <option value='Islande' data-icon='../../../images/flag/is.png' class="rounded-circle">Islande</option>
                                                <option value='Italie' data-icon='../../../images/flag/it.png' class="rounded-circle">Italie</option>
                                                <option value='Lettonie' data-icon='../../../images/flag/lv.png' class="rounded-circle">Lettonie</option>
                                                <option value='L ex-République Yougoslave de Macédoine' data-icon='../../../images/flag/mk.png' class="rounded-circle">L'ex-République Yougoslave de Macédoine</option>
                                                <option value='Liechtenstein' data-icon='../../../images/flag/li.png' class="rounded-circle">Liechtenstein</option>
                                                <option value='Lituanie' data-icon='../../../images/flag/lt.png' class="rounded-circle">Lituanie</option>
                                                <option value='Luxembourg' data-icon='../../../images/flag/lu.png' class="rounded-circle">Luxembourg</option>
                                                <option value='Malte' data-icon='../../../images/flag/mt.png' class="rounded-circle">Malte</option>
                                                <option value='Monaco' data-icon='../../../images/flag/mc.png' class="rounded-circle">Monaco</option>
                                                <option value='Norvège' data-icon='../../../images/flag/no.png' class="rounded-circle">Norvège</option>
                                                <option value='Pays-Bas' data-icon='../../../images/flag/nl.png' class="rounded-circle">Pays-Bas</option>
                                                <option value='Pologne' data-icon='../../../images/flag/pl.png' class="rounded-circle">Pologne</option>
                                                <option value='Portugal' data-icon='../../../images/flag/pt.png' class="rounded-circle">Portugal</option>
                                                <option value='République de Moldova' data-icon='../../../images/flag/md.png' class="rounded-circle">République de Moldova</option>
                                                <option value='République Tchèque' data-icon='../../../images/flag/cz.png' class="rounded-circle">République Tchèque</option>
                                                <option value='Roumanie' data-icon='../../../images/flag/ro.png' class="rounded-circle">Roumanie</option>
                                                <option value='Royaume-Uni' data-icon='../../../images/flag/gb.png' class="rounded-circle">Royaume-Uni</option>
                                                <option value='Saint-Marin' data-icon='../../../images/flag/sm.png' class="rounded-circle">Saint-Marin</option>
                                                <option value='Saint-Siège (état de la Cité du Vatican)' data-icon='../../../images/flag/va.png' class="rounded-circle">Saint-Siège (état de la Cité du Vatican)</option>
                                                <option value='Serbie-et-Monténégro' data-icon='../../../images/flag/cs.png' class="rounded-circle">Serbie-et-Monténégro</option>
                                                <option value='Slovaquie' data-icon='../../../images/flag/sk.png' class="rounded-circle">Slovaquie</option>
                                                <option value='Slovénie' data-icon='../../../images/flag/si.png' class="rounded-circle">Slovénie</option>
                                                <option value='Suède' data-icon='../../../images/flag/se.png' class="rounded-circle">Suède</option>
                                                <option value='Suisse' data-icon='../../../images/flag/ch.png' class="rounded-circle">Suisse</option>
                                                <option value='Ukraine' data-icon='../../../images/flag/ua.png' class="rounded-circle">Ukraine</option>






                                            </optgroup>
                                            <optgroup label="Océanie">
                                                <option value='Australie' data-icon='../../../images/flag/au.png' class="rounded-circle">Australie</option>
                                                <option value='États Fédérés de Micronésie' data-icon='../../../images/flag/fm.png' class="rounded-circle">États Fédérés de Micronésie</option>
                                                <option value='Fidji' data-icon='../../../images/flag/fj.png' class="rounded-circle">Fidji</option>
                                                <option value='Guam' data-icon='../../../images/flag/gu.png' class="rounded-circle">Guam</option>
                                                <option value='Île Christmas' data-icon='../../../images/flag/cx.png' class="rounded-circle">Île Christmas</option>
                                                <option value='Île Norfolk' data-icon='../../../images/flag/nf.png' class="rounded-circle">Île Norfolk</option>
                                                <option value='Îles Cocos (Keeling)' data-icon='../../../images/flag/cc.png' class="rounded-circle">Îles Cocos (Keeling)</option>
                                                <option value='Îles Cook' data-icon='../../../images/flag/ck.png' class="rounded-circle">Îles Cook</option>
                                                <option value='Îles Heard et Mcdonald' data-icon='../../../images/flag/hm.png' class="rounded-circle">Îles Heard et Mcdonald</option>
                                                <option value='Îles Mariannes du Nord' data-icon='../../../images/flag/mp.png' class="rounded-circle">Îles Mariannes du Nord</option>
                                                <option value='Îles Marshall' data-icon='../../../images/flag/mh.png' class="rounded-circle">Îles Marshall</option>
                                                <option value='Îles Salomon' data-icon='../../../images/flag/sb.png' class="rounded-circle">Îles Salomon</option>
                                                <option value='Kiribati' data-icon='../../../images/flag/ki.png' class="rounded-circle">Kiribati</option>
                                                <option value='Nauru' data-icon='../../../images/flag/nr.png' class="rounded-circle">Nauru</option>
                                                <option value='Niué' data-icon='../../../images/flag/nu.png' class="rounded-circle">Niué</option>
                                                <option value='Nouvelle-Calédonie' data-icon='../../../images/flag/nc.png' class="rounded-circle">Nouvelle-Calédonie</option>
                                                <option value='Nouvelle-Zélande' data-icon='../../../images/flag/nz.png' class="rounded-circle">Nouvelle-Zélande</option>
                                                <option value='Palaos' data-icon='../../../images/flag/pw.png' class="rounded-circle">Palaos</option>
                                                <option value='Papouasie-Nouvelle-Guinée' data-icon='../../../images/flag/pg.png' class="rounded-circle">Papouasie-Nouvelle-Guinée</option>
                                                <option value='Pitcairn' data-icon='../../../images/flag/pn.png' class="rounded-circle">Pitcairn</option>
                                                <option value='Polynésie Française' data-icon='../../../images/flag/pf.png' class="rounded-circle">Polynésie Française</option>
                                                <option value='Samoa' data-icon='../../../images/flag/ws.png' class="rounded-circle">Samoa</option>
                                                <option value='Samoa Américaines' data-icon='../../../images/flag/as.png' class="rounded-circle">Samoa Américaines</option>
                                                <option value='Tonga' data-icon='../../../images/flag/to.png' class="rounded-circle">Tonga</option>
                                                <option value='Tuvalu' data-icon='../../../images/flag/tv.png' class="rounded-circle">Tuvalu</option>
                                                <option value='Vanuatu' data-icon='../../../images/flag/vu.png' class="rounded-circle">Vanuatu</option>
                                                <option value='Wallis et Futuna' data-icon='../../../images/flag/wf.png' class="rounded-circle">Wallis et Futuna</option>


                                            </optgroup>

                                            <optgroup label="Asie">

                                                <option value='Afghanistan' data-icon='../../../images/flag/af.png' class="rounded-circle">Afghanistan</option>
                                                <option value='Arabie Saoudite' data-icon='../../../images/flag/sa.png' class="rounded-circle">Arabie Saoudite</option>
                                                <option value='Bahreïn' data-icon='../../../images/flag/bh.png' class="rounded-circle">Bahreïn</option>
                                                <option value='Bangladesh' data-icon='../../../images/flag/bd.png' class="rounded-circle">Bangladesh</option>
                                                <option value='Bhoutan' data-icon='../../../images/flag/bt.png' class="rounded-circle">Bhoutan</option>
                                                <option value='Brunéi Darussalam' data-icon='../../../images/flag/bn.png' class="rounded-circle">Brunéi Darussalam</option>
                                                <option value='Cambodge' data-icon='../../../images/flag/kh.png' class="rounded-circle">Cambodge</option>
                                                <option value='Chine' data-icon='../../../images/flag/cn.png' class="rounded-circle">Chine</option>
                                                <option value='Émirats Arabes Unis' data-icon='../../../images/flag/ae.png' class="rounded-circle">Émirats Arabes Unis</option>
                                                <option value='Fédération de Russie' data-icon='../../../images/flag/ru.png' class="rounded-circle">Fédération de Russie</option>
                                                <option value='Hong-Kong' data-icon='../../../images/flag/hk.png' class="rounded-circle">Hong-Kong</option>
                                                <option value='Inde' data-icon='../../../images/flag/in.png' class="rounded-circle">Inde</option>
                                                <option value='Indonésie' data-icon='../../../images/flag/id.png' class="rounded-circle">Indonésie</option>
                                                <option value='Iraq' data-icon='../../../images/flag/iq.png' class="rounded-circle">Iraq</option>
                                                <option value='Israël' data-icon='../../../images/flag/il.png' class="rounded-circle">Israël</option>
                                                <option value='Japon' data-icon='../../../images/flag/jp.png' class="rounded-circle">Japon</option>
                                                <option value='Jordanie' data-icon='../../../images/flag/jo.png' class="rounded-circle">Jordanie</option>
                                                <option value='Kazakhstan' data-icon='../../../images/flag/kz.png' class="rounded-circle">Kazakhstan</option>
                                                <option value='Kirghizistan' data-icon='../../../images/flag/kg.png' class="rounded-circle">Kirghizistan</option>
                                                <option value='Koweït' data-icon='../../../images/flag/kw.png' class="rounded-circle">Koweït</option>
                                                <option value='Liban' data-icon='../../../images/flag/lb.png' class="rounded-circle">Liban</option>
                                                <option value='Macao' data-icon='../../../images/flag/mo.png' class="rounded-circle">Macao</option>
                                                <option value='Malaisie' data-icon='../../../images/flag/my.png' class="rounded-circle">Malaisie</option>
                                                <option value='Maldives' data-icon='../../../images/flag/mv.png' class="rounded-circle">Maldives</option>
                                                <option value='Mongolie' data-icon='../../../images/flag/mn.png' class="rounded-circle">Mongolie</option>
                                                <option value='Myanmar' data-icon='../../../images/flag/mm.png' class="rounded-circle">Myanmar</option>
                                                <option value='Népal' data-icon='../../../images/flag/np.png' class="rounded-circle">Népal</option>
                                                <option value='Oman' data-icon='../../../images/flag/om.png' class="rounded-circle">Oman</option>
                                                <option value='Ouzbékistan' data-icon='../../../images/flag/uz.png' class="rounded-circle">Ouzbékistan</option>
                                                <option value='Pakistan' data-icon='../../../images/flag/pk.png' class="rounded-circle">Pakistan</option>
                                                <option value='Philippines' data-icon='../../../images/flag/ph.png' class="rounded-circle">Philippines</option>
                                                <option value='Qatar' data-icon='../../../images/flag/qa.png' class="rounded-circle">Qatar</option>
                                                <option value='République Arabe Syrienne' data-icon='../../../images/flag/sy.png' class="rounded-circle">République Arabe Syrienne</option>
                                                <option value='République de Corée' data-icon='../../../images/flag/kr.png' class="rounded-circle">République de Corée</option>
                                                <option value='République Démocratique Populaire Lao' data-icon='../../../images/flag/la.png' class="rounded-circle">République Démocratique Populaire Lao</option>
                                                <option value='République Islamique d' Iran' data-icon='../../../images/flag/ir.png' class="rounded-circle">République Islamique d'Iran</option>
                                                <option value='République Populaire Démocratique de Corée' data-icon='../../../images/flag/kp.png' class="rounded-circle">République Populaire Démocratique de Corée</option>
                                                <option value='Singapour' data-icon='../../../images/flag/sg.png' class="rounded-circle">Singapour</option>
                                                <option value='Sri Lanka' data-icon='../../../images/flag/lk.png' class="rounded-circle">Sri Lanka</option>
                                                <option value='Tadjikistan' data-icon='../../../images/flag/tj.png' class="rounded-circle">Tadjikistan</option>
                                                <option value='Taïwan' data-icon='../../../images/flag/tw.png' class="rounded-circle">Taïwan</option>
                                                <option value='Thaïlande' data-icon='../../../images/flag/th.png' class="rounded-circle">Thaïlande</option>
                                                <option value='Turkménistan' data-icon='../../../images/flag/tm.png' class="rounded-circle">Turkménistan</option>
                                                <option value='Turquie' data-icon='../../../images/flag/tr.png' class="rounded-circle">Turquie</option>
                                                <option value='Viet Nam' data-icon='../../../images/flag/vn.png' class="rounded-circle">Viet Nam</option>
                                                <option value='Yémen' data-icon='../../../images/flag/ye.png' class="rounded-circle">Yémen</option>




                                            </optgroup>
                                            <optgroup label="Antarctique">
                                                <option value='Antarctique' data-icon='../../../images/flag/aq.png' class="rounded-circle">Antarctique</option>





                                            </optgroup>
                                            <optgroup label="Afrique">
                                                <option value='Afrique du Sud' data-icon='../../../images/flag/za.png' class="rounded-circle">Afrique du Sud</option>
                                                <option value='Algérie' data-icon='../../../images/flag/dz.png' class="rounded-circle">Algérie</option>
                                                <option value='Angola' data-icon='../../../images/flag/ao.png' class="rounded-circle">Angola</option>
                                                <option value='Bénin' data-icon='../../../images/flag/bj.png' class="rounded-circle">Bénin</option>
                                                <option value='Botswana' data-icon='../../../images/flag/bw.png' class="rounded-circle">Botswana</option>
                                                <option value='Burkina Faso' data-icon='../../../images/flag/bf.png' class="rounded-circle">Burkina Faso</option>
                                                <option value='Burundi' data-icon='../../../images/flag/bi.png' class="rounded-circle">Burundi</option>
                                                <option value='Cameroun' data-icon='../../../images/flag/cm.png' class="rounded-circle">Cameroun</option>
                                                <option value='Cap-vert' data-icon='../../../images/flag/cv.png' class="rounded-circle">Cap-vert</option>
                                                <option value='Comores' data-icon='../../../images/flag/km.png' class="rounded-circle">Comores</option>
                                                <option value='Côte d' Ivoire' data-icon='../../../images/flag/ci.png' class="rounded-circle">Côte d'Ivoire</option>
                                                <option value='Djibouti' data-icon='../../../images/flag/dj.png' class="rounded-circle">Djibouti</option>
                                                <option value='Égypte' data-icon='../../../images/flag/eg.png' class="rounded-circle">Égypte</option>
                                                <option value='Érythrée' data-icon='../../../images/flag/er.png' class="rounded-circle">Érythrée</option>
                                                <option value='Éthiopie' data-icon='../../../images/flag/et.png' class="rounded-circle">Éthiopie</option>
                                                <option value='Gabon' data-icon='../../../images/flag/ga.png' class="rounded-circle">Gabon</option>
                                                <option value='Gambie' data-icon='../../../images/flag/gm.png' class="rounded-circle">Gambie</option>
                                                <option value='Ghana' data-icon='../../../images/flag/gh.png' class="rounded-circle">Ghana</option>
                                                <option value='Guinée' data-icon='../../../images/flag/gn.png' class="rounded-circle">Guinée</option>
                                                <option value='Guinée Équatoriale' data-icon='../../../images/flag/gq.png' class="rounded-circle">Guinée Équatoriale</option>
                                                <option value='Guinée-Bissau' data-icon='../../../images/flag/gw.png' class="rounded-circle">Guinée-Bissau</option>
                                                <option value='Jamahiriya Arabe Libyenne' data-icon='../../../images/flag/ly.png' class="rounded-circle">Jamahiriya Arabe Libyenne</option>
                                                <option value='Kenya' data-icon='../../../images/flag/ke.png' class="rounded-circle">Kenya</option>
                                                <option value='Lesotho' data-icon='../../../images/flag/ls.png' class="rounded-circle">Lesotho</option>
                                                <option value='Libéria' data-icon='../../../images/flag/lr.png' class="rounded-circle">Libéria</option>
                                                <option value='Madagascar' data-icon='../../../images/flag/mg.png' class="rounded-circle">Madagascar</option>
                                                <option value='Malawi' data-icon='../../../images/flag/mw.png' class="rounded-circle">Malawi</option>
                                                <option value='Mali' data-icon='../../../images/flag/ml.png' class="rounded-circle">Mali</option>
                                                <option value='Maroc' data-icon='../../../images/flag/ma.png' class="rounded-circle">Maroc</option>
                                                <option value='Maurice' data-icon='../../../images/flag/mu.png' class="rounded-circle">Maurice</option>
                                                <option value='Mauritanie' data-icon='../../../images/flag/mr.png' class="rounded-circle">Mauritanie</option>
                                                <option value='Mayotte' data-icon='../../../images/flag/yt.png' class="rounded-circle">Mayotte</option>
                                                <option value='Mozambique' data-icon='../../../images/flag/mz.png' class="rounded-circle">Mozambique</option>
                                                <option value='Namibie' data-icon='../../../images/flag/na.png' class="rounded-circle">Namibie</option>
                                                <option value='Niger' data-icon='../../../images/flag/ne.png' class="rounded-circle">Niger</option>
                                                <option value='Nigéria' data-icon='../../../images/flag/ng.png' class="rounded-circle">Nigéria</option>
                                                <option value='Ouganda' data-icon='../../../images/flag/ug.png' class="rounded-circle">Ouganda</option>
                                                <option value='République Centrafricaine' data-icon='../../../images/flag/cf.png' class="rounded-circle">République Centrafricaine</option>
                                                <option value='République Démocratique du Congo' data-icon='../../../images/flag/cd.png' class="rounded-circle">République Démocratique du Congo</option>
                                                <option value='République du Congo' data-icon='../../../images/flag/cg.png' class="rounded-circle">République du Congo</option>
                                                <option value='République-Unie de Tanzanie' data-icon='../../../images/flag/tz.png' class="rounded-circle">République-Unie de Tanzanie</option>
                                                <option value='Réunion' data-icon='../../../images/flag/re.png' class="rounded-circle">Réunion</option>
                                                <option value='Rwanda' data-icon='../../../images/flag/rw.png' class="rounded-circle">Rwanda</option>
                                                <option value='Sahara Occidental' data-icon='../../../images/flag/eh.png' class="rounded-circle">Sahara Occidental</option>
                                                <option value='Sainte-Hélène' data-icon='../../../images/flag/sh.png' class="rounded-circle">Sainte-Hélène</option>
                                                <option value='Sao Tomé-et-Principe' data-icon='../../../images/flag/st.png' class="rounded-circle">Sao Tomé-et-Principe</option>
                                                <option value='Sénégal' data-icon='../../../images/flag/sn.png' class="rounded-circle">Sénégal</option>
                                                <option value='Seychelles' data-icon='../../../images/flag/sc.png' class="rounded-circle">Seychelles</option>
                                                <option value='Sierra Leone' data-icon='../../../images/flag/sl.png' class="rounded-circle">Sierra Leone</option>
                                                <option value='Somalie' data-icon='../../../images/flag/so.png' class="rounded-circle">Somalie</option>
                                                <option value='Soudan' data-icon='../../../images/flag/sd.png' class="rounded-circle">Soudan</option>
                                                <option value='Swaziland' data-icon='../../../images/flag/sz.png' class="rounded-circle">Swaziland</option>
                                                <option value='Tchad' data-icon='../../../images/flag/td.png' class="rounded-circle">Tchad</option>
                                                <option value='Terres Australes Françaises' data-icon='../../../images/flag/tf.png' class="rounded-circle">Terres Australes Françaises</option>
                                                <option value='Territoire Britannique de l' Océan Indien' data-icon='../../../images/flag/io.png' class="rounded-circle">Territoire Britannique de l'Océan Indien</option>
                                                <option value='Togo' data-icon='../../../images/flag/tg.png' class="rounded-circle">Togo</option>
                                                <option value='Tunisie' data-icon='../../../images/flag/tn.png' class="rounded-circle">Tunisie</option>
                                                <option value='Zambie' data-icon='../../../images/flag/zm.png' class="rounded-circle">Zambie</option>
                                                <option value='Zimbabwe' data-icon='../../../images/flag/zw.png' class="rounded-circle">Zimbabwe</option>




                                            </optgroup>
                                            <optgroup label="Amérique">
                                                <option value='Anguilla' data-icon='../../../images/flag/ai.png' class="rounded-circle">Anguilla</option>
                                                <option value='Antigua-et-Barbuda' data-icon='../../../images/flag/ag.png' class="rounded-circle">Antigua-et-Barbuda</option>
                                                <option value='Argentine' data-icon='../../../images/flag/ar.png' class="rounded-circle">Argentine</option>
                                                <option value='Aruba' data-icon='../../../images/flag/aw.png' class="rounded-circle">Aruba</option>
                                                <option value='Bahamas' data-icon='../../../images/flag/bs.png' class="rounded-circle">Bahamas</option>
                                                <option value='Barbade' data-icon='../../../images/flag/bb.png' class="rounded-circle">Barbade</option>
                                                <option value='Belize' data-icon='../../../images/flag/bz.png' class="rounded-circle">Belize</option>
                                                <option value='Bermudes' data-icon='../../../images/flag/bm.png' class="rounded-circle">Bermudes</option>
                                                <option value='Bolivie' data-icon='../../../images/flag/bo.png' class="rounded-circle">Bolivie</option>
                                                <option value='Brésil' data-icon='../../../images/flag/br.png' class="rounded-circle">Brésil</option>
                                                <option value='Canada' data-icon='../../../images/flag/ca.png' class="rounded-circle">Canada</option>
                                                <option value='Chili' data-icon='../../../images/flag/cl.png' class="rounded-circle">Chili</option>
                                                <option value='Colombie' data-icon='../../../images/flag/co.png' class="rounded-circle">Colombie</option>
                                                <option value='Costa Rica' data-icon='../../../images/flag/cr.png' class="rounded-circle">Costa Rica</option>
                                                <option value='Cuba' data-icon='../../../images/flag/cu.png' class="rounded-circle">Cuba</option>
                                                <option value='Dominique' data-icon='../../../images/flag/dm.png' class="rounded-circle">Dominique</option>
                                                <option value='El Salvador' data-icon='../../../images/flag/sv.png' class="rounded-circle">El Salvador</option>
                                                <option value='Équateur' data-icon='../../../images/flag/ec.png' class="rounded-circle">Équateur</option>
                                                <option value='États-Unis' data-icon='../../../images/flag/us.png' class="rounded-circle">États-Unis</option>
                                                <option value='Grenade' data-icon='../../../images/flag/gd.png' class="rounded-circle">Grenade</option>
                                                <option value='Groenland' data-icon='../../../images/flag/gl.png' class="rounded-circle">Groenland</option>
                                                <option value='Guadeloupe' data-icon='../../../images/flag/gp.png' class="rounded-circle">Guadeloupe</option>
                                                <option value='Guatemala' data-icon='../../../images/flag/gt.png' class="rounded-circle">Guatemala</option>
                                                <option value='Guyana' data-icon='../../../images/flag/gy.png' class="rounded-circle">Guyana</option>
                                                <option value='Guyane Française' data-icon='../../../images/flag/gf.png' class="rounded-circle">Guyane Française</option>
                                                <option value='Haïti' data-icon='../../../images/flag/ht.png' class="rounded-circle">Haïti</option>
                                                <option value='Honduras' data-icon='../../../images/flag/hn.png' class="rounded-circle">Honduras</option>
                                                <option value='Île Bouvet' data-icon='../../../images/flag/bv.png' class="rounded-circle">Île Bouvet</option>
                                                <option value='Îles (malvinas) Falkland' data-icon='../../../images/flag/fk.png' class="rounded-circle">Îles (malvinas) Falkland</option>
                                                <option value='Îles Caïmanes' data-icon='../../../images/flag/ky.png' class="rounded-circle">Îles Caïmanes</option>
                                                <option value='Îles Vierges Britanniques' data-icon='../../../images/flag/vg.png' class="rounded-circle">Îles Vierges Britanniques</option>
                                                <option value='Îles Vierges des États-Unis' data-icon='../../../images/flag/vi.png' class="rounded-circle">Îles Vierges des États-Unis</option>
                                                <option value='Jamaïque' data-icon='../../../images/flag/jm.png' class="rounded-circle">Jamaïque</option>
                                                <option value='Martinique' data-icon='../../../images/flag/mq.png' class="rounded-circle">Martinique</option>
                                                <option value='Mexique' data-icon='../../../images/flag/mx.png' class="rounded-circle">Mexique</option>
                                                <option value='Montserrat' data-icon='../../../images/flag/ms.png' class="rounded-circle">Montserrat</option>
                                                <option value='Nicaragua' data-icon='../../../images/flag/ni.png' class="rounded-circle">Nicaragua</option>
                                                <option value='Panama' data-icon='../../../images/flag/pa.png' class="rounded-circle">Panama</option>
                                                <option value='Paraguay' data-icon='../../../images/flag/py.png' class="rounded-circle">Paraguay</option>
                                                <option value='Pérou' data-icon='../../../images/flag/pe.png' class="rounded-circle">Pérou</option>
                                                <option value='Porto Rico' data-icon='../../../images/flag/pr.png' class="rounded-circle">Porto Rico</option>
                                                <option value='République Dominicaine' data-icon='../../../images/flag/do.png' class="rounded-circle">République Dominicaine</option>
                                                <option value='Sainte-Lucie' data-icon='../../../images/flag/lc.png' class="rounded-circle">Sainte-Lucie</option>
                                                <option value='Saint-Kitts-et-Nevis' data-icon='../../../images/flag/kn.png' class="rounded-circle">Saint-Kitts-et-Nevis</option>
                                                <option value='Saint-Pierre-et-Miquelon' data-icon='../../../images/flag/pm.png' class="rounded-circle">Saint-Pierre-et-Miquelon</option>
                                                <option value='Saint-Vincent-et-les Grenadines' data-icon='../../../images/flag/vc.png' class="rounded-circle">Saint-Vincent-et-les Grenadines</option>
                                                <option value='Suriname' data-icon='../../../images/flag/sr.png' class="rounded-circle">Suriname</option>
                                                <option value='Trinité-et-Tobago' data-icon='../../../images/flag/tt.png' class="rounded-circle">Trinité-et-Tobago</option>
                                                <option value='Uruguay' data-icon='../../../images/flag/uy.png' class="rounded-circle">Uruguay</option>
                                                <option value='Venezuela' data-icon='../../../images/flag/ve.png' class="rounded-circle">Venezuela</option>

                                            </optgroup>
                                        </select>
                                        <span asp-validation-for="Input.usercountry" class="text-danger"></span>

                                    </div>

                                    <div class="md-form mb-0">

                                        <label asp-for="Input.Siren">SIREN (Sociétés Françaises)</label>
                                        <input asp-for="Input.Siren" type="text" id="CompanyName" class="form-control">
                                        <span asp-validation-for="Input.Siren" class="text-danger"></span>
                                    </div>

                                    <div class="md-form mb-0">

                                        <label asp-for="Input.TVAIntracommunautaire">N° TVA Intracom (Sociétés européennes)</label>
                                        <input asp-for="Input.TVAIntracommunautaire" type="text" id="CompanyName" class="form-control">
                                        <span asp-validation-for="Input.TVAIntracommunautaire" class="text-danger"></span>
                                    </div>


                                    <div class="md-form mb-0">

                                        <label asp-for="Input.CompanyName">Nom de votre société</label>
                                        <input asp-for="Input.CompanyName" type="text" id="CompanyName" class="form-control">
                                        <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                                    </div>



                                    <div class="md-form mb-0">

                                        <i class="fas fa-city prefix dark-grey-text"></i>

                                        <label asp-for="Input.City">Ville</label>
                                        <input asp-for="Input.City" type="text" id="city" class="form-control" />
                                        <span asp-validation-for="Input.City" class="text-danger"></span>
                                    </div>
                                    <div class="md-form mb-0">
                                        <i class="fas fa-mailboxprefix dark-grey-text"></i>

                                        <label asp-for="Input.PostalCode">Code postal</label>
                                        <input asp-for="Input.PostalCode" id="codePostal" type="text" class="form-control" />
                                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                                    </div>

                                    <div class="md-form mb-0">


                                        <label asp-for="Input.Adresse">Adresse</label>
                                        <input asp-for="Input.Adresse" type="text" id="Address" class="form-control" />
                                        <span asp-validation-for="Input.Adresse" class="text-danger"></span>

                                    </div>

                                     

                                    <div class=" mb-0 ">
                                        <select asp-for="Input.ActivitySector" class="mdb-select md-form colorful-select dropdown-primary " searchable="Rechercher ici..">
                                            <option value="" disabled selected>@IdentityLocalizer.GetLocalizedHtmlString("Votre activité") </option>
                                            <option value="1">@IdentityLocalizer.GetLocalizedHtmlString("Laboratoire Pharmaceutique")</option>
                                            <option value="2">@IdentityLocalizer.GetLocalizedHtmlString("Pharmacie")</option>
                                            <option value="3">@IdentityLocalizer.GetLocalizedHtmlString("Grossiste - Distributeur")</option>
                                            <option value="4">@IdentityLocalizer.GetLocalizedHtmlString("Maison de santé")</option>
                                            <option value="5">@IdentityLocalizer.GetLocalizedHtmlString("Hopital")</option>
                                            <option value="6">@IdentityLocalizer.GetLocalizedHtmlString("Maison de retraite")</option>
                                            <option value="7">@IdentityLocalizer.GetLocalizedHtmlString("Etablissement scolaire")</option>
                                            <option value="8">@IdentityLocalizer.GetLocalizedHtmlString("Entreprise privée")</option>
                                            <option value="9">@IdentityLocalizer.GetLocalizedHtmlString("Administration publique")</option>
                                            <option value="10">@IdentityLocalizer.GetLocalizedHtmlString("Centre de soins Spa")</option>
                                            <option value="11">@IdentityLocalizer.GetLocalizedHtmlString("Hotellerie")</option>
                                            <option value="12">@IdentityLocalizer.GetLocalizedHtmlString("Centre de soins")</option>
                                            <option value="13">@IdentityLocalizer.GetLocalizedHtmlString("Salon de coiffure")</option>
                                            <option value="14">@IdentityLocalizer.GetLocalizedHtmlString("Autres")</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Input.ActivitySector" class="text-danger"></span>

                                    <div class="md-form mb-0">



                                        <label asp-for="Input.Position">@IdentityLocalizer.GetLocalizedHtmlString("Votre Poste")</label>
                                        <input id="Position" asp-for="Input.Position" type="text" class="form-control" />
                                        <span asp-validation-for="Input.Position" class="text-danger"></span>

                                    </div>


                                    <div class="md-form mb-0">
                                        <i class="fas fa-lock prefix dark-grey-text"></i>

                                        <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                                        <input asp-for="Input.Password" type="password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                    </div>

                                    <div class="md-form mb-0">
                                        <i class="fas fa-lock prefix dark-grey-text"></i>

                                        <label asp-for="Input.ConfirmPassword">@IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                    </div>

                                    <div class="text-center mb-5 pb-5">
                                        <button type="submit" class="btn copyright text-white btn-rounded mt-3">@IdentityLocalizer.GetLocalizedHtmlString("REGISTER")</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </div>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

</section>


<div class="row">
    @*<div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>*@
    <div class="col-md-6 col-md-offset-2">
        <section>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {

                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {

                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>



        $(document).ready(function () {

            $("#codePostal").autocomplete({
                source: function (request, response) {
                    $.getJSON("/api/codePostal", { country: $('#country').val(), city: $('#city').val(), term: $('#codePostal').val() },
                        response);
                },
                minLength: 1
            });
        });

        $(document).ready(function () {

            $("#city").autocomplete({
                source: function (request, response) {
                    $.getJSON("/api/city", { country: $('#country').val(), codePostal: $('#codePostal').val(), term: $('#city').val() },
                        response);
                },
                minLength: 2

            });
        });




        $(document).ready(function () {


            $("#CompanyName").autocomplete({

                source: function (request, response) {
                    $.getJSON("/api/company", { country: $('#country').val(), term: $('#CompanyName').val() },
                        response);
                },
                minLength: 10
            });

        });


        $(document).ready(function () {


            $("#Address").autocomplete({

                source: function (request, response) {
                    $.getJSON("/api/address", { country: $('#country').val(), codePostal: $('#codePostal').val(), city: $('#city').val(), term: $('#Address').val() },
                        response);
                },
                minLength: 4
            });

        });



        $(document).ready(function () {


            $("#Position").autocomplete({

                source: function (request, response) {
                    $.getJSON("/api/position", { term: $('#Position').val() },
                        response);
                },
                minLength: 2
            });

        });
    </script>

}

@*https://adresse.data.gouv.fr/data/ban/adresses/latest/csv/*@