﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MarketPlace Pharma Shop Center  </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">


    <style>
        .md-outline.select-wrapper + label {
            top: .6em !important;
            z-index: 2 !important;
        }
    </style>

    <style>

        .select_box {
            overflow: hidden;
            border: 0px solid #000;
            position: relative;
            padding: 10px 0;
        }

            .select_box:after {
                width: 0;
                height: 0;
                background-color: #1f61ab;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #fff;
                position: absolute;
                top: 40%;
                right: 5px;
                content: "";
                z-index: 98;
            }

            .select_box select {
                border: 0;
                position: relative;
                z-index: 99;
                background: none;
            }
    </style>

    <style>

        select {
            /* styling */
            background-color: white;
            border: thin solid blue;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 3.5em 0.5em 1em;
            /* reset */
            margin: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
        }


            /* arrows */

            select.classic {
                background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
                background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
                background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                background-repeat: no-repeat;
            }

                select.classic:focus {
                    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
                    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
                    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                    background-repeat: no-repeat;
                    border-color: grey;
                    outline: 0;
                }




            select.round {
                background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
                background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
                background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
                background-repeat: no-repeat;
            }

                select.round:focus {
                    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
                    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
                    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
                    background-repeat: no-repeat;
                    border-color: green;
                    outline: 0;
                }





            select.minimal {
                background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
                background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
                background-size: 5px 5px, 5px 5px, 1px 1.5em;
                background-repeat: no-repeat;
            }

                select.minimal:focus {
                    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
                    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
                    background-size: 5px 5px, 5px 5px, 1px 1.5em;
                    background-repeat: no-repeat;
                    border-color: green;
                    outline: 0;
                }


            select:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
    </style>




</head>

<body class="homepage-v3 hidden-sn white-skin animated">

    <!-- Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav custom-scrollbar">

            <!-- Logo -->
            <li>

                <div class="logo-wrapper waves-light">

                    <a href="#"><img src="~/images/logo_pharmashopcenter_couleurs_transparent_s.png" height="147" width="450" class="img-fluid flex-center"></a>

                </div>

            </li>
            <!-- Logo -->
            <!-- Social -->
            <li>

                <ul class="social">



                    <li><a class="fb-ic"><i class="fab fa-facebook-f" href="https://www.facebook.com/pharmashopcenter-106403577881229"> </i></a></li>

                    <li><a class="pin-ic"><i class="fab fa-twitter textevertbleu" href="https://twitter.com/PharmaShopCent1"> </i></a></li>

                    <li><a class="tw-ic"><i class="fab fa-instagram textevertbleu" href="https://www.instagram.com/pharmashopcenter/"> </i></a></li>

                </ul>

            </li>
            <!-- Social -->
            <!-- Search Form -->
            <li>

                <form class="search-form" role="search">

                    <div class="form-group md-form mt-0 pt-1 waves-light">

                        <input type="text" class="form-control" placeholder="Search">

                    </div>

                </form>

            </li>
            <!-- Search Form -->
            <!-- Side navigation links -->
            <li>

                <ul class="collapsible collapsible-accordion">

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-shopping-cart"></i> Cart page<i class="fas fa-angle-down rotate-icon"></i>
                        </a>

                        <div class="collapsible-body">

                            <ul>

                                <li>
                                    <a href="../cart/cart-v1.html" class="waves-effect">Cart V.1</a>

                                </li>

                                <li>
                                    <a href="../cart/cart-v2.html" class="waves-effect">Cart V.2</a>

                                </li>

                            </ul>

                        </div>

                    </li>

                    <li>


                        <div class="collapsible-body">

                            <ul>

                                <li>
                                    <a href="../category/category-v1.html" class="waves-effect">Category V.1</a>

                                </li>

                                <li>
                                    <a href="../category/category-v2.html" class="waves-effect">Category V.2</a>

                                </li>

                                <li>
                                    <a href="../category/category-v3.html" class="waves-effect">Category V.3</a>

                                </li>

                                <li>
                                    <a href="../category/category-v4.html" class="waves-effect">Category V.4</a>

                                </li>

                            </ul>

                        </div>

                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="far fa-bookmark"></i> Homepage<i class="fas fa-angle-down rotate-icon"></i>
                        </a>

                        <div class="collapsible-body">

                            <ul>

                                <li>
                                    <a href="../homepage/homepage-v1.html" class="waves-effect">Homepage V.1</a>

                                </li>

                                <li>
                                    <a href="../homepage/homepage-v2.html" class="waves-effect">Homepage V.2</a>

                                </li>

                                <li>
                                    <a href="../homepage/homepage-v3.html" class="waves-effect">Homepage V.3</a>

                                </li>

                            </ul>

                        </div>

                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-camera-retro"></i> Product page<i class="fas fa-angle-down rotate-icon"></i>
                        </a>

                        <div class="collapsible-body">

                            <ul>

                                <li>
                                    <a href="../product/product-v1.html" class="waves-effect">Product V.1</a>

                                </li>

                                <li>
                                    <a href="../product/product-v2.html" class="waves-effect">Product V.2</a>

                                </li>

                            </ul>

                        </div>

                    </li>

                    <li>
                        <a href="../contact/contact.html" class="collapsible-header waves-effect">
                            <i class="fas fa-envelope"></i>

                            Contact
                        </a>
                    </li>

                </ul>

            </li>

            <!-- Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>

        </ul>
        <!-- Sidebar navigation -->

        <ul id="slide-out" class="side-nav custom-scrollbar">
      
                       <div class="container-fluid row   ">

                    <div class="col-3 container-fluid  ">
                        <div class="container-fluid row"><strong>Top vente</strong></div>
                        <div class="container-fluid row">Lansinoh</div>
                        <div class="container-fluid row">Pranarom</div>
                        <div class="container-fluid row">Ella</div>
                        <div class="container-fluid row">Alvita</div>

                    </div>
                    <div class="col-3 container-fluid ">
                        <div class="container-fluid row"><strong>Sharing Buying</strong></div>
                        <div class="container-fluid row">France</div>
                        <div class="container-fluid row">Belgique</div>
                        <div class="container-fluid row">Espagne</div>
                        <div class="container-fluid row">Turque</div>
                    </div>
                    <div class="col-3 container-fluid ">
                        <div class="container-fluid row"><strong>Prochaines clotures</strong></div>
                        <div class="container-fluid row">13/10/2020 <span class="bg-danger">-10%</span></div>
                        <div class="container-fluid row">13/10/2020 -10%</div>
                        <div class="container-fluid row">13/10/2020 -25%</div>
                        <div class="container-fluid row">13/10/2020  <span class="success">-10%</span></div>
                    </div>
                    <div class="col-3 container-fluid ">
                        <div class="container-fluid row"><strong>Prochaines ouverture</strong></div>
                        <div class="container-fluid row">13/10/2020 -10%</div>
                        <div class="container-fluid row">13/10/2020 <span class="bg-success">-10%</span></div>
                        <div class="container-fluid row">13/10/2020 -10%</div>
                        <div class="container-fluid row">13/10/2020 -10%</div>
                    </div>





                </div>

 
        </ul>

            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar text-white " style="background-color:#1F61AB; color:white">

                <div class="container">
                    <div class="float-left mr-2">
                        <a class="navbar-brand textevertbleu" asp-area="" asp-page="/Index">
                            <img src="~/images/logo_pharmashopcenter_BLANC_transparent_S.png" height="49" width="150" />
                        </a>

                    </div>

                    <!-- SideNav slide-out button -->
                    <div class="float-left mr-2">

                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>

                    </div>

                    <a class="navbar-brand font-weight-bold text-white" href="#"><strong class="text-white">SHOP PRO</strong></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">

                                <a asp-area="" asp-page="/Index" class="nav-link waves-effect waves-light dark-grey-text font-weight-bold text-white">


                                    <span class="text-white"> Acceuil </span><span class="sr-only">(current)</span>
                                </a>

                            </li>






                            <li class="nav-item dropdown mega-dropdown">

                                <a class="nav-link dropdown-toggle no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"><span class="text-white">Nos solutions</span></a>

                                <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                                    <div class="row mx-md-4 mx-1">

                                        <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">

                                            <h6 class="sub-title text-uppercase font-weight-bold blue-text">Featured</h6>

                                            <ul class="caret-style pl-0">

                                                <li class=""><a class="menu-item mb-0" href="">Mouse</a></li>

                                                <li class=""><a class="menu-item" href="">Printer</a></li>

                                                <li class=""><a class="menu-item" href="">Laptop bags</a></li>

                                                <li class=""><a class="menu-item" href="">Software</a></li>

                                                <li class=""><a class="menu-item" href="">Headphones</a></li>

                                            </ul>

                                        </div>

                                        <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">

                                            <h6 class="sub-title text-uppercase font-weight-bold blue-text">Related</h6>

                                            <!-- Featured image -->
                                            <div class="view overlay mb-3 z-depth-1">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid"
                                                     alt="First sample image">

                                                <div class="mask flex-center rgba-white-slight">

                                                    <p></p>

                                                </div>

                                            </div>

                                            <h4 class="mb-2"><a class="news-title-2 pl-0" href="">Lorem ipsum dolor sit</a></h4>

                                            <p class="font-small text-uppercase dark-grey-text">
                                                <i class="far fa-clock-o pr-2"
                                                   aria-hidden="true"></i>July

                                                17, 2017 / <i class="far fa-comments px-1" aria-hidden="true"></i> 20
                                            </p>

                                        </div>

                                        <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">

                                            <h6 class="sub-title text-uppercase font-weight-bold blue-text">Bestseller</h6>

                                            <!-- Featured image -->
                                            <div class="view overlay mb-3 z-depth-1">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg" class="img-fluid"
                                                     alt="First sample image">

                                                <div class="mask flex-center rgba-white-slight">

                                                    <p></p>

                                                </div>

                                            </div>

                                            <h4 class="mb-2"><a class="news-title-2 pl-0" href="">Ut labore et dolore magna</a></h4>

                                            <p class="font-small text-uppercase dark-grey-text">
                                                <i class="far fa-clock-o pr-2"
                                                   aria-hidden="true"></i>July

                                                16, 2017 / <i class="far fa-comments px-1" aria-hidden="true"></i> 25
                                            </p>

                                        </div>

                                        <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">

                                            <h6 class="sub-title text-uppercase font-weight-bold blue-text">

                                                Customers opinion
                                            </h6>

                                            <ul class="caret-style pl-0">

                                                <li class=""><a class="menu-item" href="">Totam rem aperiam eaque</a></li>

                                                <li class=""><a class="menu-item" href="">Beatae vitae dicta sun</a></li>

                                                <li class=""><a class="menu-item" href="">Quae ab illo inventore</a></li>

                                                <li class=""><a class="menu-item" href="">Nemo enim ipsam</a></li>

                                                <li class=""><a class="menu-item" href="">Neque porro quisquam est</a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </li>

                            <li class="nav-item ml-3 pull-right float-lg-right">

                                <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">


                                    <span class="text-white"> Connexion</span>
                                </a>

                            </li>

                            <li class="nav-item ml-3  pull-right float-lg-right">

                                <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">


                                    <span class="text-white"> Déconnexioion</span>
                                </a>

                            </li>


                            <li class="nav-item ml-3 pt-2  ">
                                <form>
                                    <select class="  minimal  " id="Selectedlanguage" style="  font-size:x-small">
                                        <option value="1" style="  font-size:x-small">FR</option>
                                        <option value="2" style="  font-size:x-small">EN</option>
                                    </select>
                                </form>
                            </li>

                        </ul>

                    </div>

                </div>

            </nav>

            <!-- Navbar -->
    </header>
    <!-- Navigation -->
    <!-- Mega menu -->

    <!-- Mega menu -->
    <!-- Main Container -->



    <partial name="_CookieConsentPartial" />


    @RenderBody()




    <footer class="page-footer font-small   pt-4 dark-grey-text" style="background-color: #D6ECF0">


        <div class="container text-center  text-md-left">

            <div class="row">


                <div class="col-md-2 mt-md-0 mt-3">

                    <h3 class="mb-3">
                        <a class="brand " href="https://www.pharmashopcenter.com">

                            <img src="~/images/logo_pharmashopcenter_COULEURS_transparent_S.png" height="32" width="100" />

                        </a>
                    </h3>

                    <p class="mb-1">
                        <strong>
                            57 Grande rue, 78955
                            Carrières Sous Poissy<br />
                            &phone;: +33 1 39 74 77 91
                        </strong>
                    </p>

                </div>

                <div class="col-md-2  mb-md-0 mb-3">

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.pharmashopcenter.com">Acceuil</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>

                            <a class="dark-grey-text" href="https://localhost:44390/About">A&nbsp;propos&nbsp;de&nbsp;nous</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Contact">Contact</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2  mb-md-0 mb-3">


                    <ul class="list-unstyled">

                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Pharmacies">Partenaires&nbsp;Pharmacies</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/Laboratoires">Partenaires&nbsp;Laboratoires</a>
                        </li>

                    </ul>

                </div>

                <div class="col-md-2 mb-md-0 mb-3">


                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/CG">Conditions&nbsp;générales</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/DataProtection">Protection&nbsp;des&nbsp;données</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://localhost:44390/MentionsLegales">Mentions&nbsp;légales</a>
                        </li>
                    </ul>

                </div>


                <div class="col-md-2 col-lg-1 mb-md-0 mb-3">


                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.facebook.com/pharmashopcenter-106403577881229">Facebook</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.instagram.com/pharmashopcenter/">Instagram</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://twitter.com/PharmaShopCent1">Twitter</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dark-grey-text" href="https://www.youtube.com/channel/UCSxB3SOCvy--MBiKUCuEkqg">Youtube</a>
                        </li>
                    </ul>


                </div>


                <div class="col-md-2 col-lg-3 mb-md-0 mb-3">
                    <h6 class="mb-4 dark-grey-text list-unstyled">
                        <strong>
                            Si vous souhaitez en savoir plus sur Pharmashopcenter,
                            laissez-nous votre adresse email.

                        </strong>
                    </h6>

                    <form id="formVisitor" action="api/visitor">
                        <div class="input-group mb-3">
                            <input id="emailAddressVisitor" type="email" class="form-control" placeholder="Votre adresse email" aria-label="Recipient's username"
                                   aria-describedby="basic-addon2" style=" font-size:small" required>
                            <div class="input-group-append">
                                <button typeof="submit" class="input-group-text" id="basic-addon2" style=" font-size:small">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>



            </div>

        </div>



        <div class="copyright text-center py-3 text-white">
            © 2020 Copyright:
            <a class="text-white" href="https://www.pharmashopcenter.com"> Pharmashopcenter.com</a>
        </div>


    </footer>
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>



    <script>
// this is the id of the form
        $("#formVisitor").submit(function(e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
    //  var form = $(this);
     // var url = form.attr('action');

            data0 = {

                emailAddress: document.getElementById('emailAddressVisitor').value

            };
            //var json = JSON.stringify(data0);

            $.ajax({
                type: "GET",
                url: "api/visitor",
                data: data0,
            headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                    success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        document.getElementById("formVisitor").reset();
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
            });
        });

    </script>

    @RenderSection("Scripts", required: false)

    @*<script type="text/javascript">
        /* WOW.js init */
        new WOW().init();

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });

        // SideNav Initialization
        $(".button-collapse").sideNav();

    </script>*@


</body>
</html>

