﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<MarketPlace.Model.MarketplaceUser> SignInManager
@inject UserManager<MarketPlace.Model.MarketplaceUser> UserManager
@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager


    <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>*@


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>

 

    <li class="nav-item ml-3">
        <form class="nav-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
            
            <a  class="nav-link waves-effect waves-light text-white font-weight-bold" href="javascript:;" onclick="parentNode.submit();">Déconnexion</a>
        </form>
    </li>
    <li class="nav-item ml-3">

        <a class="nav-link dark-grey-text font-weight-bold" asp-area="" asp-page="/Market/Chart">

            <span id="NbProductInChart" class="badge danger-color"></span>

            <i class="fas fa-shopping-cart lg white-text" aria-hidden="true"></i>
        </a>

    </li>

}
else
{
    
    <li class="nav-item ml-3">
        <a class="nav-link waves-effect waves-light text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Login">

            Connexion
        </a>
    </li>

    <li class="nav-item ml-3">
        <a class="nav-link waves-effect waves-light text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Register">

            Devenir&nbsp;partenaire
        </a>
    </li>



}