*
/*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    */
.slideshow {
    width: 100%;
    height: 750px; 
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
}

.slideshow-item
{
    width: inherit;
    height: inherit;
    position: absolute;
    /*opacity: 0; 
    animation: cycleImages 31s infinite; */
    
}

    .slideshow-item img {
        width: 100%;
        height: 100%;
        /*object-fit: cover;
         animation: zoom 31s infinite; */
    }

.slideshow-item-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #DFE6EB;
    color: #000;
    padding: 7rem 4rem;
    margin-right: 5px;
    opacity: 0.75;
    
    height: 400px;
    max-height: 400px;

    width: 900px; /* or whatever width you want. */
    max-width: 900px; /* or whatever width you want. */
    display: inline-block;
}


    .slideshow-item-text h5 {
        font-size: 2rem;
        font-family: Saira , sans-serif;
        /*    text-transform: uppercase;*/
        letter-spacing: 6px;
        margin-bottom: 1.5rem;
    }

    .slideshow-item-text p {
        font-size: 1rem;
        font-family: 'Metropolis', sans-serif;
        /*    text-transform: uppercase;*/
        letter-spacing: 1px;
        font-weight: 100;
    }


@keyframes slider
{
    33%
    {
        margin-left: -100%;
    }
  
    66%
    {
        margin-left: -200%;
    }
 
    100%
    {
        margin-left: -300%;
    }
   
}

@media screen and (max-width: 1000px){
.slideshow-item-text
{
    max-width: 70%;
    padding: 5rem 1rem;
}
.slideshow-item-text h5
{
    font-size: 4rem;
}
}

@media screen and (max-width: 767px){
    .slideshow-item-text
    {
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5
    {
        font-size: 3rem;
    }

    .slideshow-item-text p
    {
        font-size: 1.4rem;
    }
    }




.carousel-caption {
    padding-bottom: 250px;
}

.carousel-caption h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-control.right {
    background-image: none;
}


.carousel-control.left {
    background-image: none;
}

