﻿@page
@model AboutModel
@{
    ViewData["Title"] = "Contact";
}

<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg');">
    <div class="mask rgba-indigo-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 wow fadeIn mb-3">
                    <div class="text-center white-text">
                        <ul class="list-unstyled ">
                            <li>
                                <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text wow fadeIn"
                                    data-wow-delay="0.3s">
                                    <strong>About us</strong>
                                </h1>
                            </li>
                            <li>
                                <h5 class="white-text description mb-5 wow fadeIn" data-wow-delay="0.4s">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Rem repellendus quasi fuga
                                    nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi
                                    ea dolor molestiae iste.
                                </h5>
                            </li>
                            <li class="wow fadeIn" data-wow-delay="0.4s">
                                <a class="btn pink-gradient btn-rounded btn-lg font-weight-bold">Get started</a>
                                <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0">
                                    <i class="fas fa-play-circle orange-text mr-2" aria-hidden="true"></i> Watch demo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<main>

    <div class="container">

        <!-- Section: About 1 -->
        <section id="about" class="mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

            <!-- Grid row -->
            <div class="row pt-2 mt-5">

                <!-- Grid column -->
                <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
                    <!-- Image -->
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/72.jpg" class="img-fluid z-depth-1 rounded"
                         alt="My photo">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

                    <!-- Secion heading -->
                    <h3 class="mb-5 dark-grey-text title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Award winning & most popular web studio in the world.</strong>
                    </h3>

                    <!-- Description -->
                    <p align="justify" class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                        soluta ratione quisquam, dicta
                        ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
                        maiores quibusdam.
                    </p>
                    <p align="justify" class="grey-text">
                        Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                        animi excepturi modi aut possimus
                        in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: About 1 -->

        <hr>

        <!-- Section: About 2 -->
        <section id="about" class="mt-5 mb-5 pb-3 wow fadeIn" data-wow-delay="0.2s">

            <!-- Grid row -->
            <div class="row pt-4 mt-5">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.4s">

                    <!-- Secion heading -->
                    <h3 class="mb-5 dark-grey-text title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Our mission</strong>
                    </h3>

                    <!-- Description -->
                    <p align="justify" class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                        soluta ratione quisquam, dicta
                        ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
                        maiores quibusdam.
                    </p>
                    <p align="justify" class="grey-text">
                        Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                        animi excepturi modi aut possimus
                        in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                    <div class="text-left">
                        <h6 class="title font-weight-bold dark-grey-text  spacing mt-4 mx-4">
                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                            <strong>Lorem ipsum dolor sit amet</strong>
                        </h6>
                        <p class="grey-text font-small mx-4">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred.
                        </p>
                    </div>

                    <div class="text-left">
                        <h6 class="title font-weight-bold dark-grey-text spacing mt-4 mx-4">
                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                            <strong>Lorem ipsum dolor sit amet</strong>
                        </h6>
                        <p class="grey-text font-small mx-4">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                        </p>
                    </div>

                    <div class="text-left">
                        <h6 class="title font-weight-bold dark-grey-text spacing mt-4 mx-4">
                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                            <strong>Lorem ipsum dolor sit amet</strong>
                        </h6>
                        <p class="grey-text font-small mx-4">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        </p>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: About 2 -->

        <hr>

        <!-- Section: Team -->
        <section class="team-section pb-5 mb-4">

            <!-- Secion heading -->
            <h3 class="my-5 pt-4 text-center title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>Meet our amazing team</strong>
            </h3>
            <!-- Section description -->
            <p class="grey-text w-responsive text-center mx-auto mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Fugit, error amet numquam iure provident voluptate
                esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
            </p>

            <!-- Grid row -->
            <div class="row mb-lg-4 text-center text-md-left">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5">

                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto white mb-md-0 mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1"
                                 alt="First sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4>
                            <strong>John Doe</strong>
                        </h4>
                        <h6 class="font-weight-bold grey-text mb-4">Web Designer</h6>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                        <!-- Facebook -->
                        <a class="p-2 m-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="p-2 m-2 fa-lg tw-ic">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Dribbble -->
                        <a class="p-2 m-2 fa-lg dribbble-ic">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5">

                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto white mb-md-0 mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded z-depth-1"
                                 alt="Second sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4>
                            <strong>Maria Kate</strong>
                        </h4>
                        <h6 class="font-weight-bold grey-text mb-4">Photographer</h6>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <!-- Facebook -->
                        <a class="p-2 m-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                        <!-- YouTube -->
                        <a class="p-2 m-2 fa-lg yt-ic">
                            <i class="fab  fa-youtube"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="p-2 m-2 fa-lg ins-ic">
                            <i class="fab fa-instagram"> </i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row text-center text-md-left">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5">

                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto white mb-md-0 mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="rounded z-depth-1"
                                 alt="Fourth sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4>
                            <strong>Anna Deynah</strong>
                        </h4>
                        <h6 class="font-weight-bold grey-text mb-4">Web Developer</h6>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <!-- Facebook -->
                        <a class="p-2 m-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="p-2 m-2 fa-lg tw-ic">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- GitHub -->
                        <a class="p-2 m-2 fa-lg git-ic">
                            <i class="fab fa-github"> </i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5">
                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto white mb-md-0 mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="rounded z-depth-1"
                                 alt="Fifth sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4>
                            <strong>Sarah Melyah</strong>
                        </h4>
                        <h6 class="font-weight-bold grey-text mb-4">Front-end Developer</h6>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <!-- Google + -->
                        <a class="p-2 m-2 fa-lg gplus-ic">
                            <i class="fab fa-google-plus-g"> </i>
                        </a>
                        <!-- LinkedIn -->
                        <a class="p-2 m-2 fa-lg li-ic">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                        <!-- Email -->
                        <a class="p-2 m-2 fa-lg email-ic">
                            <i class="fas fa-envelope"> </i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Team -->

    </div>

    <!-- Streak -->
    <div class="streak streak-photo streak-md" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');">
        <div class="flex-center mask rgba-gradient">
            <div class="container my-5">

                <!-- Section heading -->
                <h3 class="text-center mb-5 pb-4 white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Some facts about us</strong>
                </h3>

                <!-- First row -->
                <div class="row text-center">

                    <!-- First column -->
                    <div class="col-md-3 mb-2">
                        <h1 class="white-text mb-1 font-weight-bold">+950</h1>
                        <p class="white-text">Happy clients</p>
                    </div>
                    <!-- First column -->
                    <!-- Second column -->
                    <div class="col-md-3 mb-2">
                        <h1 class="white-text mb-1 font-weight-bold">+150</h1>
                        <p class="white-text">Projects completed</p>
                    </div>
                    <!-- Second column -->
                    <!-- Third column -->
                    <div class="col-md-3 mb-2">
                        <h1 class="white-text mb-1 font-weight-bold">+85</h1>
                        <p class="white-text">Winning awards</p>
                    </div>
                    <!-- Third column -->
                    <!-- Fourth column -->
                    <div class="col-md-3">
                        <h1 class="white-text mb-1 font-weight-bold">+246</h1>
                        <p class="white-text">Cups of coffee</p>
                    </div>
                    <!-- Fourth column -->

                </div>
            </div>
        </div>
        <!-- Streak -->

        <div class="container-fluid light-grey-background">
            <div class="container py-4">

                <!-- Section: Download -->
                <section id="services" class="mt-3 mb-3 pb-3">

                    <!-- Grid row -->
                    <div class="row mt-5 pt-5 wow fadeIn" data-wow-delay="0.4s">

                        <!-- Grid column -->
                        <div class="col-md-6 mb-5 text-center">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1 rounded">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                                        allowfullscreen></iframe>
                            </div>

                        </div>
                        <!-- Grid column -->
                        <!-- Second column -->
                        <div class="col-md-6 mb-5 text-center">

                            <!-- Section heading -->
                            <h3 class="text-center title mb-5 mt-lg-5 pt-xl-4 pb-2 dark-grey-text font-weight-bold wow fadeIn"
                                data-wow-delay="0.2s">
                                <strong>Download our app</strong>
                            </h3>

                            <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-0 wow fadeIn"
                               data-wow-delay="0.2s">
                                <i class="fab fa-android pr-2" aria-hidden="true"></i> Play store
                            </a>
                            <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold wow fadeIn"
                               data-wow-delay="0.2s">
                                <i class="fab fa-apple pr-2" aria-hidden="true"></i> App store
                            </a>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Download -->

            </div>
        </div>
        <!-- Second container -->
    </div>

</main>
<!-- Main content -->
<!--<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />


<p>Utilisez cet espace  d'administration pour mettre à jour votre catalogue produit, vos stocks, vos conditions de prix et suivre l'état de traitement de vos commandes.</p>
<main class="mt-4 mb-4">
    <div class="container">
        <section>

            <div class="row mt-5">
                <div class="col-lg-12 col-md-12">
                    <div class="bg-image hover-overlay rounded ripple shadow-2-strong mb-4" data-ripple-color="light">
                        <img src="~/images/MarketPlaceAboutUs.png" class="w-100" />


                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>


                </div>
            </div>
        </section>


        GESTION DU CATALOGUE
        Gestion des fiches produits
        Gestion des stocks
        Gestion des prix
        Gestion des remises et des promotions

        ESPACE
        SHARING BUYING
        Commandes en temps reel
        Remises exceptionnelles
        Livraison directe en Dropshiping
        Just In time production

        GESTION COMMERCIALE
        Gestion des commandes clients
        Diffusion des offres commerciales
        Suivi des reversements
        Analyse statistique des ventes

        APPEL D'OFFRES
        Gestion des commandes clients
        Diffusion des offres commerciales
        Suivi des reversements
        Analyse statistique des ventes


        <section id="offer" class="mb-5">
            <section id="Introduction">-->
<!-- Section heading -->
<!--<h2 class="h1-responsive font-weight-bold text-center textevertbleu">NOS SOLUTIONS EN DETAIL</h2>
    <hr class="hr-pink my-3">
    <p class="lead grey-text text-center w-responsive mx-auto mb-5 pb-3">
        Pharma shop center est une combinaison de fonctionalités stratégiques sur une même plateforme et spécialement développée pour vous redonner le contrôle sur toute votre chaîne
        d'approvisionnement aussi bien aux laboratoires qu'aux pharmacies partenaires.

    </p>
</section>-->
<!-- Grid row -->
<!--<section id="MarketPlacePharma">
    <div class="row mb-lg-0 mb-5">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-lg-0 mb-5" style="margin-top: -5.3rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-5">-->
<!-- Grid row -->
<!--<div class="row mb-2">
    <div class="col-md-1 col-2">
        <i class="fas fa-book-open textebleu fa-2x"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textebleu mb-2">Système&nbspde&nbspcommande&nbspdirecte&nbspet&nbspgroupée&nbspen&nbsptemps&nbspréel</h5>
        <p class="grey-text">
            Optimisation de la chaine d’approvisionnement dans l’industrie pharmaceutique par une solution de gestion des commandes directes et groupées en ligne auprès de plus de 1000 Laboratoires partenaires.



        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleu mb-0">Sharingbuyers</h5>
        <p class="grey-text  mb-2">
            Groupement en temps réel des commandes des pharmacies sur la Marketplace en fonction des objectifs promotionnels.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleu mb-0 ">Just in Time</h5>
        <p class="grey-text  mb-2">
            Commandes groupées et livraison en flux continu synchronisées sur les planifications de production des laboratoires.
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!-- Grid row -->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleu mb-0">Devis et commandes</h5>
            <p class="grey-text mb-2">
                Devis et commandes directes fournisseur, spécifique à chaque pharmacie
            </p>
        </div>
    </div>
    <div class="row  mb-3">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleu mb-0">Technologie numérique</h5>
            <p class="grey-text mb-2">
                Une solution qui met à profit la technologie numérique au service de l’industrie pharmaceutique grâce à ses outils intégrées
            </p>
        </div>
    </div>

</div>-->
<!-- Grid column -->
<!--</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-5">-->
<!-- Grid row -->
<!--<div class="row mb-3">
    <div class="col-md-1 col-2">
        <i class="fas fa-users fa-2x textevert"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textevert mb-2">Vente direct & conseil sur la Marketplace</h5>
        <p class="grey-text">
            Pharmashopcenter c’est un ensemble de solutions permettant aux laboratoires et pharmacies d’avoir un meilleur contrôle sur la chaine de distribution et de mieux comprendre les exigences du marché
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row ">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2B</h5>
        <p class="grey-text  mb-2">
            Vente en gros en B2B des laboratoires aux pharmacies et autres profesionnels de santé et livraison en Dropshipping
        </p>
    </div>


</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2C</h5>
        <p class="grey-text mb-2">
            Vente de détail type B2C (e-commerce) des pharmacies aux particuliers et livraion en click & collect et en points relais
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Remises excluvises</h5>
        <p class="grey-text mb-2">
            Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textevert mb-0">Reférenement des pharmacies </h5>
            <p class="grey-text mb-2">

                Première solution de référencement des phramcies sur une market place
            </p>
        </div>
    </div>

    <div class="row mb-lg-0 ">
        <div class="col-md-1 col-2">

        </div>

    </div>

</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6" style="margin-top: -6rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!--</div>-->
<!-- Grid row -->
<!--</section>

<section id="Ventedegros">
    <div class="row mb-lg-0 mb-5">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-lg-0 mb-5" style="margin-top: -5.3rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6">-->
<!-- Grid row -->
<!--<div class="row mb-3">
    <div class="col-md-1 col-2">
        <i class="fas fa-barcode text-info fa-2x"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textebleuinfo mb-2">Solution de gestion du catalogue produit</h5>
        <p class="grey-text">
            Optimisation de la gestion du catalogue produit numérique présent sur la place de marché comme jamais auparavant dans l’industrie pharmaceutique
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row ">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleuinfo mb-0">PIM - Product Information Management</h5>
        <p class="grey-text mb-2">
            Solution Globale de gestion et d’optimisation du catalogue produit et diffusion sur les plates formes de vente.
        </p>
    </div>
</div>
<div class="row mb-lg-0">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleuinfo mb-0">Plus 30000 produits en un click </h5>
        <p class="grey-text mb-2">

            Plus de 30000 produits de parapharmacie disponible en un clic, en gros et détail
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleuinfo mb-0">Gestion des forces de vente</h5>
            <p class="grey-text mb-2">
                Outil de communication digital sur les médias et génération automatique du catalogue produit multilangue.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleuinfo mb-0">Traçabilité des produits</h5>
            <p class="grey-text mb-2">
                Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
            </p>
        </div>
    </div>
</div>-->
<!-- Grid column -->
<!--</div>
</section>

<section id="PIM">
    <div class="row mb-lg-0 mb-5">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-lg-0 mb-5" style="margin-top: -5.3rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6">-->
<!-- Grid row -->
<!--<div class="row mb-3">
    <div class="col-md-1 col-2">
        <i class="fas fa-barcode text-info fa-2x"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textebleuinfo mb-2">Solution de gestion du catalogue produit</h5>
        <p class="grey-text">
            Optimisation de la gestion du catalogue produit numérique présent sur la place de marché comme jamais auparavant dans l’industrie pharmaceutique
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row ">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleuinfo mb-0">PIM - Product Information Management</h5>
        <p class="grey-text mb-2">
            Solution Globale de gestion et d’optimisation du catalogue produit et diffusion sur les plates formes de vente.
        </p>
    </div>
</div>
<div class="row mb-lg-0">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textebleuinfo mb-0">Plus 30000 produits en un click </h5>
        <p class="grey-text mb-2">

            Plus de 30000 produits de parapharmacie disponible en un clic, en gros et détail
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleuinfo mb-0">Gestion des forces de vente</h5>
            <p class="grey-text mb-2">
                Outil de communication digital sur les médias et génération automatique du catalogue produit multilangue.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textebleuinfo mb-0">Traçabilité des produits</h5>
            <p class="grey-text mb-2">
                Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
            </p>
        </div>
    </div>
</div>-->
<!-- Grid column -->
<!--</div>
</section>

<section id="ShayingBuying">
    <div class="row">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-5">-->
<!-- Grid row -->
<!--<div class="row mb-3">
    <div class="col-md-1 col-2">
        <i class="fas fa-users fa-2x textevert"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textevert mb-2">Outil commercial et analytique</h5>
        <p class="grey-text">
            Pharmashopcenter c’est un ensemble de solutions permettant aux laboratoires et pharmacies d’avoir un meilleur contrôle sur la chaine de distribution et de mieux comprendre les exigences du marché
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row ">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2B</h5>
        <p class="grey-text  mb-2">
            Vente en gros en B2B des laboratoires aux pharmacies et autres profesionnels de santé et livraison en Dropshipping
        </p>
    </div>


</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2C</h5>
        <p class="grey-text mb-2">
            Vente de détail type B2C (e-commerce) des pharmacies aux particuliers et livraion en click & collect et en points relais
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Remises excluvises</h5>
        <p class="grey-text mb-2">
            Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textevert mb-0">Reférenement des pharmacies </h5>
            <p class="grey-text mb-2">

                Première solution de référencement des phramcies sur une market place
            </p>
        </div>
    </div>

    <div class="row mb-lg-0 ">
        <div class="col-md-1 col-2">

        </div>

    </div>

</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6" style="margin-top: -6rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!--</div>
</section>

<section id="Gesco">
    <div class="row">-->
<!-- Grid column -->
<!--<div class="col-lg-6 mb-5">-->
<!-- Grid row -->
<!--<div class="row mb-3">
    <div class="col-md-1 col-2">
        <i class="fas fa-users fa-2x textevert"></i>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold textevert mb-2">Outil commercial et analytique</h5>
        <p class="grey-text">
            Pharmashopcenter c’est un ensemble de solutions permettant aux laboratoires et pharmacies d’avoir un meilleur contrôle sur la chaine de distribution et de mieux comprendre les exigences du marché
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row ">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2B</h5>
        <p class="grey-text  mb-2">
            Vente en gros en B2B des laboratoires aux pharmacies et autres profesionnels de santé et livraison en Dropshipping
        </p>
    </div>


</div>-->
<!-- Grid row -->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2C</h5>
        <p class="grey-text mb-2">
            Vente de détail type B2C (e-commerce) des pharmacies aux particuliers et livraion en click & collect et en points relais
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row">
    <div class="col-md-1 col-2">

    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bolder textevert mb-0">Remises excluvises</h5>
        <p class="grey-text mb-2">
            Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
        </p>
    </div>
</div>-->
<!-- Grid row -->
<!--<div class="row mb-lg-0">
        <div class="col-md-1 col-2">

        </div>
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bolder textevert mb-0">Reférenement des pharmacies </h5>
            <p class="grey-text mb-2">

                Première solution de référencement des phramcies sur une market place
            </p>
        </div>
    </div>

    <div class="row mb-lg-0 ">
        <div class="col-md-1 col-2">

        </div>

    </div>

</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-lg-6" style="margin-top: -6rem;">
    <div class="view">
        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
    </div>
</div>-->
<!-- Grid column -->
<!--</div>
            </section>

        </section>


    </div>
</main>-->

@section Scripts{

}
