﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}



<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Contactez <strong style="color: #76B72A; font-family: Saira">Nous</strong> </h5>
            <p>
                Contactez pharmashopcenter
            </p>

        </div>
    </div>
</div>

<br />






<hr class="my-5">
<div class="container">
    <!--Section: Contact v.1 -->
    <section class="section">

        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade gradient-card-header copyright lighten-3">
                <h5 class="mb-0">Contactez-nous</h5>
            </div>
            <div class="card-body card-body-cascade">

                <!-- Google map -->
                <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
                    <iframe src="https://maps.google.com/maps?q=Miami&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                            style="border:0" allowfullscreen></iframe>
                </div>

                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mb-4">
                        <form>

                            <div class="md-form">
                                <input type="text" id="contact-name" class="form-control">
                                <label for="contact-name" class="">Votre nom</label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="contact-email" class="form-control">
                                <label for="contact-email" class="">Votre adresse email</label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="contact-Subject" class="form-control">
                                <label for="contact-Subject" class="">Sujet</label>
                            </div>

                        </form>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 mb-4">

                        <div class="md-form primary-textarea">
                            <textarea id="contact-message" class="md-textarea form-control mb-0" rows="5" style="padding-bottom: 1.2rem;"></textarea>
                            <label for="contact-message">Votre message</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="text-center">
                            <a href="https://mdbootstrap.com/docs/jquery/forms/basic/" target="_blank" class="btn text-white copyright">
                               Envoyer
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>

            </div>

        </div>

    </section>
    <!--Section: Contact v.1 -->
    <!--Section: Docs link -->
    <hr class="my-5">

    <section class="pb-4">

        <!--Panel -->
        <div class="card text-center">
            <h3 class="card-header copyright white-text">Conditions générales de la Market Place</h3>
            <div class="card-body">
                <p class="card-text">Télécharger les CGV et CGU.</p>
                <a href="https://mdbootstrap.com/docs/jquery/forms/basic/" target="_blank" class="btn text-white copyright">
                    En savoir plus
                </a>
            </div>
        </div>
        <!--Panel -->


    </section>
    <!--Section: Docs link -->
</div>




@section Scripts{

}
