﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Editez et difusez votre catalogue produit en toute simplicité
            </p>

        </div>
    </div>
</div>

<br />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>


@section Scripts{

}
