﻿@page
@model MarketPlace.Pages.Index3Model
@{
}
<!-- Card footer -->
<div class="card-footer mt-1 d-flex h-100 justify-content-center align-items-center pb-0">
    <div class="row mb-0">
        <div class="def-number-input number-input mb-1 safari_only">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); document.getElementById('TCUR').innerHTML ='&nbsp;€'; document.getElementById('TPRICETYPE').innerHTML =' Article.PriceType + '; document.getElementById('T').innerHTML = parseFloat((Math.round(document.getElementById('I').value * parseFloat(document.getElementById('P').value .replace(',','.').replace(' ','')) /document.getElementById('L').value * 100) / 100).toFixed(2)) ;document.getElementById('PUSER').innerHTML= document.getElementById('I').value;" class="minus"></button>
            <input id="I" class="quantity " step="" max="" min="" maxlength="6" name="quantity" value=" Article.MinimumOrderQuantity + " type="number" oninput="if ( parseFloat((Math.round(document.getElementById('I').value * document.getElementById('P').value /document.getElementById('L').value * 100) / 100).toFixed(2))<100000000) document.getElementById('T').innerHTML = parseFloat((Math.round(document.getElementById('I').value * document.getElementById('P').value /document.getElementById('L').value * 100) / 100).toFixed(2)) ; else {document.getElementById('I').value=0;document.getElementById('T').innerHTML='0 ';}" onkeyup="if ( parseFloat((Math.round(document.getElementById('I').value * document.getElementById('P').value /document.getElementById('L').value * 100) / 100).toFixed(2))<100000000) document.getElementById('T').innerHTML = parseFloat((Math.round(document.getElementById('I').value * document.getElementById('P').value /document.getElementById('L').value * 100) / 100).toFixed(2)) +' ';else {document.getElementById('I').value=0;document.getElementById('T').innerHTML='0 ';}">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); document.getElementById('TCUR').innerHTML ='&nbsp;€'; document.getElementById('TPRICETYPE').innerHTML =' Article.PriceType + '; document.getElementById('T').innerHTML = parseFloat((Math.round(document.getElementById('I').value * parseFloat(document.getElementById('P').value .replace(',','.').replace(' ','')) /document.getElementById('L').value * 100) / 100).toFixed(2)) ;document.getElementById('PUSER').innerHTML= document.getElementById('I').value; " class="plus"></button>
        </div>
        <div class="ml-3">

            <span class="float-right">
                <a class=" data-toggle="tooltip" data-placement="top" title="Ajouter au panier">
                    <i class=" text-lg-center fas fa-cart-plus ml-3" style=" font-size: xx-large; "></i>
                </a>
            </span>

        </div>


    </div>
</div>

<!-- Card footer -->
<div class="card-footer pb-0">
    <div class="row mb-0">


        <strong style="font-size: xx-large" class="total textevertbleu " id="T"></strong> <strong style="font-size: xx-large" id="TCUR" class="total textevertbleu "> </strong> "<strong id="TPRICETYPE" class="textevertbleu" style="font-size: small"></strong>
        <div style=" height:45px; display: inline-block; "></div>
        <span class="ml-3 " grey-text"> "</span>
        <div id="MINUTEUR" class=" container-fluid grey-text d-flex justify-content-end pull-right " style=" font-family: Digital-7; height:25px; display: inline-block; font-size: small; ">

            <span class="textebleu" id="days " style=" font-size: large; font-family: Digital-7; "></span>


            <span class="textebleu" id="hours" style=" font-size: large; font-family: Digital-7; "></span>


            <span class="textebleu" id="minutes" style=" font-size: large; font-family: Digital-7; "></span>


            <span class="textebleu" id="seconds" style=" font-size: large; font-family: Digital-7; "></span>

        </div>
    </div>
</div>

