﻿@page
@model MarketPlace.Pages.Index1Model
@{
}

<br />


<div class="container mt-3 pt-3">
    <div class="container mt-3 pt-3">
        <div class="container mt-3 pt-3">
            <!-- Timeline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-main">
                        <!-- Timeline Wrapper -->
                        <ul class="stepper stepper-horizontal timeline timeline-basic pl-0">

                            <li class="timeline-light-item">
                                <div class="timeline-light-item-tail"></div>
                                <div class="timeline-light-item-head"></div>
                                <!--Section Title -->
                                @*<a href="#!">
                                        <span class="circle primary-color z-depth-1-half">
                                            <i class="fas fa-check"
                                               aria-hidden="true"></i>
                                        </span>
                                    </a>*@

                                <!-- Section Description -->
                                <div class="step-content z-depth-1 ml-2 p-4">
                                    <strong style="font-size: xx-large" class="total textevertbleu ">10  €</strong><strong class="textevertbleu" style="font-size: small"> HT </strong>
                                    <p class="text-muted mt-3">
                                        <i class="far fa-clock" aria-hidden="true"></i>  10/01/2020
                                    </p>
                                    <p class="mb-0">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col-4 pull-left"><h6><strong class="text-danger">45%</strong></h6></div>
                                                <div class="col-4"></div>
                                                <div class="col-4 pull-right">      <h6><strong class="textevert">200</strong></h6></div>
                                            </div>
                                            <div id="preview-textfield"></div>
                                            <canvas id="demo" height="200" width="200"></canvas>
                                        </div>
                                        @*Timer*@
                                        <div class="    grey-text d-flex justify-content-center    " style="    font-family: Digital-7;   font-size: small;  ">
                                            <span class="textebleu" id="days        font-size: small;  font-family: Digital-7; ">30 JOURS 18:20:30</span>
                                            <span class="textebleu" id="hours        font-size: small;  font-family: Digital-7; "></span>
                                            <span class="textebleu" id="minutes        font-size: small;  font-family: Digital-7; "></span>
                                            <span class="textebleu" id="seconds        font-size: small;  font-family: Digital-7; "></span>
                                        </div>


                                    </p>
                                </div>
                            </li>
                            <li class="timeline-light-item timeline-light-item-secondary timeline-light-item-loading">
                                <div class="timeline-light-item-tail"></div>
                                <div class="timeline-light-item-head">
                                    <i class="fas fa-spinner fa-pulse textevertbleu"></i>
                                </div>
                                <!--Section Title -->
                                @*<a href="#!">
                                        <span class="circle warning-color z-depth-1-half">
                                            <i class="fas fa-credit-card"
                                               aria-hidden="true"></i>
                                        </span>
                                    </a>*@

                                <!-- Section Description -->
                                <div class="step-content z-depth-1 mr-xl-2 p-4">
                                    <strong style="font-size: xx-large" class="total textevertbleu ">9  €</strong><strong class="textevertbleu" style="font-size: small"> HT </strong>
                                    <p class="text-muted mt-3">
                                        <i class="far fa-clock" aria-hidden="true"></i>  13/06/2020
                                    </p>
                                    <p class=" mt-4 mb-0">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4 pull-left"><h6><strong class="text-danger">55%</strong></h6></div>
                                                <div class="col-4"></div>
                                                <div class="col-4 pull-right">      <h6><strong class="textevert">500</strong></h6></div>
                                            </div>
                                            <div id="preview-textfield1"></div>
                                            <canvas id="demo1" height="200" width="200"></canvas>
                                            <div class="    grey-text d-flex justify-content-center    " style="    font-family: Digital-7;   font-size: small;  ">
                                                <span class="textebleu" id="days        font-size: small;  font-family: Digital-7; ">30 JOURS 18:20:30</span>
                                                <span class="textebleu" id="hours        font-size: small;  font-family: Digital-7; "></span>
                                                <span class="textebleu" id="minutes        font-size: small;  font-family: Digital-7; "></span>
                                                <span class="textebleu" id="seconds        font-size: small;  font-family: Digital-7; "></span>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </li>

                            <li class="timeline-light-item timeline-light-item-icon">
                                <div class="timeline-light-item-tail"></div>
                                <div class="timeline-light-item-head">
                                    <i class="far fa-smile-beam fa-spin textevert"></i>
                                </div>
                                <!--Section Title -->
                                @*<a href="#!">
                                        <span class="circle success-color z-depth-1-half">
                                            <i class="far fa-thumbs-up"
                                               aria-hidden="true"></i>
                                        </span>
                                    </a>*@

                                <!-- Section Description -->
                                <div class="step-content z-depth-1 ml-2 p-4">
                                    <strong style="font-size: xx-large" class="total textevertbleu ">8  €</strong><strong class="textevertbleu" style="font-size: small"> HT </strong>

                                    <p class="text-muted mt-3">
                                        <i class="far fa-clock" aria-hidden="true"></i>  12/06/2021
                                    </p>
                                    <p class=" mt-4 mb-0">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4 pull-left"><h6><strong class="text-danger">60%</strong></h6></div>
                                                <div class="col-4"></div>
                                                <div class="col-4 pull-right">      <h6><strong class="textevert ">1000</strong></h6></div>
                                            </div>


                                            <div id="preview-textfield2"></div>
                                            <canvas id="demo2" height="200" width="200"></canvas>
                                            <div class="    grey-text d-flex justify-content-center    " style="    font-family: Digital-7;   font-size: small;  ">
                                                <span class="textebleu" id="days        font-size: small;  font-family: Digital-7; ">30 JOURS 18:20:30</span>
                                                <span class="textebleu" id="hours        font-size: small;  font-family: Digital-7; "></span>
                                                <span class="textebleu" id="minutes        font-size: small;  font-family: Digital-7; "></span>
                                                <span class="textebleu" id="seconds        font-size: small;  font-family: Digital-7; "></span>
                                            </div>

                                        </div>
                                    </p>
                                </div>
                            </li>

                        </ul>
                        <!-- Timeline Wrapper -->
                    </div>
                </div>
            </div>
            <!-- Timeline -->
        </div>
    </div>
    <div class="container mt-1 pt-1">
        <section id="productDetails" class="pb-5">

            <!-- News card -->
            <div class="card mt-1 hoverable">

                <div class="row mt-5">

                    <div class="col-lg-6">

                        <!-- Carousel Wrapper -->
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                            <!-- Slides -->
                            <div class="carousel-inner text-center text-md-left" role="listbox">

                                <div class="carousel-item active">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/17.jpg" alt="First slide"
                                         class="img-fluid">

                                </div>

                                <div class="carousel-item">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/18.jpg" alt="Second slide"
                                         class="img-fluid">

                                </div>

                                <div class="carousel-item">

                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/19.jpg" alt="Third slide"
                                         class="img-fluid">

                                </div>

                            </div>
                            <!-- Slides -->
                            <!-- Thumbnails -->
                            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">

                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                                <span class="sr-only">Previous</span>

                            </a>

                            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">

                                <span class="carousel-control-next-icon" aria-hidden="true"></span>

                                <span class="sr-only">Next</span>

                            </a>
                            <!-- Thumbnails -->

                        </div>
                        <!-- Carousel Wrapper -->

                    </div>

                    <div class="col-lg-5 mr-3 text-center text-md-left">

                        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">

                            <strong>Sony headphones</strong>

                        </h2>

                        <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">bestseller</span>

                        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

                            <span class="red-text font-weight-bold">

                                <strong>9€</strong>

                            </span>

                            <span class="grey-text">

                                <small>

                                    <s>$12</s>

                                </small>

                            </span>

                        </h3>

                        <!-- Accordion wrapper -->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">

                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">

                                        <h5 class="mb-0">

                                            Description

                                            <i class="fas fa-angle-down rotate-icon"></i>

                                        </h5>

                                    </a>

                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">

                                    <div class="card-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                        wolf moon officia aute,

                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        moon

                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                                    </div>

                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingTwo2">

                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">

                                        <h5 class="mb-0">

                                            Details

                                            <i class="fas fa-angle-down rotate-icon"></i>

                                        </h5>

                                    </a>

                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                     data-parent="#accordionEx">

                                    <div class="card-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                        wolf moon officia aute,

                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        moon

                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                                    </div>

                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingThree3">

                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                       aria-expanded="false" aria-controls="collapseThree3">

                                        <h5 class="mb-0">

                                            Shipping

                                            <i class="fas fa-angle-down rotate-icon"></i>

                                        </h5>

                                    </a>

                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                     data-parent="#accordionEx">

                                    <div class="card-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                        wolf moon officia aute,

                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        moon

                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                                    </div>

                                </div>

                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->
                        <!-- Add to Cart -->
                        <section class="color">

                            <div class="mt-5">

                                <p class="grey-text">Choose your color</p>

                                <div class="row text-center text-md-left">

                                    <div class="col-md-4 col-12 ">

                                        <!-- Radio group -->
                                        <div class="form-group">

                                            <input class="form-check-input" name="group100" type="radio" id="radio100" checked="checked">

                                            <label for="radio100" class="form-check-label dark-grey-text">Blue</label>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <!-- Radio group -->
                                        <div class="form-group">

                                            <input class="form-check-input" name="group100" type="radio" id="radio101">

                                            <label for="radio101" class="form-check-label dark-grey-text">Orange</label>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <!-- Radio group -->
                                        <div class="form-group">

                                            <input class="form-check-input" name="group100" type="radio" id="radio102">

                                            <label for="radio102" class="form-check-label dark-grey-text">Red</label>

                                        </div>

                                    </div>

                                </div>

                                <div class="row mt-3 mb-4">

                                    <div class="col-md-12 text-center text-md-left text-md-right">

                                        <button class="btn btn-primary btn-rounded">

                                            <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Add to cart
                                        </button>

                                    </div>

                                </div>

                            </div>

                        </section>
                        <!-- Add to Cart -->

                    </div>

                </div>

            </div>
        </section>
    </div>


</div>









    @section Scripts{


        <script>
        @*Create a new gauge instance.*@
        var opts1 = {
            angle: -0.25,
            lineWidth: 0.2,
            radiusScale: 0.9,
            pointer: {
                length: 0.6,
                strokeWidth: 0.05,
                color: '#1F61AB'
            },
            staticLabels: {
                font: "11px Saira",
                color: "#095260",
                labels: [0,50, 100,200],
                fractionDigits: 0
            },
            staticZones: [
                { strokeStyle: "#F03E3E", min: 0, max: 50 },
                { strokeStyle: "#FFDD00", min: 50, max: 100 },
                { strokeStyle: "#76B72A", min: 100, max: 200 }
            ],
            limitMax: false,
            limitMin: false,
            highDpiSupport: true
        };
        var target = document.getElementById('demo'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts1); // create sexy gauge!
        document.getElementById("preview-textfield").className = "preview-textfield";
        gauge.setTextField(document.getElementById("preview-textfield"));
        gauge.maxValue = 200; // set max gauge value
        gauge.setMinValue(0);  // set min value
        gauge.set(200); // set actual value

        </script>


        <script>
        @*Create a new gauge instance.*@
        var opts2 = {
            angle: -0.25,
            lineWidth: 0.2,
            radiusScale: 0.9,
            pointer: {
                length: 0.6,
                strokeWidth: 0.05,
                color: '#095260'
            },
            staticLabels: {
                font: "11px Saira",
                color: "#095260",
                labels: [0,50, 300,500],
                fractionDigits: 0
            },
            staticZones: [
                { strokeStyle: "#F03E3E", min: 0, max: 50 },
                { strokeStyle: "#FFDD00", min: 50, max: 300 },
                { strokeStyle: "#76B72A", min: 300, max: 500 }
            ],
            limitMax: false,
            limitMin: false,
            highDpiSupport: true
        };
        var target = document.getElementById('demo1'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts2); // create sexy gauge!
        document.getElementById("preview-textfield1").className = "preview-textfield1";
        gauge.setTextField(document.getElementById("preview-textfield1"));
        gauge.maxValue = 500; // set max gauge value
        gauge.setMinValue(0);  // set min value
        gauge.set(200); // set actual value

        </script>

        <script>
        @*Create a new gauge instance.*@
        var opts3 = {
            angle: -0.25,
            lineWidth: 0.2,
            radiusScale: 0.9,
            pointer: {
                length: 0.6,
                strokeWidth: 0.05,
                color: '#76B72A'
            },
            staticLabels: {
                font: "11px Saira",
                color: "#095260",
                labels: [0,200, 500,1000],
                fractionDigits: 0
            },
            staticZones: [
                { strokeStyle: "#F03E3E", min: 0, max: 200 },
                { strokeStyle: "#FFDD00", min: 50, max: 500 },
                { strokeStyle: "#76B72A", min: 500, max: 1000 }
            ],
            limitMax: false,
            limitMin: false,
            highDpiSupport: true
        };
        var target = document.getElementById('demo2'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts3); // create sexy gauge!
        document.getElementById("preview-textfield2").className = "preview-textfield2";
        gauge.setTextField(document.getElementById("preview-textfield2"));
        gauge.maxValue = 1000; // set max gauge value
        gauge.setMinValue(0);  // set min value
        gauge.set(200); // set actual value

        </script>

    }
