﻿@page
@model MarketPlace.Pages.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer;

@inject MarketPlace.Resources.SharedLocalizationService SharedLocalizer;

@{string val = "";
    if (HttpContext.User.Identity.IsAuthenticated)
    {


        if (HttpContext.Request.Cookies["Firstname"] != null)
        {
            val = HttpContext.Request.Cookies["Firstname"];
        }


    }
}

@*<input hidden id="IsAuthenticated" value="@val" />*@
<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">

    <div class="slideshow-item">

        <img src="~/images/carousel1.jpg" alt="">

        <div class="slideshow-item-text active" id="operation1" style="display:none">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                    <li class="item1 active" id="id1">
                        <a href="ok.html#id2"></a>
                    </li>
                    <li class="item2"></li>
                    <li class="item3"></li>
                </ol>*@
            <h5>Découvrez&nbsp;notre&nbsp;solution&nbsp;de <strong style="color: #76B72A; font-family: Saira">Sharing&nbsp;Buying</strong></h5>
            <p>
                Une solution collaborative qui vous donne un accès direct en temps réel sur le vaste marché numérique de la parapharmacie.
                Approvisionnez votre store tout en bénéficiant d'un espace de vente exclusif sur la market place Pharma shop Center
            </p>
            <button class="btn btn-lg boutonbleu btn-rounded ml-0" id="mon-lien" onclick="show('operation2')" style="margin:auto">Découvrir</button>
        </div>

        <div class="slideshow-item-text" id="operation2" style="display:none">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                    <li class="item1"></li>
                    <li class="item2 active">
                        <a href="ok.html#id3"></a>
                    </li>
                    <li class="item3"></li>
                </ol>*@
            <h5> Optimisez&nbsp;votre <strong style="color: #76B72A; font-family: Saira">chaîne&nbsp;de&nbsp;distribution</strong></h5>
            <p>
                Solution innovante qui permet aux laboratoires pharmaceutiques d'optimiser tout le processus de distribution tout en ayant une meilleure compréhension des exigences du marché.

            </p>
            <button class="btn btn-lg boutonbleu btn-rounded ml-0" id="mon-lien" onclick="show('main_place')" style="margin:auto">Découvrir</button>
        </div>

        <div class="slideshow-item-text" id="main_place">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                    <li class="item1"></li>
                    <li class="item2"></li>
                    <li class="item3 active" id="mon-lien"></li>
                </ol>*@
            <h5> Bienvenue&nbsp;sur <strong style="color: #76B72A; font-family: Saira">Pharma&nbsp;Shop&nbsp;Center</strong> </h5>
            <p>
                La Plateforme numérique au service des laboratoires et des pharmacies
            </p>
            <button class="btn btn-lg boutonbleu btn-rounded ml-0" id="mon-lien" onclick="show('operation1')" style="margin:auto">Découvrir</button>

        </div>
    </div>
</div>
<br />
@*<h2 class="h1-responsive font-weight-bold text-center textevertbleu">NOS PARTENAIRES</h2>*@
<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

    <!--Controls-->
    @*<div class="controls-top">
            <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>*@
    <!--/.Controls-->
    <!-- Indicators -->
    <ol class="carousel-indicators " style="background-color: #76B72A;">
        <li data-target="#carousel-example-multi" data-slide-to="0" class="active " style="background-color: #76B72A;"></li>
        <li data-target="#carousel-example-multi" data-slide-to="1" style="background-color: #76B72A;"></li>
        <li data-target="#carousel-example-multi" data-slide-to="2" style="background-color: #76B72A;"></li>
        <li data-target="#carousel-example-multi" data-slide-to="3" style="background-color: #76B72A;"></li>
        <li data-target="#carousel-example-multi" data-slide-to="4" style="background-color: #76B72A;"></li>
    </ol>
    <!--/.Indicators-->

    <div class="carousel-inner v-2" role="listbox">

        <div class="carousel-item active">
            <div class="col-12 col-md-1 ">
                <div class="card mb-2 ">
                    <img class="card-img-top" src="~/ImagesBrands/Abbott.jpg"
                         alt="Card image cap">

                </div>
            </div>
        </div>



        @if (Model.Brands.Count() > 0)

        {

            @foreach (var item0 in @Model.Brands)
            {



                <div class="carousel-item">
                    <div class="col-12 col-md-1">
                        <div class="card mb-2 hoverable">
                            <img class="card-img-top" src="~/@item0.BrandLogoNoirEtBlanc"
                                 alt="@item0.Slogan">

                        </div>
                    </div>
                </div>





            }
        }




    </div>

</div>




<section class="  intro">

    <div class="container-fluid">

        <div class="row d-flex justify-content-center align-items-center h-100 mx-md-5">

            <div class="col-lg-4 col-xl-5 col-flex mt-lg-0 pt-lg-4 mt-5 pt-5">

                <h1 class="heading font-weight-bold display-3 mb-4">
                    <span class="textevert">Innovation.</span><br class="d-block d-md-none d-lg-block d-xl-none">
                </h1>
                <h5 class="  mb-xl-4 pb-xl-0 mb-md-3 pb-md-3 mb-4">
                    <strong>
                        @SharedLocalizer.GetLocalizedHtmlString("La plateforme de")  <span class="textevert">Sharing Buying</span> de Pharma Shop Centerest une solution collaborative de  <span class="textevert">marketplace</span>  dédiées exclusivement aux laboratoires pharmaceutiques et aux pharmacies permettant une optimisation et une réduction drastique de leurs coûts d’approvisionnement.
                        <br /><br />La solution permet la mise en relation en <span class="textevert">temps réel</span> des acteurs clés de l'industrie au travers d'une plateforme numérique de commandes directes, groupées et donnant droit à des <span class="textevert">remises fournisseurs</span> exceptionnelles, proportionnelles aux quantités achetées.

                    </strong>
                </h5>
                <div class="mr-auto">
                    <a asp-area="Identity" asp-page="/Account/Register" type="button" class="btn btn-lg boutonbleu btn-rounded ml-0">Devenir partenaire</a>
                </div>

            </div>

            <div class="col-lg-8 col-xl-7 pt-lg-4">

                <div class="view">
                    <img src=https://mdbootstrap.com/img/illustrations/graphics(2).png" class="img-fluid" alt="smaple image">
                </div>

            </div>

        </div>

    </div>

</section>





<!-- Main layout -->
<main>

    <div class="container mt-5">


        <section id="about" class="section feature-box mb-5">

            <!-- Section title -->
            <h2 class=" h1-responsive font-weight-bold text-center textevertbleu text-center text-uppercase my-5 pt-5 wow fadeIn" data-wow-delay="0.2s">L'INNOVATION NUMERIQUE AU SERVICE DE LA SIMPLICITE</h2>

            <p class="text-center w-responsive mx-auto wow fadeIn my-5" data-wow-delay="0.2s">
                L’outil de gestion intégrée à la plateforme permet aux laboratoires et aux pharmacies de simplifier leurs workflows notamment en termes de gestion du catalogue produit, de gestion des commandes et de gestion financière.
            </p>

            <!-- First row -->
            <div class="row features-big text-center wow fadeIn" data-wow-delay="0.4s">

                <!-- First column -->
                <!-- First column -->
                <!-- Second column -->

                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body footer-copyright hoverable">

                        <i class="fas fa-code fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4"><strong>GESTION&nbsp;COMMERCIALE</strong></h5>


                        <p class="card-text dark-grey-text pull-left justify-content-lg-start" style="font-size:small">
                            <ul>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Gestion&nbsp;des&nbsp;commandes&nbsp;clients
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Diffusion&nbsp;des&nbsp;offres&nbsp;commerciales
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Suivi des reversements
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Analyse&nbsp;statistique&nbsp;des&nbsp;ventes
                                </li>
                            </ul>
                        </p>
                        <button class="btn boutonbleu btn-rounded btn-md btn-block z-depth-0 mx-0 my-4 waves-effect">C'est parti</button>
                    </div>
                    <!-- Panel -->

                </div>
                <!-- Second column -->
                <!-- Third column -->
                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body   hoverable" style="background-color: #D6ECF0">

                        <i class="fas fa-pencil-alt fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4">ESPACE&nbsp;SHARING&nbsp;BUYING</h5>

                        <p class="card-text text-black-50 pull-left justify-content-lg-start" style="font-size:small">
                            <ul>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Commandes groupées en temps reel
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Remises exceptionnelles
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Livraison directe en Dropshiping
                                </li>
                                <li class=" pull-left justify-content-lg-start" style="font-size:small">
                                    Just In time production
                                </li>

                            </ul>
                        </p>

                        <button class="btn boutonbleu btn-rounded btn-md btn-block z-depth-0 mx-0 my-4 waves-effect">C'est parti</button>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- Third column -->
                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body hoverable">

                        <i class="fas fa-laptop fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4"><strong>GESTION&nbsp;MARKET&nbsp;PLACE</strong></h5>

                        <p class="card-text dark-grey-text pull-left  " style="font-size:small">
                            <ul>
                                <li class="pull-left  justify-content-lg-start" style="font-size:small">
                                    Gestion du catalogue produits (P.I.M)
                                </li>

                                <li class="pull-left  justify-content-lg-start" style="font-size:small">
                                    Gestion des stocks
                                </li>

                                <li class="pull-left justify-content-lg-start" style="font-size:small">
                                    Gestions des conditions de prix
                                </li>



                                <li class="pull-left justify-content-lg-start " style="font-size:small">
                                    Gestion&nbsp;des&nbsp;remises&nbsp;et&nbsp;des&nbsp;promotions
                                </li>

                            </ul>
                        </p>
                        <button class="btn boutonbleu btn-rounded btn-md btn-block z-depth-0 mx-0 my-4 waves-effect">C'est parti</button>



                    </div>
                    <!-- Panel -->

                </div>


            </div>
            <!-- First row -->

        </section>

        <!-- Section: About Us -->
        <section id="about" class="mb-5">

            @*<div class="row pt-3">
                    <div class="col-4"></div>
                    <div class="col-8  ">
                        <div class="row">
                            <div class="col-4"> </div>
                            <div class="col-3  d-flex justify-content-center " style="        font-family: Saira;   font-size: medium;   background-color: #095260;  color: white">
                                <span id="days"></span>
                                <span>J&nbsp;</span>

                                <span id="hours"></span>
                                <span>H&nbsp;</span>

                                <span id="minutes"></span>
                                <span>M&nbsp;</span>

                                <span id="seconds"></span>
                                <span>S</span>

                            </div>
                            <div class="col-5 "> </div>
                        </div>
                    </div>
                </div>*@
            <!-- Grid row -->

        </section>
        <!-- Section: About Us -->
        <!-- Section: Offer -->
        <br />
        <br />
        <section id="articles" class="mb-5 pb-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center textevertbleu">La plateforme au service des pharmacies et des laboratoires pharmaceutiques</h2>
            <hr class="hr-pink my-3">
            <p class="lead grey-text text-center w-responsive mx-auto mb-5 pb-3">
                Optimisation de la gestion du catalogue produit numérique présent sur la place de marché comme jamais auparavant dans l’industrie pharmaceutique
            </p>

            <!-- Grid row -->
            <div class="row text-justify">


                <!-- News card -->
                <div class="card  mb-5 text-center hoverable">

                    <div class="card-body">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-5 mx-3 my-3">

                                <!-- Featured image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0"
                                         alt="Sample image">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6 text-left ml-3 mt-3">

                                <h4 class="font-weight-bold  textebleu my-3" style="font-family: Saira; font-size:xx-large">Laboratoires</h4>

                                <p class="dark-grey-text">
                                    Pharma shop center vous connecte directement aux pharmaciens à travers ses solutions du <span class="">sharing Buying</span> et de <span class="">drop shipping</span>.
                                    Des innovations qui vous permettront d’avoir non seulement une meilleure compréhension des exigences de votre marché mais également de tirer profit de l’exposition de vos produits dans plus de 115 pays éligibles sur la plateforme Pharma Shop Center.  Notre solution vous garantira une simplification de vos processus d’approvisionnement, une amélioration de la traçabilité de vos produits ainsi qu’une augmentation de vos ventes.
                                </p>



                                <a class="btn mb-5 boutonbleu pull-right align-content-end btn-sm btn-rounded">Nos tarifs</a>

                                <ul class="list-unstyled list-group list-group-horizontal  border-0 mb-0" style="border:none">
                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg fb-ic " href="https://www.facebook.com/pharmashopcenter-106403577881229">
                                            <i class="fab fa-facebook-f textevertbleu"> </i>
                                        </a>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg tw-ic" href="https://twitter.com/PharmaShopCent1">
                                            <i class="fab fa-twitter textevertbleu"> </i>
                                        </a>

                                    </li>


                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/pharmashopcenter/">
                                            <i class="fab fa-instagram textevertbleu"> </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->

                        <div class="row text-center">


                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">

                                <div class="testimonial ml-5">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>

                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>Visibilité</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Augmentez&nbsp;votre&nbsp;visibilité&nbsp;sur&nbsp;les&nbsp;exigeances&nbsp;du&nbsp;marché&nbsp;de&nbsp;la&nbsp;parapharmacie
                                    </p>


                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">
                                <div class="testimonial">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>

                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>Traçabilité</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Optimisez&nbsp;la&nbsp;gestion&nbsp;et&nbsp;traçabilité&nbsp;de&nbsp;l'information&nbsp;de&nbsp;vos&nbsp;produits
                                    </p>


                                </div>
                            </div>
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">
                                <div class="testimonial">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>
                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>International</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Explorez&nbsp;de&nbsp;nouveaux&nbsp;marchés&nbsp;au&nbsp;niveau&nbsp;local&nbsp;et&nbsp;international&nbsp;au&nbsp;augmentez&nbsp;votre&nbsp;chiffre&nbsp;d'affaire
                                    </p>


                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                        </div>



                    </div>
                    <!-- News card -->

                </div>

                <div class="card  mb-5 text-center hoverable">

                    <div class="card-body">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6 text-left ml-3 mt-3">

                                <h4 class="font-weight-bold  textevert my-3" style="font-family: Saira; font-size:xx-large">Pharmacies</h4>

                                <p class="dark-grey-text">
                                    Les solutions de pharma shop center vous donneront un accès direct sur le vaste marché numérique de la parapharmacie. Ces solutions innovantes vous permettront d’approvisionner votre store par le biais des commandes directes et collaboratives en temps réels (Sharing Buying). Elles vous permettront également de disposer d’un espace exclusif de vente sur la place de marché, afin de répondre à de nouveaux besoins émergents d’une patientèle toujours plus connectée.
                                </p>





                                <ul class="list-unstyled list-group list-group-horizontal mb-0 border-0" style="border:none">
                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/pharmashopcenter-106403577881229">
                                            <i class="fab fa-facebook-f textevertbleu"> </i>
                                        </a>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg tw-ic" href="https://twitter.com/PharmaShopCent1">
                                            <i class="fab fa-twitter textevertbleu"> </i>
                                        </a>

                                    </li>


                                    <li class="list-group-item border-0">
                                        <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/pharmashopcenter/">
                                            <i class="fab fa-instagram textevertbleu"> </i>
                                        </a>
                                    </li>
                                </ul>

                                <a class="btn mb-5 boutonvert pull-right align-content-end btn-sm btn-rounded">Nos tarifs</a>

                            </div>

                            <div class="col-md-5 mx-3 my-3">

                                <!-- Featured image -->
                                <div class="view overlay">

                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0"
                                         alt="Sample image">

                                    <a>

                                        <div class="mask rgba-white-slight"></div>

                                    </a>

                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->

                        <div class="row text-center">


                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">

                                <div class="testimonial ml-5">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>

                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>Croissance</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Vendez&nbsp;en&nbsp;ligne&nbsp;et&nbsp;augmentez&nbsp;votre&nbsp;chiffre&nbsp;d'affaire
                                    </p>


                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">
                                <div class="testimonial">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>

                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>Remises</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Bénéficier&nbsp;des&nbsp;remises&nbsp;exceptionnelles&nbsp;grâce&nbsp;au&nbsp;sharing&nbsp;buying
                                    </p>


                                </div>
                            </div>
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 mb-4 wow fadeIn" data-wow-delay="0.4s">
                                <div class="testimonial">
                                    <!-- Avatar -->
                                    <div class="avatar mx-auto mb-2">
                                        <i class="fas fa-laptop fa-3x mb-1" aria-hidden="true"></i>
                                    </div>
                                    <!-- Content -->
                                    <h5 class="dark-grey-text font-weight-bold">
                                        <strong>Approvisionnement</strong>
                                    </h5>
                                    <p class="text-justify">
                                        Optimisez&nbsp;la&nbsp;gestion&nbsp;de&nbsp;l'approvisionnement&nbsp;de&nbsp;votre&nbsp;officine
                                    </p>


                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="col-md-1 mb-4 wow fadeIn" data-wow-delay="0.4s">
                            </div>
                        </div>



                    </div>
                    <!-- News card -->

                </div>

            </div>

        </section>
        <section id="offer" class="mb-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center textevertbleu">NOS SOLUTIONS EN DETAIL</h2>
            <hr class="hr-pink my-3">
            <p class="lead grey-text text-center w-responsive mx-auto mb-5 pb-3">
                Pharma shop center est une combinaison de fonctionalités stratégiques sur une même plateforme et spécialement développée pour vous redonner le contrôle sur toute votre chaîne
                d'approvisionnement aussi bien aux laboratoires qu'aux pharmacies partenaires.

            </p>

            <!-- Grid row -->
            <div class="row mb-lg-0 mb-5">

                <!-- Grid column -->
                <div class="col-lg-6 mb-lg-0 mb-5" style="margin-top: -5.3rem;">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image">
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 mb-5">

                    <!-- Grid row -->
                    <div class="row mb-2">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-book-open textebleu fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold textebleu mb-2">Système&nbspde&nbspcommande&nbspdirecte&nbspet&nbspgroupée&nbspen&nbsptemps&nbspréel</h5>
                            <p class="grey-text">
                                Optimisation de la chaine d’approvisionnement dans l’industrie pharmaceutique par une solution de gestion des commandes directes et groupées en ligne auprès de plus de 1000 Laboratoires partenaires.



                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleu mb-0">Sharing Buyers</h5>
                            <p class="grey-text  mb-2">
                                Groupement en temps réel des commandes des pharmacies sur la Marketplace en fonction des objectifs promotionnels.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleu mb-0 ">Just in Time</h5>
                            <p class="grey-text  mb-2">
                                Commandes groupées et livraison en flux continu synchronisées sur les planifications de production des laboratoires.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->

                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleu mb-0">Devis et commandes</h5>
                            <p class="grey-text mb-2">
                                Devis et commandes directes fournisseur, spécifique à chaque pharmacie
                            </p>
                        </div>
                    </div>
                    <div class="row  mb-3">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleu mb-0">Technologie numérique</h5>
                            <p class="grey-text mb-2">
                                Une solution qui met à profit la technologie numérique au service de l’industrie pharmaceutique grâce à ses outils intégrées
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-6 mb-5">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-users fa-2x textevert"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold textevert mb-2">Vente direct & conseil sur la Marketplace</h5>
                            <p class="grey-text">
                                Pharma Shop Centerc’est un ensemble de solutions permettant aux laboratoires et pharmacies d’avoir un meilleur contrôle sur la chaine de distribution et de mieux comprendre les exigences du marché
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row ">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2B</h5>
                            <p class="grey-text  mb-2">
                                Vente en gros en B2B des laboratoires aux pharmacies et autres profesionnels de santé et livraison en Dropshipping
                            </p>
                        </div>


                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-lg-0">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2C</h5>
                            <p class="grey-text mb-2">
                                Vente de détail type B2C (e-commerce) des pharmacies aux particuliers et livraison en click & collect et en points relais
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Remises excluvises</h5>
                            <p class="grey-text mb-2">
                                Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <div class="row mb-lg-0">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Reférenement des pharmacies </h5>
                            <p class="grey-text mb-2">

                                Première solution de référencement des phramcies sur une market place
                            </p>
                        </div>
                    </div>

                    <div class="row mb-lg-0 ">
                        <div class="col-md-1 col-2">

                        </div>

                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6" style="margin-top: -6rem;">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <div class="row mb-lg-0 mb-5">

                <!-- Grid column -->
                <div class="col-lg-6 mb-lg-0 mb-5" style="margin-top: -5.3rem;">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image">
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-barcode text-info fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold textebleuinfo mb-2">Solution de gestion du catalogue produit</h5>
                            <p class="grey-text">
                                Optimisation de la gestion du catalogue produit numérique présent sur la place de marché comme jamais auparavant dans l’industrie pharmaceutique
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row ">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleuinfo mb-0">PIM - Product Information Management</h5>
                            <p class="grey-text mb-2">
                                Solution Globale de gestion et d’optimisation du catalogue produit et diffusion sur les plates formes de vente.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-lg-0">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleuinfo mb-0">Plus 30000 produits en un click </h5>
                            <p class="grey-text mb-2">

                                Plus de 30000 produits de parapharmacie disponible en un clic, en gros et détail
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleuinfo mb-0">Gestion des forces de vente</h5>
                            <p class="grey-text mb-2">
                                Outil de communication digital sur les médias et génération automatique du catalogue produit multilangue.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textebleuinfo mb-0">Traçabilité des produits</h5>
                            <p class="grey-text mb-2">
                                Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

            </div>

            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-6 mb-5">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-users fa-2x textevert"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold textevert mb-2">Outil commercial et analytique</h5>
                            <p class="grey-text">
                                Pharma Shop Center c’est un ensemble de solutions permettant aux laboratoires et pharmacies d’avoir un meilleur contrôle sur la chaine de distribution et de mieux comprendre les exigences du marché
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row ">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2B</h5>
                            <p class="grey-text  mb-2">
                                Vente en gros en B2B des laboratoires aux pharmacies et autres profesionnels de santé et livraison en Dropshipping
                            </p>
                        </div>


                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-lg-0">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Ventes en gros B2C</h5>
                            <p class="grey-text mb-2">
                                Vente de détail type B2C (e-commerce) des pharmacies aux particuliers et livraion en click & collect et en points relais
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Remises excluvises</h5>
                            <p class="grey-text mb-2">
                                Solution de gestion des promotions et avantages exclusifs liés aux produits et campagnes marketing.
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                    <div class="row mb-lg-0">
                        <div class="col-md-1 col-2">

                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bolder textevert mb-0">Reférenement des pharmacies </h5>
                            <p class="grey-text mb-2">

                                Première solution de référencement des phramcies sur une market place
                            </p>
                        </div>
                    </div>

                    <div class="row mb-lg-0 ">
                        <div class="col-md-1 col-2">

                        </div>

                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6" style="margin-top: -6rem;">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
                    </div>
                </div>
                <!-- Grid column -->

            </div>
        </section>
        <!-- Section: Offer -->
        <!-- Section: Articles -->
        <!-- Section: Articles -->
        <!-- Section: Contact Us -->

        <section id="contact" class="mb-3">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center textevertbleu" style="font-family: Saira; font-size:xx-large">Demande d'adhéssion</h2>
            <hr class="hr-pink my-3">
            <p class="lead grey-text text-center w-responsive mx-auto mb-5 pb-3">
                Profitez d'une combinaison de solutions innovantes sur une plateforme unique qui vous permettrons d'acheter à des coûts réduits et de vendre plus et plus rapidement. Soumettez-nous votre demande d’adhésion.
            </p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-4">

                    <p class="text-center textebleuinfo ml-lg-5"><strong>Devenez partenaire Pharma Shop Center </strong></p>

                    <!-- Form -->
                    <form id="formPropect" class="text-center ml-lg-5" action="api/prospect">

                        <!-- Name -->
                        <div class="md-form md-outline">
                            <input type="text" id="Name" asp-for="Prospect.Name" class="form-control">
                            <label for="materialContactFormName">Name</label>
                            <span asp-validation-for="Prospect.Name" class="text-danger"></span>
                        </div>

                        <!-- Name -->
                        <div class="md-form md-outline">
                            <input type="text" id="FirstName" asp-for="Prospect.FirstName" class="form-control">
                            <label for="materialContactFormName">Name</label>
                            <span asp-validation-for="Prospect.FirstName" class="text-danger"></span>
                        </div>

                        <!-- E-mail -->
                        <div class="md-form md-outline">
                            <input asp-for="Prospect.emailAddress" type="email" id="emailAddress" class="form-control">
                            <label for="materialContactFormEmail">E-mail</label>
                            <span asp-validation-for="Prospect.emailAddress" class="text-danger"></span>
                        </div>

                        <!-- Téléphone -->
                        <div class="md-form md-outline">
                            <input asp-for="Prospect.TelephoneNumber" type="tel" id="TelephoneNumber" class="form-control">
                            <label for="materialContactFormTel">Téléphone</label>
                            <span asp-validation-for="Prospect.TelephoneNumber" class="text-danger"></span>
                        </div>

                        <!-- Societé -->
                        <div class="md-form md-outline">
                            <input asp-for="Prospect.Company" type="text" id="Company" class="form-control">
                            <label for="materialContactFormCompany">Société</label>
                            <span asp-validation-for="Prospect.Company" class="text-danger"></span>
                        </div>

                        <div class=" mb-0 ">
                            <select id="ActivitySector" asp-for="Prospect.ActivitySector" class="mdb-select md-form colorful-select dropdown-primary ">
                                <option value="" disabled selected>Votre activité</option>
                                <option value="1">Laboratoire Pharmaceutique</option>
                                <option value="2">Pharmacie</option>
                                <option value="3">Grossiste</option>
                                <option value="4">Maison de santé</option>
                                <option value="5">Hopital</option>
                                <option value="6">Maison de retraite</option>
                                <option value="7">Autres</option>
                            </select>
                        </div>


                        <div class="md-form mb-0">



                            <select asp-for="Prospect.country" id="country" class="mdb-select md-form colorful-select dropdown-primary" searchable="rechercher ici..">
                                <optgroup label="europe">
                                    <option> sélectionnez votre pays</option>
                                    <option value='france' data-icon='../../../images/flag/fr.png' class="rounded-circle">france </option>
                                    <option value='belgique' data-icon='../../../images/flag/be.png' class="rounded-circle">belgique </option>
                                    <option value='allemagne' data-icon='../../../images/flag/de.png' class="rounded-circle">allemagne </option>
                                    <option value='espagne' data-icon='../../../images/flag/es.png' class="rounded-circle">espagne </option>
                                    <option value='albanie' data-icon='../../../images/flag/al.png' class="rounded-circle">albanie </option>

                                    <option value='andorre' data-icon='../../../images/flag/ad.png' class="rounded-circle">andorre </option>
                                    <option value='arménie' data-icon='../../../images/flag/am.png' class="rounded-circle">arménie </option>
                                    <option value='autriche' data-icon='../../../images/flag/at.png' class="rounded-circle">autriche </option>
                                    <option value='azerbaïdjan' data-icon='../../../images/flag/az.png' class="rounded-circle">azerbaïdjan </option>
                                    <option value='bélarus' data-icon='../../../images/flag/by.png' class="rounded-circle">bélarus </option>

                                    <option value='bosnie-herzégovine' data-icon='../../../images/flag/ba.png' class="rounded-circle">bosnie-herzégovine </option>
                                    <option value='bulgarie' data-icon='../../../images/flag/bg.png' class="rounded-circle">bulgarie </option>
                                    <option value='chypre' data-icon='../../../images/flag/cy.png' class="rounded-circle">chypre </option>
                                    <option value='croatie' data-icon='../../../images/flag/hr.png' class="rounded-circle">croatie </option>
                                    <option value='danemark' data-icon='../../../images/flag/dk.png' class="rounded-circle">danemark </option>

                                    <option value='estonie' data-icon='../../../images/flag/ee.png' class="rounded-circle">estonie </option>
                                    <option value='finlande' data-icon='../../../images/flag/fi.png' class="rounded-circle">finlande </option>

                                    <option value='géorgie' data-icon='../../../images/flag/ge.png' class="rounded-circle">géorgie </option>
                                    <option value='gibraltar' data-icon='../../../images/flag/gi.png' class="rounded-circle">gibraltar </option>
                                    <option value='grèce' data-icon='../../../images/flag/gr.png' class="rounded-circle">grèce </option>
                                    <option value='hongrie' data-icon='../../../images/flag/hu.png' class="rounded-circle">hongrie </option>
                                    <option value='île de man' data-icon='../../../images/flag/im.png' class="rounded-circle">île de man </option>
                                    <option value='îles åland' data-icon='../../../images/flag/ax.png' class="rounded-circle">îles åland </option>
                                    <option value='îles féroé' data-icon='../../../images/flag/fo.png' class="rounded-circle">îles féroé </option>
                                    <option value='irlande' data-icon='../../../images/flag/ie.png' class="rounded-circle">irlande </option>
                                    <option value='islande' data-icon='../../../images/flag/is.png' class="rounded-circle">islande </option>
                                    <option value='italie' data-icon='../../../images/flag/it.png' class="rounded-circle">italie </option>
                                    <option value='lettonie' data-icon='../../../images/flag/lv.png' class="rounded-circle">lettonie </option>
                                    <option value='l ex-république yougoslave de macédoine' data-icon='../../../images/flag/mk.png' class="rounded-circle">l'ex-république yougoslave de macédoine </option>
                                    <option value='liechtenstein' data-icon='../../../images/flag/li.png' class="rounded-circle">liechtenstein </option>
                                    <option value='lituanie' data-icon='../../../images/flag/lt.png' class="rounded-circle">lituanie </option>
                                    <option value='luxembourg' data-icon='../../../images/flag/lu.png' class="rounded-circle">luxembourg </option>
                                    <option value='malte' data-icon='../../../images/flag/mt.png' class="rounded-circle">malte </option>
                                    <option value='monaco' data-icon='../../../images/flag/mc.png' class="rounded-circle">monaco </option>
                                    <option value='norvège' data-icon='../../../images/flag/no.png' class="rounded-circle">norvège </option>
                                    <option value='pays-bas' data-icon='../../../images/flag/nl.png' class="rounded-circle">pays-bas </option>
                                    <option value='pologne' data-icon='../../../images/flag/pl.png' class="rounded-circle">pologne </option>
                                    <option value='portugal' data-icon='../../../images/flag/pt.png' class="rounded-circle">portugal </option>
                                    <option value='république de moldova' data-icon='../../../images/flag/md.png' class="rounded-circle">république de moldova </option>
                                    <option value='république tchèque' data-icon='../../../images/flag/cz.png' class="rounded-circle">république tchèque </option>
                                    <option value='roumanie' data-icon='../../../images/flag/ro.png' class="rounded-circle">roumanie </option>
                                    <option value='royaume-uni' data-icon='../../../images/flag/gb.png' class="rounded-circle">royaume-uni </option>
                                    <option value='saint-marin' data-icon='../../../images/flag/sm.png' class="rounded-circle">saint-marin </option>
                                    <option value='saint-siège (état de la cité du vatican)' data-icon='../../../images/flag/va.png' class="rounded-circle">saint-siège (état de la cité du vatican) </option>
                                    <option value='serbie-et-monténégro' data-icon='../../../images/flag/cs.png' class="rounded-circle">serbie-et-monténégro </option>
                                    <option value='slovaquie' data-icon='../../../images/flag/sk.png' class="rounded-circle">slovaquie </option>
                                    <option value='slovénie' data-icon='../../../images/flag/si.png' class="rounded-circle">slovénie </option>
                                    <option value='suède' data-icon='../../../images/flag/se.png' class="rounded-circle">suède </option>
                                    <option value='suisse' data-icon='../../../images/flag/ch.png' class="rounded-circle">suisse </option>
                                    <option value='ukraine' data-icon='../../../images/flag/ua.png' class="rounded-circle">ukraine </option>






                                </optgroup>
                                <optgroup label="océanie">
                                    <option value='australie' data-icon='../../../images/flag/au.png' class="rounded-circle">australie </option>
                                    <option value='états fédérés de micronésie' data-icon='../../../images/flag/fm.png' class="rounded-circle">états fédérés de micronésie </option>
                                    <option value='fidji' data-icon='../../../images/flag/fj.png' class="rounded-circle">fidji </option>
                                    <option value='guam' data-icon='../../../images/flag/gu.png' class="rounded-circle">guam </option>
                                    <option value='île christmas' data-icon='../../../images/flag/cx.png' class="rounded-circle">île christmas </option>
                                    <option value='île norfolk' data-icon='../../../images/flag/nf.png' class="rounded-circle">île norfolk </option>
                                    <option value='îles cocos (keeling)' data-icon='../../../images/flag/cc.png' class="rounded-circle">îles cocos (keeling) </option>
                                    <option value='îles cook' data-icon='../../../images/flag/ck.png' class="rounded-circle">îles cook </option>
                                    <option value='îles heard et mcdonald' data-icon='../../../images/flag/hm.png' class="rounded-circle">îles heard et mcdonald </option>
                                    <option value='îles mariannes du nord' data-icon='../../../images/flag/mp.png' class="rounded-circle">îles mariannes du nord </option>
                                    <option value='îles marshall' data-icon='../../../images/flag/mh.png' class="rounded-circle">îles marshall </option>
                                    <option value='îles salomon' data-icon='../../../images/flag/sb.png' class="rounded-circle">îles salomon </option>
                                    <option value='kiribati' data-icon='../../../images/flag/ki.png' class="rounded-circle">kiribati </option>
                                    <option value='nauru' data-icon='../../../images/flag/nr.png' class="rounded-circle">nauru </option>
                                    <option value='niué' data-icon='../../../images/flag/nu.png' class="rounded-circle">niué </option>
                                    <option value='nouvelle-calédonie' data-icon='../../../images/flag/nc.png' class="rounded-circle">nouvelle-calédonie </option>
                                    <option value='nouvelle-zélande' data-icon='../../../images/flag/nz.png' class="rounded-circle">nouvelle-zélande </option>
                                    <option value='palaos' data-icon='../../../images/flag/pw.png' class="rounded-circle">palaos </option>
                                    <option value='papouasie-nouvelle-guinée' data-icon='../../../images/flag/pg.png' class="rounded-circle">papouasie-nouvelle-guinée </option>
                                    <option value='pitcairn' data-icon='../../../images/flag/pn.png' class="rounded-circle">pitcairn </option>
                                    <option value='polynésie française' data-icon='../../../images/flag/pf.png' class="rounded-circle">polynésie française </option>
                                    <option value='samoa' data-icon='../../../images/flag/ws.png' class="rounded-circle">samoa </option>
                                    <option value='samoa américaines' data-icon='../../../images/flag/as.png' class="rounded-circle">samoa américaines </option>
                                    <option value='tonga' data-icon='../../../images/flag/to.png' class="rounded-circle">tonga </option>
                                    <option value='tuvalu' data-icon='../../../images/flag/tv.png' class="rounded-circle">tuvalu </option>
                                    <option value='vanuatu' data-icon='../../../images/flag/vu.png' class="rounded-circle">vanuatu </option>
                                    <option value='wallis et futuna' data-icon='../../../images/flag/wf.png' class="rounded-circle">wallis et futuna </option>


                                </optgroup>

                                <optgroup label="asie">

                                    <option value='afghanistan' data-icon='../../../images/flag/af.png' class="rounded-circle">afghanistan </option>
                                    <option value='arabie saoudite' data-icon='../../../images/flag/sa.png' class="rounded-circle">arabie saoudite </option>
                                    <option value='bahreïn' data-icon='../../../images/flag/bh.png' class="rounded-circle">bahreïn </option>
                                    <option value='bangladesh' data-icon='../../../images/flag/bd.png' class="rounded-circle">bangladesh </option>
                                    <option value='bhoutan' data-icon='../../../images/flag/bt.png' class="rounded-circle">bhoutan </option>
                                    <option value='brunéi darussalam' data-icon='../../../images/flag/bn.png' class="rounded-circle">brunéi darussalam </option>
                                    <option value='cambodge' data-icon='../../../images/flag/kh.png' class="rounded-circle">cambodge </option>
                                    <option value='chine' data-icon='../../../images/flag/cn.png' class="rounded-circle">chine </option>
                                    <option value='émirats arabes unis' data-icon='../../../images/flag/ae.png' class="rounded-circle">émirats arabes unis </option>
                                    <option value='fédération de russie' data-icon='../../../images/flag/ru.png' class="rounded-circle">fédération de russie </option>
                                    <option value='hong-kong' data-icon='../../../images/flag/hk.png' class="rounded-circle">hong-kong </option>
                                    <option value='inde' data-icon='../../../images/flag/in.png' class="rounded-circle">inde </option>
                                    <option value='indonésie' data-icon='../../../images/flag/id.png' class="rounded-circle">indonésie </option>
                                    <option value='iraq' data-icon='../../../images/flag/iq.png' class="rounded-circle">iraq </option>
                                    <option value='israël' data-icon='../../../images/flag/il.png' class="rounded-circle">israël </option>
                                    <option value='japon' data-icon='../../../images/flag/jp.png' class="rounded-circle">japon </option>
                                    <option value='jordanie' data-icon='../../../images/flag/jo.png' class="rounded-circle">jordanie </option>
                                    <option value='kazakhstan' data-icon='../../../images/flag/kz.png' class="rounded-circle">kazakhstan </option>
                                    <option value='kirghizistan' data-icon='../../../images/flag/kg.png' class="rounded-circle">kirghizistan </option>
                                    <option value='koweït' data-icon='../../../images/flag/kw.png' class="rounded-circle">koweït </option>
                                    <option value='liban' data-icon='../../../images/flag/lb.png' class="rounded-circle">liban </option>
                                    <option value='macao' data-icon='../../../images/flag/mo.png' class="rounded-circle">macao </option>
                                    <option value='malaisie' data-icon='../../../images/flag/my.png' class="rounded-circle">malaisie </option>
                                    <option value='maldives' data-icon='../../../images/flag/mv.png' class="rounded-circle">maldives </option>
                                    <option value='mongolie' data-icon='../../../images/flag/mn.png' class="rounded-circle">mongolie </option>
                                    <option value='myanmar' data-icon='../../../images/flag/mm.png' class="rounded-circle">myanmar </option>
                                    <option value='népal' data-icon='../../../images/flag/np.png' class="rounded-circle">népal </option>
                                    <option value='oman' data-icon='../../../images/flag/om.png' class="rounded-circle">oman </option>
                                    <option value='ouzbékistan' data-icon='../../../images/flag/uz.png' class="rounded-circle">ouzbékistan </option>
                                    <option value='pakistan' data-icon='../../../images/flag/pk.png' class="rounded-circle">pakistan </option>
                                    <option value='philippines' data-icon='../../../images/flag/ph.png' class="rounded-circle">philippines </option>
                                    <option value='qatar' data-icon='../../../images/flag/qa.png' class="rounded-circle">qatar </option>
                                    <option value='république arabe syrienne' data-icon='../../../images/flag/sy.png' class="rounded-circle">république arabe syrienne </option>
                                    <option value='république de corée' data-icon='../../../images/flag/kr.png' class="rounded-circle">république de corée </option>
                                    <option value='république démocratique populaire lao' data-icon='../../../images/flag/la.png' class="rounded-circle">république démocratique populaire lao </option>
                                    <option value='république islamique d' iran' data-icon='../../../images/flag/ir.png' class="rounded-circle">république islamique d'iran </option>
                                    <option value='république populaire démocratique de corée' data-icon='../../../images/flag/kp.png' class="rounded-circle">république populaire démocratique de corée </option>
                                    <option value='singapour' data-icon='../../../images/flag/sg.png' class="rounded-circle">singapour </option>
                                    <option value='sri lanka' data-icon='../../../images/flag/lk.png' class="rounded-circle">sri lanka </option>
                                    <option value='tadjikistan' data-icon='../../../images/flag/tj.png' class="rounded-circle">tadjikistan </option>
                                    <option value='taïwan' data-icon='../../../images/flag/tw.png' class="rounded-circle">taïwan </option>
                                    <option value='thaïlande' data-icon='../../../images/flag/th.png' class="rounded-circle">thaïlande </option>
                                    <option value='turkménistan' data-icon='../../../images/flag/tm.png' class="rounded-circle">turkménistan </option>
                                    <option value='turquie' data-icon='../../../images/flag/tr.png' class="rounded-circle">turquie </option>
                                    <option value='viet nam' data-icon='../../../images/flag/vn.png' class="rounded-circle">viet nam </option>
                                    <option value='yémen' data-icon='../../../images/flag/ye.png' class="rounded-circle">yémen </option>




                                </optgroup>
                                <optgroup label="antarctique">
                                    <option value='antarctique' data-icon='../../../images/flag/aq.png' class="rounded-circle">antarctique </option>





                                </optgroup>
                                <optgroup label="afrique">
                                    <option value='afrique du sud' data-icon='../../../images/flag/za.png' class="rounded-circle">afrique du sud </option>
                                    <option value='algérie' data-icon='../../../images/flag/dz.png' class="rounded-circle">algérie </option>
                                    <option value='angola' data-icon='../../../images/flag/ao.png' class="rounded-circle">angola </option>
                                    <option value='bénin' data-icon='../../../images/flag/bj.png' class="rounded-circle">bénin </option>
                                    <option value='botswana' data-icon='../../../images/flag/bw.png' class="rounded-circle">botswana </option>
                                    <option value='burkina faso' data-icon='../../../images/flag/bf.png' class="rounded-circle">burkina faso </option>
                                    <option value='burundi' data-icon='../../../images/flag/bi.png' class="rounded-circle">burundi </option>
                                    <option value='cameroun' data-icon='../../../images/flag/cm.png' class="rounded-circle">cameroun </option>
                                    <option value='cap-vert' data-icon='../../../images/flag/cv.png' class="rounded-circle">cap-vert </option>
                                    <option value='comores' data-icon='../../../images/flag/km.png' class="rounded-circle">comores </option>
                                    <option value='côte d' ivoire' data-icon='../../../images/flag/ci.png' class="rounded-circle">côte d'ivoire </option>
                                    <option value='djibouti' data-icon='../../../images/flag/dj.png' class="rounded-circle">djibouti </option>
                                    <option value='égypte' data-icon='../../../images/flag/eg.png' class="rounded-circle">égypte </option>
                                    <option value='érythrée' data-icon='../../../images/flag/er.png' class="rounded-circle">érythrée </option>
                                    <option value='éthiopie' data-icon='../../../images/flag/et.png' class="rounded-circle">éthiopie </option>
                                    <option value='gabon' data-icon='../../../images/flag/ga.png' class="rounded-circle">gabon </option>
                                    <option value='gambie' data-icon='../../../images/flag/gm.png' class="rounded-circle">gambie </option>
                                    <option value='ghana' data-icon='../../../images/flag/gh.png' class="rounded-circle">ghana </option>
                                    <option value='guinée' data-icon='../../../images/flag/gn.png' class="rounded-circle">guinée </option>
                                    <option value='guinée équatoriale' data-icon='../../../images/flag/gq.png' class="rounded-circle">guinée équatoriale </option>
                                    <option value='guinée-bissau' data-icon='../../../images/flag/gw.png' class="rounded-circle">guinée-bissau </option>
                                    <option value='jamahiriya arabe libyenne' data-icon='../../../images/flag/ly.png' class="rounded-circle">jamahiriya arabe libyenne </option>
                                    <option value='kenya' data-icon='../../../images/flag/ke.png' class="rounded-circle">kenya </option>
                                    <option value='lesotho' data-icon='../../../images/flag/ls.png' class="rounded-circle">lesotho </option>
                                    <option value='libéria' data-icon='../../../images/flag/lr.png' class="rounded-circle">libéria </option>
                                    <option value='madagascar' data-icon='../../../images/flag/mg.png' class="rounded-circle">madagascar </option>
                                    <option value='malawi' data-icon='../../../images/flag/mw.png' class="rounded-circle">malawi </option>
                                    <option value='mali' data-icon='../../../images/flag/ml.png' class="rounded-circle">mali </option>
                                    <option value='maroc' data-icon='../../../images/flag/ma.png' class="rounded-circle">maroc </option>
                                    <option value='maurice' data-icon='../../../images/flag/mu.png' class="rounded-circle">maurice </option>
                                    <option value='mauritanie' data-icon='../../../images/flag/mr.png' class="rounded-circle">mauritanie </option>
                                    <option value='mayotte' data-icon='../../../images/flag/yt.png' class="rounded-circle">mayotte </option>
                                    <option value='mozambique' data-icon='../../../images/flag/mz.png' class="rounded-circle">mozambique </option>
                                    <option value='namibie' data-icon='../../../images/flag/na.png' class="rounded-circle">namibie </option>
                                    <option value='niger' data-icon='../../../images/flag/ne.png' class="rounded-circle">niger </option>
                                    <option value='nigéria' data-icon='../../../images/flag/ng.png' class="rounded-circle">nigéria </option>
                                    <option value='ouganda' data-icon='../../../images/flag/ug.png' class="rounded-circle">ouganda </option>
                                    <option value='république centrafricaine' data-icon='../../../images/flag/cf.png' class="rounded-circle">république centrafricaine </option>
                                    <option value='république démocratique du congo' data-icon='../../../images/flag/cd.png' class="rounded-circle">république démocratique du congo </option>
                                    <option value='république du congo' data-icon='../../../images/flag/cg.png' class="rounded-circle">république du congo </option>
                                    <option value='république-unie de tanzanie' data-icon='../../../images/flag/tz.png' class="rounded-circle">république-unie de tanzanie </option>
                                    <option value='réunion' data-icon='../../../images/flag/re.png' class="rounded-circle">réunion </option>
                                    <option value='rwanda' data-icon='../../../images/flag/rw.png' class="rounded-circle">rwanda </option>
                                    <option value='sahara occidental' data-icon='../../../images/flag/eh.png' class="rounded-circle">sahara occidental </option>
                                    <option value='sainte-hélène' data-icon='../../../images/flag/sh.png' class="rounded-circle">sainte-hélène </option>
                                    <option value='sao tomé-et-principe' data-icon='../../../images/flag/st.png' class="rounded-circle">sao tomé-et-principe </option>
                                    <option value='sénégal' data-icon='../../../images/flag/sn.png' class="rounded-circle">sénégal </option>
                                    <option value='seychelles' data-icon='../../../images/flag/sc.png' class="rounded-circle">seychelles </option>
                                    <option value='sierra leone' data-icon='../../../images/flag/sl.png' class="rounded-circle">sierra leone </option>
                                    <option value='somalie' data-icon='../../../images/flag/so.png' class="rounded-circle">somalie </option>
                                    <option value='soudan' data-icon='../../../images/flag/sd.png' class="rounded-circle">soudan </option>
                                    <option value='swaziland' data-icon='../../../images/flag/sz.png' class="rounded-circle">swaziland </option>
                                    <option value='tchad' data-icon='../../../images/flag/td.png' class="rounded-circle">tchad </option>
                                    <option value='terres australes françaises' data-icon='../../../images/flag/tf.png' class="rounded-circle">terres australes françaises </option>
                                    <option value='territoire britannique de l' océan indien' data-icon='../../../images/flag/io.png' class="rounded-circle">territoire britannique de l'océan indien </option>
                                    <option value='togo' data-icon='../../../images/flag/tg.png' class="rounded-circle">togo </option>
                                    <option value='tunisie' data-icon='../../../images/flag/tn.png' class="rounded-circle">tunisie </option>
                                    <option value='zambie' data-icon='../../../images/flag/zm.png' class="rounded-circle">zambie </option>
                                    <option value='zimbabwe' data-icon='../../../images/flag/zw.png' class="rounded-circle">zimbabwe </option>




                                </optgroup>
                                <optgroup label="amérique">
                                    <option value='anguilla' data-icon='../../../images/flag/ai.png' class="rounded-circle">anguilla </option>
                                    <option value='antigua-et-barbuda' data-icon='../../../images/flag/ag.png' class="rounded-circle">antigua-et-barbuda </option>
                                    <option value='argentine' data-icon='../../../images/flag/ar.png' class="rounded-circle">argentine </option>
                                    <option value='aruba' data-icon='../../../images/flag/aw.png' class="rounded-circle">aruba </option>
                                    <option value='bahamas' data-icon='../../../images/flag/bs.png' class="rounded-circle">bahamas </option>
                                    <option value='barbade' data-icon='../../../images/flag/bb.png' class="rounded-circle">barbade </option>
                                    <option value='belize' data-icon='../../../images/flag/bz.png' class="rounded-circle">belize </option>
                                    <option value='bermudes' data-icon='../../../images/flag/bm.png' class="rounded-circle">bermudes </option>
                                    <option value='bolivie' data-icon='../../../images/flag/bo.png' class="rounded-circle">bolivie </option>
                                    <option value='brésil' data-icon='../../../images/flag/br.png' class="rounded-circle">brésil </option>
                                    <option value='canada' data-icon='../../../images/flag/ca.png' class="rounded-circle">canada </option>
                                    <option value='chili' data-icon='../../../images/flag/cl.png' class="rounded-circle">chili </option>
                                    <option value='colombie' data-icon='../../../images/flag/co.png' class="rounded-circle">colombie </option>
                                    <option value='costa rica' data-icon='../../../images/flag/cr.png' class="rounded-circle">costa rica </option>
                                    <option value='cuba' data-icon='../../../images/flag/cu.png' class="rounded-circle">cuba </option>
                                    <option value='dominique' data-icon='../../../images/flag/dm.png' class="rounded-circle">dominique </option>
                                    <option value='el salvador' data-icon='../../../images/flag/sv.png' class="rounded-circle">el salvador </option>
                                    <option value='équateur' data-icon='../../../images/flag/ec.png' class="rounded-circle">équateur </option>
                                    <option value='états-unis' data-icon='../../../images/flag/us.png' class="rounded-circle">états-unis </option>
                                    <option value='grenade' data-icon='../../../images/flag/gd.png' class="rounded-circle">grenade </option>
                                    <option value='groenland' data-icon='../../../images/flag/gl.png' class="rounded-circle">groenland </option>
                                    <option value='guadeloupe' data-icon='../../../images/flag/gp.png' class="rounded-circle">guadeloupe </option>
                                    <option value='guatemala' data-icon='../../../images/flag/gt.png' class="rounded-circle">guatemala </option>
                                    <option value='guyana' data-icon='../../../images/flag/gy.png' class="rounded-circle">guyana </option>
                                    <option value='guyane française' data-icon='../../../images/flag/gf.png' class="rounded-circle">guyane française </option>
                                    <option value='haïti' data-icon='../../../images/flag/ht.png' class="rounded-circle">haïti </option>
                                    <option value='honduras' data-icon='../../../images/flag/hn.png' class="rounded-circle">honduras </option>
                                    <option value='île bouvet' data-icon='../../../images/flag/bv.png' class="rounded-circle">île bouvet </option>
                                    <option value='îles (malvinas) falkland' data-icon='../../../images/flag/fk.png' class="rounded-circle">îles (malvinas) falkland </option>
                                    <option value='îles caïmanes' data-icon='../../../images/flag/ky.png' class="rounded-circle">îles caïmanes </option>
                                    <option value='îles vierges britanniques' data-icon='../../../images/flag/vg.png' class="rounded-circle">îles vierges britanniques </option>
                                    <option value='îles vierges des états-unis' data-icon='../../../images/flag/vi.png' class="rounded-circle">îles vierges des états-unis </option>
                                    <option value='jamaïque' data-icon='../../../images/flag/jm.png' class="rounded-circle">jamaïque </option>
                                    <option value='martinique' data-icon='../../../images/flag/mq.png' class="rounded-circle">martinique </option>
                                    <option value='mexique' data-icon='../../../images/flag/mx.png' class="rounded-circle">mexique </option>
                                    <option value='montserrat' data-icon='../../../images/flag/ms.png' class="rounded-circle">montserrat </option>
                                    <option value='nicaragua' data-icon='../../../images/flag/ni.png' class="rounded-circle">nicaragua </option>
                                    <option value='panama' data-icon='../../../images/flag/pa.png' class="rounded-circle">panama </option>
                                    <option value='paraguay' data-icon='../../../images/flag/py.png' class="rounded-circle">paraguay </option>
                                    <option value='pérou' data-icon='../../../images/flag/pe.png' class="rounded-circle">pérou </option>
                                    <option value='porto rico' data-icon='../../../images/flag/pr.png' class="rounded-circle">porto rico </option>
                                    <option value='république dominicaine' data-icon='../../../images/flag/do.png' class="rounded-circle">république dominicaine </option>
                                    <option value='sainte-lucie' data-icon='../../../images/flag/lc.png' class="rounded-circle">sainte-lucie </option>
                                    <option value='saint-kitts-et-nevis' data-icon='../../../images/flag/kn.png' class="rounded-circle">saint-kitts-et-nevis </option>
                                    <option value='saint-pierre-et-miquelon' data-icon='../../../images/flag/pm.png' class="rounded-circle">saint-pierre-et-miquelon </option>
                                    <option value='saint-vincent-et-les grenadines' data-icon='../../../images/flag/vc.png' class="rounded-circle">saint-vincent-et-les grenadines </option>
                                    <option value='suriname' data-icon='../../../images/flag/sr.png' class="rounded-circle">suriname </option>
                                    <option value='trinité-et-tobago' data-icon='../../../images/flag/tt.png' class="rounded-circle">trinité-et-tobago </option>
                                    <option value='uruguay' data-icon='../../../images/flag/uy.png' class="rounded-circle">uruguay </option>
                                    <option value='venezuela' data-icon='../../../images/flag/ve.png' class="rounded-circle">venezuela </option>

                                </optgroup>
                            </select>
                            <span asp-validation-for="Prospect.country" class="text-danger"></span>

                        </div>
                        <!--Message-->
                        <div class="md-form md-outline">
                            <textarea id="Message" asp-for="Prospect.Message" class="form-control md-textarea" rows="3"></textarea>
                            <label for="materialContactFormMessage">Message</label>
                            <span asp-validation-for="Prospect.Message" class="text-danger"></span>
                        </div>

                        <label class="remarque" style="display: none;">Remarque</label>
                        <input asp-for="Prospect.Remarque" class="remarque" id="remarque" name="remarque" pattern="[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,4}$" style="display: none;">


                        <!-- Send button -->
                        <button class="btn boutonbleu btn-rounded btn-md btn-block z-depth-0 mx-0 my-4 waves-effect" type="submit">Envoyer</button>

                    </form>
                    <!-- Form -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-7" style="margin-top: -7rem;">

                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(1).png" class="img-fluid" alt="smaple image">
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Contact Us -->
    </div>

</main>
<!-- Main layout -->



@section Scripts{



    <script>

        $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 13; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }
        })
    </script>

    @*<script>
            alert(document.getElementById('IsAuthenticated').value);
            if (document.getElementById('IsAuthenticated').value!=null)
                {
                    $.ajax({
                                url: '/api/chart',
                        type: 'POST',
                    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                                        if (data.success) {
                                            document.getElementById('NbProductInChart').innerHTML = data.nbItem;
                                        }
                                        else {
                                            toastr.error(data.message);
                                        }
                                    }
                                });
            }
        </script>*@

    <script>




        $(document).ready(function () {

            $("#CompanyName").autocomplete({
                source: '/api/company'
            });

        });


    </script>

    <script>
// this is the id of the form
       $("#formPropect").submit(function(e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
    //  var form = $(this);
     // var url = form.attr('action');

            data0 = {
                Name: document.getElementById('Name').value,
                FirstName: document.getElementById('FirstName').value,
                emailAddress: document.getElementById('emailAddress').value,
                TelephoneNumber: document.getElementById('TelephoneNumber').value,
                Company: document.getElementById('Company').value,
                Message: document.getElementById('Message').value,
                ActivitySector: document.getElementById('ActivitySector').value,
                country: document.getElementById('country').value,
            };
            //var json = JSON.stringify(data0);

            $.ajax({
                type: "GET",
                url: "api/prospect",

            headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: data0,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        document.getElementById("formPropect").reset();
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
            });
        });

    </script>

}
