﻿@page
@model MarketPlace.Pages.Index2Model
@{
}
<table id="DT_load" class="dataTable no-footer" style="width: 100%; font-size: 10px;" role="grid" aria-describedby="DT_load_info">
    <thead>
        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DT_load" rowspan="1" colspan="1" aria-label="PLATEFORME DE SHARING BUYING PHARMA SHOP CENTER : activer pour trier la colonne par ordre décroissant" aria-sort="ascending" style="width: 352px;"><p style="font-size: 32px; color:blue">PLATEFORME DE SHARING BUYING PHARMA SHOP CENTER </p></th></tr>
    </thead>
    <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1">
                <div class="container">
                    <div class="row pt-4">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <div class="card card-ecommerce">
                                        <!-- Card image -->
                                        <div class="view overlay"> <img id="myImg" src="../ImagesArticle/7391899840062_01.jpg" width="250" height="250" class="img-fluid" alt="Multiplus Solution" style="min-width: 250px;min-height: 250px;max-width: 250px;max-height: 250px;"> <a href="/Market/ArticleDetails?articleid=48606"> <div class="mask rgba-white-slight"></div> </a> </div> <!-- Card image --> <!-- Card content --> <div class="card-body"> <!-- Category & Title --> <h5 class="card-title mb-1"> <strong> <a href="/Market/ArticleDetails?articleid=48606" class="dark-grey-text"><span style="width: 300px; height:80px; display: inline-block;"> Multiplus Solution </span></a> </strong> </h5> <div class="card-footer pb-0" style="width: 300px; height:80px; display: inline-block;"> <div class="row mb-0"> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top"> EAN: 7391899840062 </span> <span class="ml-3 grey-text"><span class="float-left textevertbleu"> <strong style="font-size: xx-large">0 €</strong><strong class="textevertbleu" style="font-size: small">HT</strong><s style="font-size: small; color:red"><strong class="textevertbleu">80 €</strong></s> <input hidden="" id="P48606" value="0"> <input hidden="" id="L48606" value="1"> <input hidden="" id="M48606" value="1"> </span></span> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top">Par lot de 1 </span> </div> </div> <!-- Rating --> <span style="width: 100px; display: inline-block;" class=" "><ul class="rating "> </ul></span> <div id="DRDIV148606" class="row ml-3 align-items-center"><span id="DR148606" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:#095260 ; font-size:large"><strong> Objectif 40 €</strong></span><span id="QT148606" class=" textevertbleu mb-2 " style=" height:25px; display: inline-block;font-size:small ; "><s style=" color:red; "><strong class="textevertbleu"> 60 €</strong></s></span></div> <div id="DRQTDIV48606" class="row mb-1 " style=" height:25px;"><div id="DRDIV48606" class="col-6 pull-left"><span id="DR48606" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:red ; font-size:medium"><strong>45% de remises</strong></span></div> <div id="QTDIV48606" class="col-6 align-items-end float-right pull-right"><span id="QT48606" class=" text-lg-center align-items-end float-right pull-right mb-2 " style="width: 140px; height:25px; display: inline-block;font-size:medium ;color:#76B72A;"><strong> 401/200</strong></span></div></div><div class="progress"> <div id="PALL48606" class="progress-bar bg-primary progress-bar progress-bar-animated progress-bar-striped" style="width: 200%;">400</div> <div id="PUSER48606" class="progress-bar bg-success progress-bar progress-bar-animated progress-bar-striped" style="width: 0.5%;">1</div></div> <!-- Card footer --> <div class="card-footer row h-100 justify-content-center align-items-center pb-0"> <div class="row mb-0"><div class="def-number-input number-input mb-3 safari_only "> <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();document.getElementById('T48606').innerHTML = parseFloat((Math.round(document.getElementById('I48606').value * document.getElementById('P48606').value /document.getElementById('L48606').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER48606').innerHTML= document.getElementById('I48606').value;" class="minus"></button> <input id="I48606" class="quantity " step="1" maxlength="6" name="quantity" value="1" type="number" oninput="if ( parseFloat((Math.round(document.getElementById('I48606').value * document.getElementById('P48606').value /document.getElementById('L48606').value * 100) / 100).toFixed(2))<100000000) document.getElementById('T48606').innerHTML = parseFloat((Math.round(document.getElementById('I48606').value * document.getElementById('P48606').value /document.getElementById('L48606').value * 100) / 100).toFixed(2)) +' €'; else document.getElementById('I48606').value=0;" onkeyup="document.getElementById('T48606').innerHTML = parseFloat((Math.round(document.getElementById('I48606').value * document.getElementById('P48606').value /document.getElementById('L48606').value * 100) / 100).toFixed(2)) +' €';"> <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();document.getElementById('T48606').innerHTML = parseFloat((Math.round(document.getElementById('I48606').value * document.getElementById('P48606').value /document.getElementById('L48606').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER48606').innerHTML= document.getElementById('I48606').value; " class="plus"></button></div> <div class="ml-3"> <span class="float-right"> <a class="" data-toggle="tooltip" data-placement="top" title="Ajouter au panier"> <i class=" text-lg-center fas fa-cart-plus ml-3" style=" font-size: xx-large; "></i> </a></span></div> </div> </div> <!-- Card footer --> <div class="card-footer pb-0" style=" height:70px; display: inline-block; "> <div class="row mb-0"> <strong style="font-size: xx-large" class="total textevertbleu " id="T48606"> 0 €</strong><strong class="textevertbleu" style="font-size: small">HT</strong> <span class="ml-3 grey-text"></span> <div class=" container-fluid grey-text d-flex justify-content-end pull-right " style=" font-family: Digital-7; font-size: small; "> <span class="textebleu" id="days48606" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">Livraison dans 95 Jours &nbsp;</strong></span> <span class="textebleu" id="hours48606" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">04:</strong></span> <span class="textebleu" id="minutes48606" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">55:</strong></span> <span class="textebleu" id="seconds48606" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">08</strong></span> </div> </div> </div> </div> <!-- Card content -->
                                    </div>
                                </div><div class="col-lg-4 col-md-12 mb-4"> <div class="card card-ecommerce"> <!-- Card image --> <div class="view overlay"> <img id="myImg" src="../ImagesArticle/7391899848204_01.jpg" width="250" height="250" class="img-fluid" alt="Multiplus Solution Multifonctions Fraicheur " style="min-width: 250px;min-height: 250px;max-width: 250px;max-height: 250px;"> <a href="/Market/ArticleDetails?articleid=48840"> <div class="mask rgba-white-slight"></div> </a> </div> <!-- Card image --> <!-- Card content --> <div class="card-body"> <!-- Category & Title --> <h5 class="card-title mb-1"> <strong> <a href="/Market/ArticleDetails?articleid=48840" class="dark-grey-text"><span style="width: 300px; height:80px; display: inline-block;"> Multiplus Solution Multifonctions Fraicheur </span></a> </strong> </h5> <div class="card-footer pb-0" style="width: 300px; height:80px; display: inline-block;"> <div class="row mb-0"> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top"> EAN: 7391899848204 </span> <span class="ml-3 grey-text"><span class="float-left textevertbleu"> <strong style="font-size: xx-large">10 €</strong><strong class="textevertbleu" style="font-size: small">HT</strong><s style="font-size: small; color:red"><strong class="textevertbleu">80 €</strong></s> <input hidden="" id="P48840" value="10"> <input hidden="" id="L48840" value="5"> <input hidden="" id="M48840" value="1"> </span></span> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top">Par lot de 5 </span> </div> </div> <!-- Rating --> <span style="width: 100px; display: inline-block;" class=" "><ul class="rating "> </ul></span> <div id="DRDIV148840" class="row ml-3 align-items-center"><span id="DR148840" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:#095260 ; font-size:large"><strong> Objectif 40 €</strong></span><span id="QT148840" class=" textevertbleu mb-2 " style=" height:25px; display: inline-block;font-size:small ; "><s style=" color:red; "><strong class="textevertbleu"> 60 €</strong></s></span></div> <div id="DRQTDIV48840" class="row mb-1 " style=" height:25px;"><div id="DRDIV48840" class="col-6 pull-left"><span id="DR48840" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:red ; font-size:medium"><strong>55% de remises</strong></span></div> <div id="QTDIV48840" class="col-6 align-items-end float-right pull-right"><span id="QT48840" class=" text-lg-center align-items-end float-right pull-right mb-2 " style="width: 140px; height:25px; display: inline-block;font-size:medium ;color:#76B72A;"><strong> 401/800</strong></span></div></div><div class="progress"> <div id="PALL48840" class="progress-bar bg-primary progress-bar progress-bar-animated progress-bar-striped" style="width: 50%;">400</div> <div id="PUSER48840" class="progress-bar bg-success progress-bar progress-bar-animated progress-bar-striped" style="width: 0.125%;">1</div></div> <!-- Card footer --> <div class="card-footer row h-100 justify-content-center align-items-center pb-0"> <div class="row mb-0"><div class="def-number-input number-input mb-3 safari_only "> <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();document.getElementById('T48840').innerHTML = parseFloat((Math.round(document.getElementById('I48840').value * document.getElementById('P48840').value /document.getElementById('L48840').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER48840').innerHTML= document.getElementById('I48840').value;" class="minus"></button> <input id="I48840" class="quantity " step="5" maxlength="6" name="quantity" value="1" type="number" oninput="if ( parseFloat((Math.round(document.getElementById('I48840').value * document.getElementById('P48840').value /document.getElementById('L48840').value * 100) / 100).toFixed(2))<100000000) document.getElementById('T48840').innerHTML = parseFloat((Math.round(document.getElementById('I48840').value * document.getElementById('P48840').value /document.getElementById('L48840').value * 100) / 100).toFixed(2)) +' €'; else document.getElementById('I48840').value=0;" onkeyup="document.getElementById('T48840').innerHTML = parseFloat((Math.round(document.getElementById('I48840').value * document.getElementById('P48840').value /document.getElementById('L48840').value * 100) / 100).toFixed(2)) +' €';"> <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();document.getElementById('T48840').innerHTML = parseFloat((Math.round(document.getElementById('I48840').value * document.getElementById('P48840').value /document.getElementById('L48840').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER48840').innerHTML= document.getElementById('I48840').value; " class="plus"></button></div> <div class="ml-3"> <span class="float-right"> <a class="" data-toggle="tooltip" data-placement="top" title="Ajouter au panier"> <i class=" text-lg-center fas fa-cart-plus ml-3" style=" font-size: xx-large; "></i> </a></span></div> </div> </div> <!-- Card footer --> <div class="card-footer pb-0" style=" height:70px; display: inline-block; "> <div class="row mb-0"> <strong style="font-size: xx-large" class="total textevertbleu " id="T48840"> 2 €</strong><strong class="textevertbleu" style="font-size: small">HT</strong> <span class="ml-3 grey-text"></span> <div class=" container-fluid grey-text d-flex justify-content-end pull-right " style=" font-family: Digital-7; font-size: small; "> <span class="textebleu" id="days48840" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">Livraison dans 59 Jours &nbsp;</strong></span> <span class="textebleu" id="hours48840" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">04:</strong></span> <span class="textebleu" id="minutes48840" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">55:</strong></span> <span class="textebleu" id="seconds48840" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">08</strong></span> </div> </div> </div> </div> <!-- Card content --> </div> </div><div class="col-lg-4 col-md-12 mb-4"> <div class="card card-ecommerce"> <!-- Card image --> <div class="view overlay"> <img id="myImg" src="../ImagesArticle/7391899837659_01.jpg" width="250" height="250" class="img-fluid" alt="Multiplus Solution Multifonctions Fraicheur Et Confort Renu 120ml" style="min-width: 250px;min-height: 250px;max-width: 250px;max-height: 250px;"> <a href="/Market/ArticleDetails?articleid=49735"> <div class="mask rgba-white-slight"></div> </a> </div> <!-- Card image --> <!-- Card content --> <div class="card-body"> <!-- Category & Title --> <h5 class="card-title mb-1"> <strong> <a href="/Market/ArticleDetails?articleid=49735" class="dark-grey-text"><span style="width: 300px; height:80px; display: inline-block;"> Multiplus Solution Multifonctions Fraicheur Et Confort Renu </span></a> </strong> </h5> <div class="card-footer pb-0" style="width: 300px; height:80px; display: inline-block;"> <div class="row mb-0"> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top"> EAN: 7391899837659 </span> <span class="ml-3 grey-text">
                                
                                <span class="float-left textevertbleu"> 
                                
                                <strong style="font-size: xx-large">60 €</strong>
                                
                                <strong class="textevertbleu" style="font-size: small">HT</strong>
                                
                                <s style="font-size: small; color:red"><strong class="textevertbleu">80 €</strong></s> <input hidden="" id="P49735" value="60"> <input hidden="" id="L49735" value="12"> <input hidden="" id="M49735" value="255"> </span></span> <span class="float-left text-black-50 " data-toggle="tooltip" data-placement="top">Par lot de 12 </span> </div> </div> <!-- Rating --> <span style="width: 100px; display: inline-block;" class=" "></span> <div id="DRDIV149735" class="row ml-3 align-items-center"><span id="DR149735" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:#095260 ; font-size:large"><strong> Objectif 40 €</strong></span><span id="QT149735" class=" textevertbleu mb-2 " style=" height:25px; display: inline-block;font-size:small ; "><s style=" color:red; "><strong class="textevertbleu"> 60 €</strong></s></span></div> <div id="DRQTDIV49735" class="row mb-1 " style=" height:25px;"><div id="DRDIV49735" class="col-6 pull-left"><span id="DR49735" class=" text-lg-center mb-2 " style=" height:25px; display: inline-block; color:red ; font-size:medium"><strong>45% de remises</strong></span></div> <div id="QTDIV49735" class="col-6 align-items-end float-right pull-right"><span id="QT49735" class=" text-lg-center align-items-end float-right pull-right mb-2 " style="width: 140px; height:25px; display: inline-block;font-size:medium ;color:#76B72A;"><strong> 655/2000</strong></span></div></div><div class="progress"> <div id="PALL49735" class="progress-bar bg-primary progress-bar progress-bar-animated progress-bar-striped" style="width: 20%;">400</div> <div id="PUSER49735" class="progress-bar bg-success progress-bar progress-bar-animated progress-bar-striped" style="width: 12.75%;">255</div></div> <!-- Card footer --> <div class="card-footer row h-100 justify-content-center align-items-center pb-0"> <div class="row mb-0"><div class="def-number-input number-input mb-3 safari_only "> <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();document.getElementById('T49735').innerHTML = parseFloat((Math.round(document.getElementById('I49735').value * document.getElementById('P49735').value /document.getElementById('L49735').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER49735').innerHTML= document.getElementById('I49735').value;" class="minus"></button> <input id="I49735" class="quantity " step="12" max="1000" min="255" maxlength="6" name="quantity" value="255" type="number" oninput="if ( parseFloat((Math.round(document.getElementById('I49735').value * document.getElementById('P49735').value /document.getElementById('L49735').value * 100) / 100).toFixed(2))<100000000) document.getElementById('T49735').innerHTML = parseFloat((Math.round(document.getElementById('I49735').value * document.getElementById('P49735').value /document.getElementById('L49735').value * 100) / 100).toFixed(2)) +' €'; else document.getElementById('I49735').value=0;" onkeyup="document.getElementById('T49735').innerHTML = parseFloat((Math.round(document.getElementById('I49735').value * document.getElementById('P49735').value /document.getElementById('L49735').value * 100) / 100).toFixed(2)) +' €';"> <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();document.getElementById('T49735').innerHTML = parseFloat((Math.round(document.getElementById('I49735').value * document.getElementById('P49735').value /document.getElementById('L49735').value * 100) / 100).toFixed(2)) +' €';document.getElementById('PUSER49735').innerHTML= document.getElementById('I49735').value; " class="plus"></button></div> <div class="ml-3"> <span class="float-right"> <a class="" data-toggle="tooltip" data-placement="top" title="Ajouter au panier"> <i class=" text-lg-center fas fa-cart-plus ml-3" style=" font-size: xx-large; "></i> </a></span></div> </div> </div> <!-- Card footer --> <div class="card-footer pb-0" style=" height:70px; display: inline-block; "> <div class="row mb-0">
                                
                                <strong style="font-size: xx-large" class="total textevertbleu " id="T49735"> 1275 €</strong>
                                <strong class="textevertbleu" style="font-size: small">HT</strong> 
                                <span class="ml-3 grey-text"></span> 
                                
                                <div class=" container-fluid grey-text d-flex justify-content-end pull-right " style=" font-family: Digital-7; font-size: small; "> 
                                <span class="textebleu" id="days49735" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">Livraison dans 29 Jours &nbsp;</strong></span> <span class="textebleu" id="hours49735" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">04:</strong></span> <span class="textebleu" id="minutes49735" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">55:</strong></span> <span class="textebleu" id="seconds49735" style=" font-size: large; font-family: Digital-7; "><strong style=" font-size: large; color:black; font-family: Digital-7; ">08</strong></span> </div> </div> </div> </div> <!-- Card content --> </div> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>