﻿@page
@model MarketPlace.Pages.EmployeesallowedAccessList.CreateModel

@{ ViewData["Title"] = "Create"; }
}
@inject MarketPlace.Resources.IdentityLocalizationService IdentityLocalizer

<br />



<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Ajouter un utilisateur</h2>
    </div>
</div>


<div class="container border p-3  ">

    <form method="post" id="formDiscount">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeesallowedAccess.Id" />


                <div class=" row">
                    <div class="form-group  col-4">
                        <label asp-for="EmployeesallowedAccess.Firstname" class="control-label">Prénom</label>
                        <input asp-for="EmployeesallowedAccess.Firstname" class="form-control" type="text" required />
                    </div>

                    <div class="form-group  col-4">
                        <label asp-for="EmployeesallowedAccess.Lastname" control-label">Nom</label>
                        <input asp-for="EmployeesallowedAccess.Lastname" class="form-control" type="text" required />
                    </div>

                    <div class="form-group  col-4">
                        <label asp-for="EmployeesallowedAccess.Emaillogin" class="control-label">Email</label>
                        <input asp-for="EmployeesallowedAccess.Emaillogin" class="form-control" type="email" required />
                    </div>

                    <div class="form-group col-4">

                        
                            <select asp-for="EmployeesallowedAccess.userRole" class="mdb-select md-form colorful-select dropdown-primary " >
                                <option value="" disabled selected>@IdentityLocalizer.GetLocalizedHtmlString("Chosir le role") </option>
                                <option value="1">@IdentityLocalizer.GetLocalizedHtmlString("Admin")</option>
                                <option value="2">@IdentityLocalizer.GetLocalizedHtmlString("User")</option>

                       
                        </select>
                        <span asp-validation-for="EmployeesallowedAccess.userRole" class="text-danger"></span>

                    </div>

                </div>
               
            </div>

        </div>
        <div class="row">
            <div class="col-3">

                <input id="btnSave" type="submit" value="Ajouter" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />

            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>




@section Scripts {

}


