﻿@page
@model MarketPlace.Pages.EmployeesallowedAccessList.DeleteModel

@{ ViewData["Title"] = "Delete"; }


<br />

<h5>Etes vous certain de vouloir supprimer cet utilisateurs?</h5>

<div class="col-12 border p-3">

    <div class="col-12 ">
        <dl class="row  input-group mb-3  d-flex justify-content-center input-group-prepend input-group-text">
            <dt class="col-sm-2 ">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountRate)*@
               Nom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeesallowedAccess.Firstname) 
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.DiscountPrice)*@
               Prénom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeesallowedAccess.Lastname) 
            </dd>

            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.Quantity)*@
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeesallowedAccess.Emaillogin)
            </dd>


            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Discount.BasePrice)*@
                Role
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeesallowedAccess.userRole) 
            </dd>

             

        </dl>


    </div>
    <form method="post">
        <input type="hidden" asp-for="Contact.Id" />
        <input type="hidden" asp-for="EmployeesallowedAccess.Id" />

        <div class="row">
            <div class="col-3">
                <input type="submit" value="Supprimer" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />
            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-contactId="@Model.Contact.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>
        @*<a asp-page="./Index" asp-route-articleId=" @Model.Article.Id">Back to List</a>*@
    </form>
</div>
