﻿@page
@model MarketPlace.Pages.EmployeesallowedAccessList.IndexModel

@{ ViewData["Title"] = "Index"; }


<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Gestion des utilisateurs</h2>
    </div>
</div>



<div class="col-12 border p-3">
    <table id="myTable" class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                
                </th>
                <th>
                  
                   Nom 
                </th>
                <th>
                 
                    Prénom
                </th>
                <th>
                 
                    Email
                </th>
                <th>
                    Profil
                 
                </th>
        
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-7"></div>
        <div class="col-2 py-4 text-center text-white">
            <a asp-page="/Market/Index" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage des remises _START_ à _END_ sur _TOTAL_ remises",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ remises au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun utilisateur correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    },
                    "emptyTable": "Vous n'avez pas encore défini vos utilisateurs"
                },
                "ajax": {
                    url: "/EmployeesallowedAccessList/Index?contactId="+@Model.Contact.Id,
                    type: 'POST',
                             headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return ' <a href="/EmployeesallowedAccessList/delete?id=' + row.id   + '"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size:24px;color:red"></i></a>';
                        },
                        "sortable": false
                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false },
                    { "name": "Firstname", "data": "firstname", "targets": 1 },
                    { "name": "Lastname", "data": "lastname", "targets": 2 },
                    { "name": "Emaillogin", "data": "emaillogin", "targets": 3 },
                    { "name": "userRole", "data": "userRole", "targets": 4 },

                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}
