﻿@page
@model MarketPlace.Pages.Market.ChartModel
@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{

    decimal total = 0;
    decimal totalttc = 0;
    decimal customsTax = 0;
 



<style>
    .number-input input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .number-input button {
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0;
            position: relative;
        }

            .number-input button:before,
            .number-input button:after {
                display: inline-block;
                position: absolute;
                content: '';
                height: 2px;
                transform: translate(-50%, -50%);
            }

            .number-input button.plus:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }

        .number-input input[type=number] {
            text-align: center;
        }

        .number-input.number-input {
            border: 1px solid #ced4da;
            width: 10rem;
            border-radius: .25rem;
        }

            .number-input.number-input button {
                width: 2.6rem;
                height: .7rem;
            }

                .number-input.number-input button.minus {
                    padding-left: 10px;
                }

                .number-input.number-input button:before,
                .number-input.number-input button:after {
                    width: .7rem;
                    background-color: #495057;
                }

            .number-input.number-input input[type=number] {
                max-width: 4rem;
                padding: .5rem;
                border: 1px solid #ced4da;
                border-width: 0 1px;
                font-size: 1rem;
                height: 2rem;
                color: #495057;
            }

    @@media not all and (min-resolution:.001dpcm) {
        @@supports (-webkit-appearance: none) and (stroke-color:transparent) {

            .number-input.def-number-input.safari_only button:before,
            .number-input.def-number-input.safari_only button:after {
                margin-top: -.3rem;
            }
        }
    }
</style>


<div class="container">

    <!-- Section cart -->
    <section class="section my-5 pb-5">

        <div class="card card-ecommerce">

            <div class="card-body">

                <!-- Shopping Cart table -->
                <div class="table-responsive">

                    <table class="table product-table table-cart-v-2">

                        <!-- Table head -->
                        <thead class="mdb-color lighten-5">

                            <tr>

                                <th></th>

                                <th class="font-weight-bold">

                                    <strong>Produit</strong>

                                </th>

                                <th class="font-weight-bold">

                                    <strong>Vendeur</strong>

                                </th>



                                <th class="font-weight-bold">

                                    <strong>Prix</strong>

                                </th>

                                <th class="font-weight-bold">

                                    <strong>Quantité</strong>

                                </th>

                                <th class="font-weight-bold">

                                    <strong>Montant HT</strong>


                                </th>
                                <th class="font-weight-bold">

                                    <strong>Montant TTC</strong>

                                </th>
                                <th class="font-weight-bold">

                                    <strong></strong>

                                </th>



                            </tr>

                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>

                            @foreach (var @item0 in Model.ChartList)
                            {
                                decimal vat = (decimal)@item0.vat;
                                customsTax = (decimal)@item0.customsTax;
                                total = total + item0.TotalAmount;
                                decimal totalLigne = (decimal)(item0.TotalAmount * (1 + @item0.vat));
                                totalttc = (decimal)(totalttc + totalLigne);

                                var InputId = 'I' + @item0.Id.ToString();
                                var TotalId = 'T' + @item0.Id.ToString();

                                if (@item0.MinimumOrderQuantity == 0 || @item0.MinimumOrderQuantity == null)
                                    @item0.MinimumOrderQuantity = 0;

                                if (@item0.MaximumOrderQuantity == 0 || @item0.MaximumOrderQuantity == null)
                                    @item0.MaximumOrderQuantity = 0;

                                string tvaTexte = "";
                                if (vat == 20) tvaTexte = "20%  TVA";
                                else if (vat == 10) tvaTexte = "10% TVA";
                                else if (vat == (decimal)5.5) tvaTexte = "5.5% TVA";
                                else if (vat == (decimal)2.1) tvaTexte = "2.1% TVA";
                                else tvaTexte = vat.ToString() + " TVA";


                                <!-- First row -->
                                <tr>

                                    <th scope="row">

                                        <img src="~/@item0.Image1" alt=""
                                             class="img-fluid z-depth-0">

                                    </th>

                                    <td>

                                        <h6 class="mt-3">

                                            <strong>@item0.ProductName</strong>

                                        </h6>

                                        <p class="text-muted">@item0.ProductBrand</p>

                                        <p class="text-muted">Message d'erreur</p>

                                    </td>

                                    <td>@item0.supplierName</td>

                                    <td>@item0.price @item0.currency</td>

                                    <td class="text-center text-md-left">

                                        @*<span class="qty">@item0.quantity </span>*@


                                        <div class="def-number-input number-input safari_only sm ">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); spUpdateChartQuantity(@item0.Id);" class="minus "></button>
                                            <input id=@InputId class="quantity" step="@item0.Lot" min="@item0.MinimumOrderQuantity" name="quantity" value="@item0.quantity" type="number" oninput="if (document.getElementById('@InputId').value<@item0.MinimumOrderQuantity) document.getElementById('@InputId').value=@item0.MinimumOrderQuantity;spUpdateChartQuantity('@item0.Id');" onkeyup="if (document.getElementById('@InputId').value<@item0.MinimumOrderQuantity) document.getElementById('@InputId').value=@item0.MinimumOrderQuantity;spUpdateChartQuantity(@item0.Id);">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); spUpdateChartQuantity(@item0.Id);" class="plus "></button>
                                        </div>



                                    </td>

                                    <td>
                                        <strong id=@TotalId>@Math.Round(@item0.TotalAmount, 2) @item0.currency</strong>
                                        <p class="text-muted" style="font-size:8px"> @tvaTexte</p>
                                    </td>
                                    <td>
                                        <strong id=@TotalId>@Math.Round(@totalLigne, 2) @item0.currency</strong>
                                        <p class="text-muted" style="font-size:8px ">&nbsp;</p>
                                    </td>


                                    <td>

                                        <form method="post">
                                            <input name="id" hidden value="@item0.Id " />
                                            <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                                                    title="Remove item">
                                                X

                                            </button>
                                        </form>

                                    </td>

                                </tr>
                            }
                            <!-- First row -->
                            <!-- Second row -->
                            <!-- Third row -->
                            <!-- Fourth row -->
                            <!-- Fourth row -->

                        </tbody>
                        <!-- Table body -->

                    </table>





                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item list</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Tax</th>
                                    <th>Total price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MDBootstrap Corporate License</td>
                                    <td>1</td>
                                    <td>$319</td>
                                    <td>$73.37</td>
                                    <td>$319</td>
                                </tr>
                                <tr>
                                    <td>Material Design for Wordpress</td>
                                    <td>2</td>
                                    <td>$69</td>
                                    <td>$31.74</td>
                                    <td>$138</td>
                                </tr>
                                <tr>
                                    <td>MDBootstrap Portfolio Template Personal Licence</td>
                                    <td>1</td>
                                    <td>$49</td>
                                    <td>$11.27</td>
                                    <td>$49</td>
                                </tr>
                                <tr>
                                    <td>MDBootstrap Magazine Corporate Licence</td>
                                    <td>1</td>
                                    <td>$249</td>
                                    <td>$57.27</td>
                                    <td>$249</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <ul class="list-unstyled text-right">
                        <li><strong>Sub Total:</strong><span class="float-right ml-3">$755</span></li>
                        <li><strong>TAX:</strong><span class="float-right ml-3">$173,65</span></li>
                        <li><strong>TOTAL:</strong><span class="float-right ml-3">$755</span></li>
                    </ul>

                </div>

                <td colspan="3" class="text-right">

                    <button type="button" class="btn btn-primary btn-rounded">
                        Valider vos achats



                    </button>

                </td>

            </div>
            <!-- Shopping Cart table -->



        </div>

    </section>
    <!-- Section cart -->
    <!-- Section products -->
    <section>

        <h4 class="font-weight-bold mt-4 title-1">

            <strong>Nous vous conseillons également</strong>

        </h4>

        <hr class="blue mb-5">

        <!-- Grid row -->
        <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                    <!-- Card image -->
                    <div class="view overlay">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                             alt="">

                        <a>

                            <div class="mask rgba-white-slight"></div>

                        </a>

                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Category & Title -->
                        <h5 class="card-title mb-1">

                            <strong>

                                <a href="" class="dark-grey-text">Sony D74v</a>

                            </strong>

                        </h5>

                        <span class="badge badge-info mb-2">new</span>

                        <!-- Rating -->
                        <ul class="rating">

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                        </ul>

                        <!-- Card footer -->
                        <div class="card-footer pb-0">

                            <div class="row mb-0">

                                <span class="float-left">

                                    <strong>1439$</strong>

                                </span>

                                <span class="float-right">

                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                        <i class="fas fa-shopping-cart ml-3"></i>

                                    </a>

                                </span>

                            </div>

                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                    <!-- Card image -->
                    <div class="view overlay">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg" class="img-fluid"
                             alt="">

                        <a>

                            <div class="mask rgba-white-slight"></div>

                        </a>

                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Category & Title -->
                        <h5 class="card-title mb-1">

                            <strong>

                                <a href="" class="dark-grey-text">Samsung V54</a>

                            </strong>

                        </h5>

                        <span class="badge badge-info mb-2">new</span>

                        <!-- Rating -->
                        <ul class="rating">

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                        </ul>

                        <!-- Card footer -->
                        <div class="card-footer pb-0">

                            <div class="row mb-0">

                                <span class="float-left">

                                    <strong>1439$</strong>

                                </span>

                                <span class="float-right">

                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                        <i class="fas fa-shopping-cart ml-3"></i>

                                    </a>

                                </span>

                            </div>

                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                    <!-- Card image -->
                    <div class="view overlay">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/7.jpg" class="img-fluid"
                             alt="">

                        <a>

                            <div class="mask rgba-white-slight"></div>

                        </a>

                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Category & Title -->
                        <h5 class="card-title mb-1">

                            <strong>

                                <a href="" class="dark-grey-text">Dell 786i</a>

                            </strong>

                        </h5>

                        <span class="badge badge-info mb-2">new</span>

                        <!-- Rating -->
                        <ul class="rating">

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star grey-text"></i>

                            </li>

                        </ul>

                        <!-- Card footer -->
                        <div class="card-footer pb-0">

                            <div class="row mb-0">

                                <span class="float-left">

                                    <strong>1439$</strong>

                                </span>

                                <span class="float-right">

                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                        <i class="fas fa-shopping-cart ml-3"></i>

                                    </a>

                                </span>

                            </div>

                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                    <!-- Card image -->
                    <div class="view overlay">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" class="img-fluid"
                             alt="">

                        <a>

                            <div class="mask rgba-white-slight"></div>

                        </a>

                    </div>

                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Category & Title -->
                        <h5 class="card-title mb-1">

                            <strong>

                                <a href="" class="dark-grey-text">Canon 675-D</a>

                            </strong>

                        </h5>

                        <span class="badge badge-info mb-2">new</span>

                        <span class="badge badge-success mb-2 ml-2">SALE</span>

                        <!-- Rating -->
                        <ul class="rating">

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                                <i class="fas fa-star blue-text"></i>

                            </li>

                        </ul>

                        <!-- Card footer -->
                        <div class="card-footer pb-0">

                            <div class="row mb-0">

                                <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                                    <span class="red-text">

                                        <strong>$1199</strong>

                                    </span>

                                    <span class="grey-text">

                                        <small>

                                            <s>$1520</s>

                                        </small>

                                    </span>

                                </h5>

                                <span class="float-right">

                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                        <i class="fas fa-shopping-cart ml-3"></i>

                                    </a>

                                </span>

                            </div>

                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row flex-center mb-5">

            <p>

                <a class="btn btn-primary btn-rounded mb-5" data-toggle="collapse" href="#collapseExample1"
                   aria-expanded="false" aria-controls="collapseExample1">More products</a>

            </p>

            <div class="collapse" id="collapseExample1">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card card-ecommerce">

                            <!-- Card image -->
                            <div class="view overlay">

                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg" class="img-fluid"
                                     alt="">

                                <a>

                                    <div class="mask rgba-white-slight"></div>

                                </a>

                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Category & Title -->
                                <h5 class="card-title mb-1">

                                    <strong>

                                        <a href="" class="dark-grey-text">Asus GR-597</a>

                                    </strong>

                                </h5>

                                <span class="badge badge-danger mb-2">bestseller</span>

                                <!-- Rating -->
                                <ul class="rating text-left">

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                </ul>

                                <!-- Card footer -->
                                <div class="card-footer pb-0">

                                    <div class="row mb-0">

                                        <span class="float-left">

                                            <strong>1439$</strong>

                                        </span>

                                        <span class="float-right">

                                            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                <i class="fas fa-shopping-cart ml-3"></i>

                                            </a>

                                        </span>

                                    </div>

                                </div>

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card card-ecommerce">

                            <!-- Card image -->
                            <div class="view overlay">

                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/5.jpg" class="img-fluid"
                                     alt="">

                                <a>

                                    <div class="mask rgba-white-slight"></div>

                                </a>

                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Category & Title -->
                                <h5 class="card-title mb-1">

                                    <strong>

                                        <a href="" class="dark-grey-text">Asus CT-567</a>

                                    </strong>

                                </h5>

                                <span class="badge badge-danger mb-2">bestseller</span>

                                <!-- Rating -->
                                <ul class="rating text-left">

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                </ul>

                                <!-- Card footer -->
                                <div class="card-footer pb-0">

                                    <div class="row mb-0">

                                        <span class="float-left">

                                            <strong>1439$</strong>

                                        </span>

                                        <span class="float-right">

                                            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                <i class="fas fa-shopping-cart ml-3"></i>

                                            </a>

                                        </span>

                                    </div>

                                </div>

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card card-ecommerce">

                            <!-- Card image -->
                            <div class="view overlay">

                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg" class="img-fluid"
                                     alt="">

                                <a>

                                    <div class="mask rgba-white-slight"></div>

                                </a>

                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Category & Title -->
                                <h5 class="card-title mb-1">

                                    <strong>

                                        <a href="" class="dark-grey-text">iPad PRO</a>

                                    </strong>

                                </h5>

                                <span class="badge badge-danger mb-2">bestseller</span>

                                <span class="badge badge-success mb-2 ml-2">SALE</span>

                                <!-- Rating -->
                                <ul class="rating text-left">

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star grey-text"></i>

                                    </li>

                                </ul>

                                <!-- Card footer -->
                                <div class="card-footer pb-0">

                                    <div class="row mb-0">

                                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                                            <span class="red-text">

                                                <strong>$699</strong>

                                            </span>

                                            <span class="grey-text">

                                                <small>

                                                    <s>$920</s>

                                                </small>

                                            </span>

                                        </h5>

                                        <span class="float-right">

                                            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                <i class="fas fa-shopping-cart ml-3"></i>

                                            </a>

                                        </span>

                                    </div>

                                </div>

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card card-ecommerce">

                            <!-- Card image -->
                            <div class="view overlay">

                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/4.jpg" class="img-fluid"
                                     alt="">

                                <a>

                                    <div class="mask rgba-white-slight"></div>

                                </a>

                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Category & Title -->
                                <h5 class="card-title mb-1">

                                    <strong>

                                        <a href="" class="dark-grey-text">Dell V-964i</a>

                                    </strong>

                                </h5>

                                <span class="badge badge-danger mb-2">bestseller</span>

                                <!-- Rating -->
                                <ul class="rating text-left">

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                    <li>

                                        <i class="fas fa-star blue-text"></i>

                                    </li>

                                </ul>

                                <!-- Card footer -->
                                <div class="card-footer pb-0">

                                    <div class="row mb-0">

                                        <span class="float-left">

                                            <strong>1439$</strong>

                                        </span>

                                        <span class="float-right">

                                            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                                <i class="fas fa-shopping-cart ml-3"></i>

                                            </a>

                                        </span>

                                    </div>

                                </div>

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section products -->

</div>
<!-- Main Container -->
   }
            else
            {

                Response.Redirect("/Identity/Account/Login");
            }


@section Scripts{
    <script>
    $.ajax({
        url: '/api/chart',
        type: 'POST',
    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {
        document.getElementById('NbProductInChart').innerHTML = data.nbItem;
    }
    else {
        toastr.error(data.message);
    }
    }
    });

    </script>

    @*update quantity *@

    <script>
    function InsertintoChart(id) {
    /* inputOptions can be an object or Promise */


    var data = {
    'articleVendorsId':null,
        'articleId': null,
        'quantity': document.getElementById('I' + id).value,
        'price': dnull,
        'currency': null,
        'pricetype': null,
        'image1': null,
        'productName': null,
        'productBrand': null,
        'brandId': null,
        'supplierName': null,
        'lot': document.null,
        'MinimumOrderQuantity': null,
        'MaximumOrderQuantity': null,
        'id': id,
        'vat': null
    };
    //var data0 = { numberId: "1", companyId: "531" };



    $.ajax({
    url: '/api/chart',
    type: 'GET',
    data: data,
    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {
            document.getElementById('NbProductInChart').innerHTML = data.nbItem;
            //Swal.fire(
            //    'The Internet?',
            //    'Ce produit a été ajouté dans votre panier',
            //    'question'
            //)

            //Swal.fire({
            //    position: 'top-end',
            //    icon: 'success',
            //    title: 'Ce produit a été ajouté dans votre panier',
            //    showConfirmButton: false,
            //    timer: 1500
            //})

                toastr.success(data.message);

          window.location.href = "/Market/Chart";


    }
    else {
    toastr.error(data.message);
    }


    }
    });
    }
    </script>



    <script>

        function spUpdateChartQuantity(id) {
            var idInput = document.getElementById('I' + id).value;
            var data = {
                'id': id,
                'quantity': idInput
            }

         $.ajax({
             url: '/api/chart/',
             type: 'GET',
             data: data,
    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {

            window.location.href = "/Market/Chart";
    }
    else {
        toastr.error(data.message);
    }
    }
    });
        }
    </script>


}

