﻿@page
@model MarketPlace.Pages.Market.IndexModel

@using Microsoft.AspNetCore.Http
@{ }
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{


    <style>
        .number-input input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        .number-input input[type=number]::-webkit-inner-spin-button,
        .number-input input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .number-input {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .number-input button {
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0;
                position: relative;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    height: 2px;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                text-align: center;
            }

            .number-input.number-input {
                border: 1px solid #ced4da;
                width: 10rem;
                border-radius: .25rem;
            }

                .number-input.number-input button {
                    width: 2.6rem;
                    height: .7rem;
                }

                    .number-input.number-input button.minus {
                        padding-left: 10px;
                    }

                    .number-input.number-input button:before,
                    .number-input.number-input button:after {
                        width: .7rem;
                        background-color: #495057;
                    }

                .number-input.number-input input[type=number] {
                    max-width: 4rem;
                    padding: .5rem;
                    border: 1px solid #ced4da;
                    border-width: 0 1px;
                    font-size: 1rem;
                    height: 2rem;
                    color: #495057;
                }

        @@media not all and (min-resolution:.001dpcm) {
            @@supports (-webkit-appearance: none) and (stroke-color:transparent) {

                .number-input.def-number-input.safari_only button:before,
                .number-input.def-number-input.safari_only button:after {
                    margin-top: -.3rem;
                }
            }
        }
    </style>



    <div>
        <div class="col-12 border p-3">
            <table id="DT_load" class=" " style="width: 100%;font-size: 10px  ;">
                <thead>
                    <tr>
                        <th><p style="font-size: 32px; color:blue">  </p></th>

                    </tr>
                </thead>
            </table>
            <div class="row">
                <div class="text-center text-white col-3">
                </div>
                <div class="text-center text-white col-3">
                </div>
                <div class=" text-center text-white col-3">
                </div>
                <div class=" text-center text-white col-3">
                    <a asp-page="../Index"
                       role="button"
                       class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">

                        Retour
                    </a>
                </div>
            </div>
        </div>

    </div>
}
else
{

    Response.Redirect("/Identity/Account/Login");
}


@section Scripts{
    <script src="~/js/sharingbuying.js"></script>





    <script>

        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        x = setInterval(function () {

            $.ajax({
                type: "GET",
                url: "/api/sharingbuying/0",
                datatype: "json",
                success: function (data) {

                    for (var i = 0, len = data.length; i < len; i++) {
                        var obj = data[i];
                        countDown = new Date(obj['discountEndDate']).getTime(),
                            now = new Date().getTime(),
                            distance = countDown - now;

                        // alert(JSON.stringify(obj));
                        //alert(obj['articleVendorsId']);

                        if (((new Date(obj['discountEndDate']).getTime() - new Date().getTime()) / 1000) / 3600 < 2) {

                            if (document.getElementById('MINUTEUR' + obj['articleVendorsId'].toString()).style.visibility == "visible") { document.getElementById('MINUTEUR' + obj['articleVendorsId'].toString()).style.visibility = "hidden"; }

                            else { document.getElementById('MINUTEUR' + obj['articleVendorsId'].toString()).style.visibility = "visible"; }
                        }


                        try {
                            if (obj['active'] == 0) {





                                document.getElementById('days' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor(distance / (day)) + ' Jours &nbsp;</strong>';
                                document.getElementById('hours' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (day)) / (hour)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('minutes' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (hour)) / (minute)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('seconds' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large;  color:black; font-family: Digital-7; \">' + Math.floor((distance % (minute)) / second).toString().padStart(2, '0') + '</strong>';



                                document.getElementById('DR' + obj['articleVendorsId'].toString()).innerHTML = '<strong>' + obj['discountRate1'] + "%" + '</strong>';
                                var inputValue;
                                if (document.getElementById('I' + obj['articleVendorsId']).value == '') inputValue = 0; else inputValue = parseInt(document.getElementById('I' + obj['articleVendorsId']).value);
                                var current = parseInt(obj['currentorderQuantity']) + inputValue;

                                document.getElementById('QT' + obj['articleVendorsId'].toString()).innerHTML = '<strong > ' + current + '<span class="textevertbleu">/' + obj['quantity1'] + '</span></strong>';

                                document.getElementById('P' + obj['articleVendorsId'].toString()).value = obj['basePrice'];

                                document.getElementById('PT' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];

                                document.getElementById('PT1' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).innerHTML = obj['currentorderQuantity'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).style['width'] = (obj['currentorderQuantity'] / obj['quantity1'] * 100) + '%';

                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).innerHTML = document.getElementById('I' + obj['articleVendorsId'].toString()).value;
                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).style['width'] = document.getElementById('I' + obj['articleVendorsId'].toString()).value / obj['quantity1'] * 100 + '%';

                                //document.getElementById('PP' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'] + ' €';
                                document.getElementById('TARGETPRICE' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice1'];


                            }


                            if (obj['active'] == 1) {

                                countDown = new Date(obj['discountEndDate']).getTime(),
                                    now = new Date().getTime(),
                                    distance = countDown - now;

                                document.getElementById('days' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor(distance / (day)) + ' Jours &nbsp;</strong>';
                                document.getElementById('hours' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (day)) / (hour)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('minutes' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (hour)) / (minute)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('seconds' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large;  color:black; font-family: Digital-7; \">' + Math.floor((distance % (minute)) / second).toString().padStart(2, '0') + '</strong>';



                                document.getElementById('DR' + obj['articleVendorsId'].toString()).innerHTML = '<strong>' + obj['discountRate1'] + "%" + '</strong>';
                                var inputValue;
                                if (document.getElementById('I' + obj['articleVendorsId']).value == '') inputValue = 0; else inputValue = parseInt(document.getElementById('I' + obj['articleVendorsId']).value);
                                var current = parseInt(obj['currentorderQuantity']) + inputValue;

                                document.getElementById('QT' + obj['articleVendorsId'].toString()).innerHTML = '<strong > ' + current + '<span class="textevertbleu">/' + obj['quantity1'] + '</span></strong>';
                                document.getElementById('P' + obj['articleVendorsId'].toString()).value = obj['basePrice'];
                                document.getElementById('PT' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];

                                document.getElementById('PT1' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).innerHTML = obj['currentorderQuantity'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).style['width'] = (obj['currentorderQuantity'] / obj['quantity1'] * 100) + '%';

                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).innerHTML = document.getElementById('I' + obj['articleVendorsId'].toString()).value;
                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).style['width'] = document.getElementById('I' + obj['articleVendorsId'].toString()).value / obj['quantity1'] * 100 + '%';

                                //document.getElementById('PP' +obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'] + ' €';
                                document.getElementById('TARGETPRICE' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice1'];


                            }


                            if (obj['active'] == 2) {
                                countDown = new Date(obj['discountEndDate']).getTime(),
                                    now = new Date().getTime(),
                                    distance = countDown - now;
                                document.getElementById('days' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor(distance / (day)) + ' Jours &nbsp;</strong>';
                                document.getElementById('hours' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (day)) / (hour)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('minutes' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (hour)) / (minute)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('seconds' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large;  color:black; font-family: Digital-7; \">' + Math.floor((distance % (minute)) / second).toString().padStart(2, '0') + '</strong>';

                                document.getElementById('DR' + obj['articleVendorsId'].toString()).innerHTML = '<strong>' + obj['discountRate2'] + "%" + '</strong>';
                                var inputValue;
                                if (document.getElementById('I' + obj['articleVendorsId']).value == '') inputValue = 0; else inputValue = parseInt(document.getElementById('I' + obj['articleVendorsId']).value);
                                var current = parseInt(obj['currentorderQuantity']) + inputValue;

                                document.getElementById('QT' + obj['articleVendorsId'].toString()).innerHTML = '<strong > ' + current + '<span class="textevertbleu">/' + obj['quantity2'] + '</span></strong>';
                                document.getElementById('P' + obj['articleVendorsId'].toString()).value = obj['discountPrice1'];
                                document.getElementById('PT' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice1'];

                                document.getElementById('PT1' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice1'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).innerHTML = obj['currentorderQuantity'];
                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).style['width'] = obj['currentorderQuantity'] / obj['quantity2'] * 100 + '%';

                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).innerHTML = document.getElementById('I' + obj['articleVendorsId'].toString()).value;
                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).style['width'] = document.getElementById('I' + obj['articleVendorsId'].toString()).value / obj['quantity2'] * 100 + '%';

                                document.getElementById('PP' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];
                                document.getElementById('TARGETPRICE' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice2'];

                            }

                            if (obj['active'] == 3) {
                                countDown = new Date(obj['discountEndDate']).getTime(),
                                    now = new Date().getTime(),
                                    distance = countDown - now;
                                document.getElementById('days' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor(distance / (day)) + ' Jours &nbsp;</strong>';
                                document.getElementById('hours' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (day)) / (hour)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('minutes' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (hour)) / (minute)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('seconds' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large;  color:black; font-family: Digital-7; \">' + Math.floor((distance % (minute)) / second).toString().padStart(2, '0') + '</strong>';

                                document.getElementById('DR' + obj['articleVendorsId'].toString()).innerHTML = '<strong>' + obj['discountRate3'] + "% " + '</strong>';
                                var inputValue;
                                if (document.getElementById('I' + obj['articleVendorsId']).value == '') inputValue = 0; else inputValue = parseInt(document.getElementById('I' + obj['articleVendorsId']).value);
                                var current = parseInt(obj['currentorderQuantity']) + inputValue;

                                document.getElementById('QT' + obj['articleVendorsId'].toString()).innerHTML = '<strong > ' + current + '<span class="textevertbleu">/' + obj['quantity3'] + '</span></strong>';
                                document.getElementById('P' + obj['articleVendorsId'].toString()).value = obj['discountPrice2'];
                                document.getElementById('PT' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice2'];

                                document.getElementById('PT1' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice2'];

                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).innerHTML = obj['currentorderQuantity'];
                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).style['width'] = obj['currentorderQuantity'] / obj['quantity3'] * 100 + '%';

                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).innerHTML = document.getElementById('I' + obj['articleVendorsId'].toString()).value;
                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).style['width'] = document.getElementById('I' + obj['articleVendorsId'].toString()).value / obj['quantity3'] * 100 + '%';

                                document.getElementById('PP' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'];
                                document.getElementById('TARGETPRICE' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice3'];

                            }



                            if (obj['active'] == 4) {
                                countDown = new Date(obj['discountEndDate']).getTime(),
                                    now = new Date().getTime(),
                                    distance = countDown - now;
                                document.getElementById('days' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor(distance / (day)) + ' Jours &nbsp;</strong>';
                                document.getElementById('hours' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (day)) / (hour)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('minutes' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large; color:black; font-family: Digital-7; \">' + Math.floor((distance % (hour)) / (minute)).toString().padStart(2, '0') + ':</strong>';
                                document.getElementById('seconds' + obj['articleVendorsId'].toString()).innerHTML = '<strong style=\"        font-size: large;  color:black; font-family: Digital-7; \">' + Math.floor((distance % (minute)) / second).toString().padStart(2, '0') + '</strong>';

                                document.getElementById('DR' + obj['articleVendorsId'].toString()).innerHTML = '<strong>' + obj['discountRate3'] + "%" + '</strong>';
                                var inputValue;
                                if (document.getElementById('I' + obj['articleVendorsId']).value == '') inputValue = 0; else inputValue = parseInt(document.getElementById('I' + obj['articleVendorsId']).value);
                                var current = parseInt(obj['currentorderQuantity']) + inputValue;

                                document.getElementById('QT' + obj['articleVendorsId'].toString()).innerHTML = '<strong > ' + current + '<span class="textevertbleu">/' + obj['quantity3'] + '</span></strong>';
                                document.getElementById('P' + obj['articleVendorsId'].toString()).value = obj['discountPrice3'];

                                document.getElementById('PT' + obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice3'];

                                // document.getElementById('PT1' +obj['articleVendorsId'].toString()).innerHTML = obj['discountPrice3'] + ' €';


                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).innerHTML = obj['currentorderQuantity'];
                                document.getElementById('PALL' + obj['articleVendorsId'].toString()).style['width'] = obj['currentorderQuantity'] / obj['quantity3'] * 100 + '%';

                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).innerHTML = document.getElementById('I' + obj['articleVendorsId'].toString()).value;
                                document.getElementById('PUSER' + obj['articleVendorsId'].toString()).style['width'] = document.getElementById('I' + obj['articleVendorsId'].toString()).value / obj['quantity3'] * 100 + '%';

                                document.getElementById('PP' + obj['articleVendorsId'].toString()).innerHTML = obj['basePrice'] + ' €';
                                document.getElementById('TARGETPRICE' + obj['articleVendorsId'].toString()).innerHTML = "<span class='textevert'> BRAVO ! BRAVO !</span>";
                                document.getElementById('TARGETPRICELABELHT' + obj['articleVendorsId'].toString()).innerHTML = "<span class='textevert'> </span>";
                                document.getElementById('OBJECTIF' + obj['articleVendorsId'].toString()).innerHTML = "<span class='textevert'> </span>";

                            }

                        } catch (error) {
                            //   alert(error);
                            // expected output: ReferenceError: nonExistentFunction is not defined
                            // Note - error messages will vary depending on browser
                        }







                    }

                },
                error: function (request, error) {
                    toastr.error(data.message);
                    console.log(arguments);
                    alert(" Can't do because: " + error);
                },
            });


            //do something later when date is reached
            //if (distance < 0) {
            //  clearInterval(x);
            //  'IT'S MY BIRTHDAY!;
            //}

        }, 1000)

    </script>


    <script>
    $.ajax({
        url: '/api/chart',
        type: 'POST',
    headers: {'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        if (data.success) {
        document.getElementById('NbProductInChart').innerHTML = data.nbItem;
    }
    else {
        toastr.error(data.message);
    }
    }
    });

    </script>



    <script>
        function InsertintoChart(articleVendorsId, articleId, currency, pricetype, image1, productName, productBrand, brandId,
            supplierName, lot, MinimumOrderQuantity, MaximumOrderQuantity, vat) {
            /* inputOptions can be an object or Promise */

            /*   alert(articleVendorsId);
               alert(articleId);
               alert(currency);
               alert(pricetype);
               alert(image1);
               alert(productName);
               alert(productBrand);
               alert(brandId);
               alert(supplierName);
               alert(lot);
               alert(MinimumOrderQuantity);
               alert(MaximumOrderQuantity);
               alert(vat);*/

            var data = {
                'articleVendorsId': articleVendorsId,
                'articleId': articleId,
                'quantity': document.getElementById('I' + articleVendorsId).value,
                'price': document.getElementById('PT' + articleVendorsId).innerText,
                'currency': currency,
                'pricetype': pricetype,
                'image1': image1,
                'productName': productName,
                'productBrand': productBrand,
                'brandId': brandId,
                'supplierName': supplierName,
                'lot': lot,
                'MinimumOrderQuantity': MinimumOrderQuantity,
                'MaximumOrderQuantity': MaximumOrderQuantity,
                'id': null,
                'vat': vat
            };
            //var data0 = { numberId: "1", companyId: "531" };
            //       alert(JSON.stringify(data));


            $.ajax({
                url: '/api/chart',
                type: 'GET',
                data: data,
                headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        document.getElementById('NbProductInChart').innerHTML = data.nbItem;
                        //Swal.fire(
                        //    'The Internet?',
                        //    'Ce produit a été ajouté dans votre panier',
                        //    'question'
                        //)

                        //Swal.fire({
                        //    position: 'top-end',
                        //    icon: 'success',
                        //    title: 'Ce produit a été ajouté dans votre panier',
                        //    showConfirmButton: false,
                        //    timer: 1500
                        //})

                        toastr.success(data.message);

                        //     window.location.href = "/Market";


                    }
                    else {
                        toastr.error(data.message);
                    }


                }
            });
        }
    </script>



}
