﻿@page
@model MarketPlace.Pages.FinanceList.IndexModel
<link rel="stylesheet" href="~/css/mdb.min.css" />
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/slider_bienvenue-pharmashopcenter.jpg" alt="First slide">
        </div>
    </div>
</div>

<section class="mt-4">
    <div class="row">

        <div class="col-4">

            <!-- Card -->
            <div class="card booking-card">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/1PIM-Cat.jpg" height="220" width="325" alt="Card image cap">
                    <a href="https://localhost:44378/ArticleList">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h3 class="card-title font-weight-bold"><a>GESTION DES REMISES</a></h3>
                    <!-- Data -->


                    <ul>
                        <li>
                            Gerer les remises clients
                        </li>


                    </ul>



                    <div class="row">
                        <div class="row">

                            <a class="btn text-white btn-primary" style=" font-size: 25px;        text-transform: capitalize;">C'est parti &nbsp;! </a>

                        </div>
                    </div>


                </div>

            </div>
            <!-- Card -->

        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card booking-card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/2PIM-Cat.jpg" height="220" width="325" alt="Card image cap">
                    <a href="https://localhost:44378/OrderList">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h3 class="card-title font-weight-bold"><a>GESTION PROMOTIONS</a></h3>
                    <!-- Data -->

                    <ul>
                        <li>
                            Ajouter des offres promotionnelles
                        </li>


                    </ul>


                    <!-- Text -->


                    <div class="row">
                        <div class="row">

                            <a asp-area="" asp-page="~/OrderList/" class="btn   text-white btn-primary" style="font-size: 25px; text-transform: capitalize">C'est parti &nbsp;! </a>

                        </div>
                    </div>

                    <!-- Button -->


                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card booking-card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/3PIM-Cat.jpg" height="220" width="325" alt="Card image cap">
                    <a href="https://localhost:44378/FinanceList">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h3 class="card-title font-weight-bold"><a>SUIVI DES  REVERSEMENTS</a></h3>
                    <!-- Data -->




                    <ul>
                        <li>
                            Suivi des reversements Pharmashopcenter
                        </li>


                    </ul>

                    <!-- Text -->
                    <div class="row">
                        <div class="row">
                            <a asp-area="" asp-page="~/FinanceList/Index" type="button" class="btn text-white btn-primary" style="font-size: 25px; text-transform: capitalize">C'est parti &nbsp;! </a>
                        </div>
                    </div>

                    <!-- Button -->


                </div>

            </div>
            <!-- Card -->
        </div>
    </div>

</section>

<section>

    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <div class="bg-image hover-overlay rounded ripple shadow-2-strong mb-4" data-ripple-color="light">
                <img src="~/images/marketplace.png" class="w-100" />


                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>


        </div>
    </div>
</section>


<!-- MDB -->
<script type="text/javascript" src="~/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript"></script>


@section Scripts{

}
