﻿@page
@model MarketPlace.Pages.SponsorshipList.CreateModel

@{ ViewData["Title"] = "Create"; }

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Ajouter un programme de parrainage sur ce produit
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Ajouter un programme de parrainnage sur ce produit</h2>
    </div>
</div>



<div class="mb-3 d-flex justify-content-center form-group row col-sm-4 offset-4">

    <img id="myImg" src="~/@Url.Content(Model.Article.Image1)" width="200" height="200" class="rounded">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<div class="row"></div>
<h1 class="ml-3">@Model.Article.Name</h1  >
<h2 class="ml-3">Prix de base: @Model.Article.Price € Lot de  @Model.Article.Lot</h2>


<div class="container border p-3  ">

    <form method="post" id="formDiscount">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Article.Id" />
                <input id="price" type="hidden" asp-for="Article.Price" />
                <input type="hidden" asp-for="Sponsorships.Id" />
                <input type="hidden" asp-for="Sponsorships.ArticleId" />

                <div class=" row">

                    <div class="form-group  col-4">
                        <label asp-for="Sponsorships.GodfatherAmount" class="control-label">Gain du parrain (€)</label>
                        <input asp-for="Sponsorships.GodfatherAmount" id="discountRate" class="form-control" type="text" required
                               title="This should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-4">
                        <label asp-for="Sponsorships.GodsonpAmount" class="control-label">Gain Filleuil (€)</label>
                        <input asp-for="Sponsorships.GodsonpAmount" id="discountPrice" class="form-control" type="text" required
                               title="This Sponsorship be a number with up to 2 decimal places." />

                    </div>



                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input asp-for="Sponsorships.SponsorshipstartDate" placeholder="Choisir une date" type="text" required id="#DiscountStartDate" class="form-control" value="@Model.startDate">
                            <label for="example">Date de début</label>
                            <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        </div>
                        <span asp-validation-for="Sponsorships.SponsorshipstartDate" class="text-danger"></span>

                    </div>
                    <div class="form-group col-6">
                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input asp-for="Sponsorships.SponsorshipsEndDate" placeholder="Choisir une date" required type="text" id="#DiscountEndDate" class="form-control" value="@Model.endDate">
                            <label for="example">Date de fin</label>
                            <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        </div>
                        <span asp-validation-for="Sponsorships.SponsorshipsEndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-3">

                <input id="btnSave" type="submit" value="Sauvegarder" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />

            </div>

            <div class="col-7"></div>
            <div class="col-2 py-4 text-center text-white">
                <a asp-page="index" asp-route-articleId="@Model.Article.Id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">Retour</a>
            </div>
        </div>
    </form>


</div>

@*<div class="col-12 border p-3  ">
    <form method="post" id="formdiscount">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center input-group mb-3   input-group-prepend input-group-text">

                <input type="hidden" asp-for="article.id" />
                <input id="price" type="hidden" asp-for="article.price" />
                <div asp-validation-summary="modelonly" class="text-danger"></div>
                <div class=" row">

                    <div class="form-group  col-4">
                        <label asp-for="sponsorships.godfatheramount" class="control-label">gain du parrain(€)</label>
                        <input asp-for="sponsorships.godfatheramount" id="discountrate" class="form-control" type="number" required
                               title="this should be a number with up to 2 decimal places." />

                    </div>

                    <div class="form-group col-4">
                        <label asp-for="sponsorships.godsonpamount" class="control-label">gain du filleuil(€)</label>
                        <input asp-for="sponsorships.godsonpamount" id="discountprice" class="form-control" type="number" required
                               title="this should be a number with up to 2 decimal places." />

                    </div>

               

                </div>

                <div class="row">
                    <div class="form-group col-6">

                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input asp-for="sponsorships.sponsorshipstartdate" placeholder="choisir une date" type="text" required id="#sponsorshipstartdate" class="form-control" value="@model.startdate">
                            <label for="example">date de début</label>
                            <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        </div>
                        <span asp-validation-for="sponsorships.sponsorshipstartdate" class="text-danger"></span>




                    </div>
                    <div class="form-group col-6">

                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input asp-for="sponsorships.sponsorshipsenddate" placeholder="choisir une date" required type="text" id="#discountenddate" class="form-control" value="@model.enddate">
                            <label for="example">date de fin</label>
                            <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        </div>
                        <span asp-validation-for="sponsorships.sponsorshipsenddate" class="text-danger"></span>



                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                    <input id="btnsave" type="submit" value="ajouter" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-left" />

                </div>

                <div class="col-7"></div>
                <div class="col-2 py-4 text-center text-white">
                    <a asp-page="index" asp-route-articleid="@model.article.id" class="btn btn-lg boutonbleu btn-rounded ml-0 pull-right">retour</a>
                </div>
            </div>
        </div>
   
    </form>
</div>*@

<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {           
            $('.datepicker').datepicker({
                min: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDay())
            });          
        });
    </script>
}


<script src="~/js/CustomValidation.js"></script>

@*<script>
        $(function () {
            $("#btnSave").submit(function (event) {
                event.preventDefault();
                e.alert("what's up");
                //Code for ajax verify the password then call below myJsFunction after validation
                //myJsFunction();
            });
        });
    </script>*@