﻿@page
@model MarketPlace.Pages.SponsorshipList.DetailsModel

@{ ViewData["Title"] = "Details"; }

<div id="carouselExampleControls" class="carousel slide slideshow" data-ride="carousel">
    <div class="slideshow-item">
        <img src="~/images/carousel1.jpg" alt="">
        <div class="slideshow-item-text" id="main_place">
            <h5> Gestion du <strong style="color: #76B72A; font-family: Saira">Catalogue produit</strong> </h5>
            <p>
                Ajouter un programme de parrainage sur ce produit
            </p>

        </div>
    </div>
</div>

<br />
<div class="container-fluid  row p-0 m-0  ">
    <div class=" col-12 d-flex justify-content-center ">
        <h2 class="heading    font-weight-bold textebleuinfo mb-2">Détails du programme de parrainnage</h2>
    </div>
</div>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Sponsorship.DiscountRate1)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Sponsorship.DiscountPrice1)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Sponsorship.Quantity1)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Sponsorship.BasePrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Sponsorship.DiscountStartDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Sponsorship.DiscountEndDate)
    </dd>


</dl>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sponsorship.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{

}
